{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/account.css" rel="stylesheet" type="text/css">
<script src="/static/js/account.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block overview_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    Overview
</a>
{% endblock %}

{% block detail %}
<div class="container">
    <div id="account-profile-img">
        <a id="account-change-avatar" href="{{ uri_for('change_avatar') }}">Change Avatar</a>
        <img src="{{ user.avatar_url }}">
    </div>
    <div id="account-detail">
        <div class="detail-entry" id="account-email">{{ user.email }}
            <div id="verified-icon" title="Email verified"></div>
        </div>
        <div class="detail-entry" id="account-joint-time">Joined at {{ user.created }}.</div>
        <div class="detail-entry" id="account-space-divide">--------------</div>
        <div class="detail-entry" id="account-nickname">{{ user.nickname }}</div>
        <div class="detail-entry" id="account-intro">{% if user.intro %}{{ user.intro }}{% else %}Say something to others.{% endif %}</div>
    </div>
    <!-- <div id="mine-statistic">
        <div><a class="normal-link"><span class="mine-statistic-icon bullets"></span>{{ user.bullets }}<div class="statistic-tip">Your bullets.</div></a></div>
        <div><a class="normal-link" href="{{ uri_for('subscriptions') }}"><span class="mine-statistic-icon subscriptions"></span>{{ user.subscriptions_counter }}<div class="statistic-tip">Your subscriptions.</div></a></div>
    </div> -->
</div>
<div id="account-statistic" class="container">
    <div class="statistic-entry"><label class="statistic-icon submission"></label>You have submitted <span>{{ user.videos_submitted }}</span> videos.</div>
    <div class="statistic-entry"><label class="statistic-icon watched"></label>Your videos have been watched <span>{{ user.videos_watched }}</span> times.</div>
    <div class="statistic-entry"><label class="statistic-icon visited"></label>Your space has been visited <span>{{ user.space_visited }}</span> times.</div>
    <div class="statistic-entry"><label class="statistic-icon subscribed"></label>You have <span>{{ user.subscribers_counter }}</span> subscribers.</div>
</div>
{% endblock %}
