{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/account.css" rel="stylesheet" type="text/css">
<script src="/static/account.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="account-left-bar">
    <div id="profile-area">
        <div id="profile-img-space">
            <img id="profile-img" src="{{ user.avatar_url }}" onclick="location.href='{{ uri_for('account') }}'">
        </div>
        <div id="profile-nickname">{{ user.nickname }}</div>
        <div id="profile-signature">{{ user.intro }}</div>
    </div>
    <div id="bottom-area">
        <div class="main-option" onclick="location.href='{{ uri_for('account') }}'">Account</div>
        <div class="sub-menu">
            <div class="sub-option" id="sub-overview" onclick="location.href='{{ uri_for('account') }}'">Overview</div>
            <div class="sub-option" id="sub-change-password" onclick="location.href='{{ uri_for('change_password') }}'">Change Password</div>
            <div class="sub-option" id="sub-change-avatar" onclick="location.href='{{ uri_for('change_avatar') }}'">Change Avatar</div>
            <div class="sub-option" id="sub-change-nickname" onclick="location.href='{{ uri_for('change_nickname') }}'">Change Nickname</div>
            <div class="sub-option" onclick="location.href='{{ uri_for('send_verification') }}'">Email Verification</div>
        </div>
        <div class="main-option">Video Manager</div>
        <div class="sub-menu">
            <div class="sub-option">Videos</div>
            <div class="sub-option" onclick="location.href='{{ uri_for('submit') }}'">Submission</div>
        </div>
        <div class="main-option">Subscription</div>
        <div class="main-option">Favorites</div>
        <div class="main-option">History</div>
        <div class="main-option">Messages</div>
        <div class="main-option">Personal Space</div>
    </div>
</div>
<div id="account-right-section">
    <div id="account-top-title">
        
    </div>
    {% block detail %}
    <div>
        <div class="container">
            <div id="account-profile-img">
                <img id="account-profile-img-content" src="{{ user.avatar_url }}">
                <div id="account-change-avatar" onclick="location.href='{{ uri_for('change_avatar') }}'">Change avatar</div>
            </div>
            <div id="account-detail">
                <div class="detail-entry" id="account-email">{{ user.email }}</div>
                <div class="detail-entry" id="account-joint-time">Joined at {{ user.created }}.</div>
                <div class="detail-entry" id="account-space-divide">--------------</div>
                <div class="detail-entry" id="account-nickname">{{ user.nickname }}
                    <div id="account-change-nickname" onclick="location.href='{{ uri_for('change_nickname') }}'">Change nickname</div>
                </div>
                <div class="detail-entry">Password
                    <div id="account-change-password" onclick="location.href='{{ uri_for('change_password') }}'">Change password</div>
                </div>
            </div>
            <div id="mine-statistic">
                <div><span id="personal-bullets">223,232<div>The bullets you have.</div></span></div>
                <div><span id="personal-favorites">143<div>Your favorites.</div></span></div>
                <div><span id="personal-subscriptions">143<div>Your subscriptions.</div></span></div>
            </div>
        </div>
        <div id="account-statistic" class="container">
            <div class="statistic-entry" id="statistic-submission">You have submitted <span>134</span> videos.</div>
            <div class="statistic-entry" id="statistic-watched">Your videos have been watched <span>2,134,134</span> times.</div>
            <div class="statistic-entry" id="statistic-favored">Your videos were favored <span>222,222</span> times.</div>
            <div class="statistic-entry" id="statistic-subscribed">You have <span>3,333,333</span> subscribers.</div>
            <div class="statistic-entry" id="statistic-visited">Your space have been visited <span>134</span> times.</div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}