{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/account.css" rel="stylesheet" type="text/css">
<script src="/static/account.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="account-left-bar">
    <div id="profile-area">
        <div id="profile-img-space">
            <a href="{{ uri_for('account') }}">
                <img id="profile-img" src="{{ user.avatar_url }}">
            </a>
        </div>
        <div id="profile-nickname">{{ user.nickname }}</div>
        <div id="profile-signature">{% if user.intro %}{{ user.intro }}{% else %}Say something to others.{% endif %}</div>
    </div>
    <div id="bottom-area">
        <a class="main-option" href="{{ uri_for('account') }}">Account</a>
        <div class="sub-menu">
            <a class="sub-option" id="sub-overview" href="{{ uri_for('account') }}">Overview</a>
            <a class="sub-option" id="sub-change-info" href="{{ uri_for('change_info') }}">Change Info</a>
            <a class="sub-option" id="sub-change-password" href="{{ uri_for('change_password') }}">Change Password</a>
            <a class="sub-option" id="sub-change-avatar" href="{{ uri_for('change_avatar') }}">Change Avatar</a>
        </div>
        <a class="main-option" href="{{ uri_for('manage_video') }}">Video Manager</a>
        <div class="sub-menu">
            <a class="sub-option" id="sub-videos" href="{{ uri_for('manage_video') }}">Videos</a>
            <a class="sub-option" id="sub-playlists" href="{{ uri_for('manage_playlist') }}">Playlists</a>
            <a class="sub-option" id="sub-submit" href="{{ uri_for('submit') }}">Submission</a>
        </div>
        <a class="main-option" href="{{ uri_for('subscribed_users') }}">Subscription</a>
        <div class="sub-menu">
            <a class="sub-option" id="subscribed-users" href="{{ uri_for('subscribed_users') }}">Manage Subscription</a>
            <a class="sub-option" id="subscriptions" href="{{ uri_for('subscriptions') }}">Subscriptions</a>
        </div>
        <a class="main-option" href="{{ uri_for('favorites') }}">Favorites</a>
        <div class="sub-menu">
            <a class="sub-option" id="favorites" href="{{ uri_for('favorites') }}">Favorites</a>
        </div>
        <a class="main-option" href="{{ uri_for('message') }}">Messages</a>
        <div class="sub-menu">
            <a class="sub-option" id="messages" href="{{ uri_for('message') }}">Messages</a>
            <a class="sub-option" id="mentioned" href="{{ uri_for('mentioned') }}">@Me</a>
            <a class="sub-option" id="notifications" href="{{ uri_for('notifications') }}">Notifications</a>
        </div>
        <a class="main-option" href="{{ uri_for('space_setting') }}">Personal Space</a>
        <div class="sub-menu">
            <a class="sub-option" id="space-setting" href="{{ uri_for('space_setting') }}">Space Settings</a>
        </div>
    </div>
</div>
<div id="account-right-section">
    <div id="account-top-title" class="container">
        {% block topTitle %}
        <a class="top-title active" href="{{ uri_for('account') }}">
            <div class="top-title-dot"></div>
            Overview
        </a>
        {% endblock %}
    </div>
    {% block detail %}
    <div>
        <div class="container">
            <div id="account-profile-img">
                <a id="account-change-avatar" href="{{ uri_for('change_avatar') }}">Change Avatar</a>
                <img id="account-profile-img-content" src="{{ user.avatar_url }}">
            </div>
            <div id="account-detail">
                <div class="detail-entry" id="account-email">{{ user.email }}
                    {% if user.verified %}
                    <div id="verified-icon"></div>
                    {% else %}
                    <div class="blue-link" id="resend-email-link">Resend email</div>
                    {% endif %}
                </div>
                <div class="detail-entry" id="account-joint-time">Joined at {{ user.created }}.</div>
                <div class="detail-entry" id="account-space-divide">--------------</div>
                <div class="detail-entry" id="account-nickname">{{ user.nickname }}
                </div>
                <div class="detail-entry" id="account-intro">{% if user.intro %}{{ user.intro }}{% else %}Say something to others.{% endif %}</div>
            </div>
            <div id="mine-statistic">
                <div><span id="personal-bullets">{{ user.bullets }}<div>The bullets you have.</div></span></div>
                <div><span id="personal-favorites" onclick="location.href='{{ uri_for('favorites') }}'">{{ user.favorites_counter }}<div>Your favorites.</div></span></div>
                <div><span id="personal-subscriptions" onclick="location.href='{{ uri_for('subscriptions') }}'">{{ user.subscriptions_counter }}<div>Your subscriptions.</div></span></div>
            </div>
        </div>
        <div id="account-statistic" class="container">
            <div class="statistic-entry" id="statistic-submission">You have submitted <span>{{ user.videos_submited }}</span> videos.</div>
            <div class="statistic-entry" id="statistic-watched">Your videos have been watched <span>{{ user.videos_watched }}</span> times.</div>
            <div class="statistic-entry" id="statistic-favored">Your videos were favored <span>{{ user.videos_favored }}</span> times.</div>
            <div class="statistic-entry" id="statistic-subscribed">You have <span>{{ user.subscribers_counter }}</span> subscribers.</div>
            <div class="statistic-entry" id="statistic-visited">Your space has been visited <span>{{ user.space_visited }}</span> times.</div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}