<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>Danmaku for Youtube!</title>
        <script src="https://www.youtube.com/iframe_api" type="text/javascript"></script>
        <script src="/static/jquery.min.js" type="text/javascript" ></script>
        <link href="/static/base.css" rel="stylesheet" type="text/css">
        <script src="/static/base.js" language="JavaScript" type="text/javascript"></script>
    {% endblock %}
    </head>
    <body>
    {% block navigation %}
    <div> 
        {% if message %}
            <p>Message: {{ message }}</p>
        {% endif %}
        {% if is_auth %}
            <p>Username: {{ username }}</p>
            <a href="{{ uri_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ uri_for('signin') }}">Signin</a>
            <a href="{{ uri_for('signup') }}">Signup</a>
        {% endif %}
    </div>
    <div id="user-bar-background">
        <div id="user-bar" class="container">
            <div id="logo" class="left" onclick="location.href='/'">DanTube</div>
            <div class="navi left">I'm feeling lucky!</div>
            <div id="portrait" class="navi right">Portrait
                <div id="user-box">
                    <div id="user-name">XXX</div>
                    <div id="user-at">@Me</div>
                    <div id="user-notification">My Notifications</div>
                    <div id="user-message">My Messages</div>
                    <div id="logout">Logout</div>
                </div>
            </div>
            <div id="favorites" class="navi right">Favorites</div>
            <div id="history" class="navi right">History</div>
            <div id="subscription" class="navi right">Subscriptions</div>
            <div id="submit" class="navi right" onclick="location.href='/submit'">Submit</div>
        </div>
    </div>
    <div id="navigation-bar-background">
        <div id="navigation-bar" class="container">
            <div id="home-link">Home</div>
            <div class="category">
                <div class="category-name">Anime</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Continuing Anime</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Finished Anime</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>MAD/AMV/GMV</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>MMD/3D</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Original/Voice Acting</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>General</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Music</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Music Sharing</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Cover Version</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Instruments Playing</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>VOCALOID/UTAU</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Music Selection</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Sound Mix</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Dance</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Dance</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Game</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Game Video</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Game Guides/Commentary</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Electronic Sports</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Mugen</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Entertainment</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Funny Video</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Animal Planet</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Tasty Food</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Entertainment TV Show</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Techs</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Documentary</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Various Techs</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Wild Techs</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Funny Tech Intro</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Sports</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Amazing Human</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Sports Video</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Tournament</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Movie</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Movie</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Micro/Short Film</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Trailer/Highlights</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">TV Drama</div>
                <div class="dragdown-menu">
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Continuing Drama</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Finished Drama</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Tokusatsu</span>
                    </div>
                    <div class="sub-category">
                        <span class="arrow"></span>
                        <span>Trailer/Highlights</span>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-name">Channels</div>
            </div>
            <button id="search-button" type="button"></button>
            <input type="text" name="keywords" id="search-input">
        </div>
    </div>
    {% endblock %}

    <div id="body-container" class="container">
    {% block body %}
    {% endblock %}
    </div>

    {% block footscript %}
    {% endblock %}
    </body>
</html>