<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>Danmaku for Youtube!</title>
        <script src="/static/jquery.min.js" language="JavaScript" type="text/javascript" ></script>
        <link href="/static/base.css" rel="stylesheet" type="text/css">
        <script src="/static/base.js" language="JavaScript" type="text/javascript"></script>
    {% endblock %}
    </head>
    <body>
    <noscript>
        <style type="text/css">
            #user-bar-background, #navigation-bar-background, #body-background { display:none; }
        </style>
        <div class="noscriptmsg">
            You don't have javascript enabled.  Good luck with that.
        </div>
    </noscript>
    
    {% block navigation %}
    <div id="user-bar-background">
        <div id="user-bar" class="container">
            <a id="logo" class="left" href="{{ uri_for('home') }}">DanTube</a>
            <div class="navi left link" id="feeling-lucky">I'm feeling lucky!</div>
            {% if user.is_auth %}
            <div id="portrait" class="right">
                <a id="portrait-link" href="{{ uri_for('account') }}">
                    <img id="portrait-img" onclick="location.href=''" src="{{ user.avatar_url }}">
                </a>
                </img>
                <div id="user-box">
                    <div id="user-box-nickname">{{ user.nickname }}</div>
                    <div id="user-message-container" class="container">
                        <div id="user-at">@Me</div>
                        <div id="user-notification">Notifications</div>
                        <div id="user-message">Messages</div>
                    </div>
                    <div id="user-box-bottom-line" class="container">
                        <a href="{{ uri_for('account') }}" id="user-config">
                            <span id="user-config-icon"></span>
                            <span id="user-config-text">Settings</span>
                        </a>
                        <a href="{{ uri_for('logout') }}" id="logout" class="link">Sign out</a>
                    </div>
                </div>
            </div>
            <a href="{{ uri_for('favorites') }}" class="navi right link">Favorites</a>
            <a href="{{ uri_for('history') }}" class="navi right link">History</a>
            <a href="{{ uri_for('subscriptions_quick') }}" class="navi right link">Subscriptions</a>
            <a href="{{ uri_for('submit') }}" class="navi right link">Submit</a>
            {% else %}
            <a href="{{ uri_for('signup') }}" id="signup-nav-button" class="navi right link">Sign up</a>
            <a href="{{ uri_for('signin') }}" id="signin-nav-button" class="navi right link">Sign in</a>
            {% endif %}
        </div>
    </div>
    <div id="navigation-bar-background">
        <div id="navigation-bar" class="container">
            <a id="home-link" href="{{ uri_for('home') }}">Home</a>
            {% for key in category %}
            <div class="category">
                <a class="category-name" href="{{ uri_for(key) }}">{{ key }}</a>
                <div class="dragdown-menu">
                    {% for val in subcategory[key] %}
                    <a class="sub-category" href="{{ uri_for([key,val]|join('-')) }}">
                        <span class="category-arrow"></span>
                        <span>{{ val }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <!-- <div class="category">
                <a class="category-name">Forum</a>
            </div> -->
            <form id="search-form" method="get" action="{{ uri_for('search') }}">
                <input type="text" name="keywords" id="search-input" value="{{ keywords }}">
                <button id="search-button"></button>
            </form>
        </div>
    </div>
    {% endblock %}

    <div id="body-background">
        <div id="body-container" class="container">
        {% block body %}
        {% endblock %}
        </div>
    </div>

    {% block footscript %}
    {% endblock %}
    </body>
</html>