{% extends "template/settings.html" %}
{% block head %}
{{ super() }}
<script src="/static/basics_setting.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h2>Basics Setting</h2>
<form id="basicsform" action="" method="post">
  <div>
    <label for="nickname" class="form-label" id="nickname-label">Nickname</label>
    <input type="text" class="inputtext" id="nickname" name="nickname" value="{{ nickname }}" tabindex="1"></input>
  </div>
  <div class="input-error-message" id="nickname-error">
    <span>Someone has used this name.</span>
    <div class="error-message-arrow"></div>
  </div>
  <div>
    <label for="intro" class="form-label" id="intro-label">Introduction</label>
    <textarea class="inputtextarea" id="intro" name="intro" tabindex="1">{{ intro }}</textarea>
  </div>
  <input class="basics-submit-button" type="submit" value="Update" />
</form>
{% endblock %}