{% extends "template/index.html" %}

{% block video_columns %}
{% for cat in subcategory[category_name] %}
<div class="video-column">
    <div class="block-title-line">
        <div class="block-title-head"></div>
        <!-- <a class="category-title normal-link" href="">{{ category_name }}</a>
        <span class="category-middle"></span> -->
        <a class="category-title normal-link" href="{{ uri_for(category_name + '-' + cat) }}">{{ cat }}</a>
        <div class="search-scope active">Activity</div>
        <div class="search-scope">Popular</div>
        <div class="search-scope">Newest</div>
        <div class="refresh-button">
            <span class="refresh-icon"></span>
            <span class="refresh-text">Refresh</span>
        </div>
    </div>
    <div class="horizontal-page-roll left hidden">
        <div class="horizontal-page-padding"></div>
        <span class="horizontal-page-arrow left"></span>
    </div>
    <div class="horizontal-page-roll right hidden">
        <div class="horizontal-page-padding"></div>
        <span class="horizontal-page-arrow right"></span>
    </div>
    <div class="horizontal-page-roll-canvas">
        <div class="video-slide-container" data-lines="2" data-order="Activity" data-category="{{ category_name }}" data-subcategory="{{ cat }}">
            <div class="video-list-line">
            </div>
        </div>
        <div class="video-slide-container hidden" data-lines="2" data-order="Popular" data-category="{{ category_name }}" data-subcategory="{{ cat }}">
            <div class="video-list-line">
            </div>
        </div>
        <div class="video-slide-container hidden" data-lines="2" data-order="Newest" data-category="{{ category_name }}" data-subcategory="{{ cat }}">
            <div class="video-list-line">
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
