{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<script src="/static/jquery.Jcrop.min.js" language="JavaScript" type="text/javascript"></script>
<script src="/static/change_avatar.js" language="JavaScript" type="text/javascript"></script>
<link rel="stylesheet" href="/static/jquery.Jcrop.min.css" type="text/css" />
<link rel="stylesheet" href="/static/change_avatar.css" type="text/css" />
{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('change_avatar') }}">
    <div class="top-title-dot"></div>
    Avatar
</a>
{% endblock %}

{% block detail %}
<div id="avatar-container" class="container">
  <div id="avatar-edit">
    <div id="avatar-crop-canvas">
      <div id="image-upload-hint">Select an image smaller than 50MB. Safe file type: jpg, gif, png. <br><br>Note: Animated image is not surpported.</div>
    </div>
    <form method="post" id="avatar-upload-form" enctype="multipart/form-data" class="change container">
      <div id="file-input-line">
        <input type="file" name="upload-avatar" class="file" id="upload-avatar">
        <input type="text" class="normal-input" id="upload-file-text" placeholder="Select an image">
        <div class="select-button">Select</div>
        <div class="input-error" id="file-error">Please select an image.</div>
      </div>
      <input class="save_change-button" type="submit" value="Save Change" />
      <div id="change-applying"></div>
    </form>
  </div>
  <div id="avatar-preview">
    <h3>Preview</h3>
    <div class="preview-block">
      <div id="medium-container" class="preview-container medium" >
        <img id="avatar-preview-medium" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-container medium round" >
        <img id="avatar-preview-medium-round" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-text">128 x 128</div>
    </div>
    <div class="preview-block">
      <div id="small-container" class="preview-container small">
        <img id="avatar-preview-small" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-container small round">
        <img id="avatar-preview-small-round" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-text">35 x 35</div>
    </div>
  </div>
</div>
{% endblock %}