{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/account.css" rel="stylesheet" type="text/css">
<script src="/static/js/account.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block setting_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('change_info') }}">
    <div class="top-title-dot"></div>
    Basic
</a>
<a class="top-title" href="{{ uri_for('change_password') }}">
    <div class="top-title-dot"></div>
    Password
</a>
<a class="top-title" href="{{ uri_for('change_avatar') }}">
    <div class="top-title-dot"></div>
    Avatar
</a>
{% endblock %}

{% block detail %}
<form id="change-info-form" method="post" class="change">
  <div class="input-line">
    <label for="nickname-change" class="form-label">Nickname:</label>
    <input type="text" id="nickname-change" class="normal-input" value="{{ user.nickname }}" tabindex="1" name="nickname">
    <div class="input-error" id="change-nickname-error">Please enter your nickname.</div>
  </div>
  <div class="input-line">
    <label for="self-intro-change" class="form-label">Intro:</label>
    <textarea class="normal normal-input" id="self-intro-change" name="intro" tabindex="1" placeholder="Say something to your audience.">{{ user.intro }}</textarea>
    <div class="input-error" id="self-intro-error">Please.</div>
  </div>
  <div>
      <input class="save_change-button" type="submit" value="Save Change" />
      <div id="change-applying" class="loading hidden"></div>
  </div>
</form>
{% endblock %}