{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<script src="/static/change_nickname.js" language="JavaScript" type="text/javascript"></script>
<link href="/static/signin_up.css" rel="stylesheet" type="text/css">
<style>
  .inputtextarea {
    width: 350px;
    height: 200px;
    resize: none;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
  }
</style>
{% endblock %}

{% block detail %}
<h2>Change Nickname</h2>
<form id="nicknameform" action="" method="post">
  <div>
    <label for="nickname" class="form-label" id="nickname-label">Nickname</label>
    <input type="text" class="inputtext" id="nickname" name="nickname" value="{{ user.nickname }}" tabindex="1"></input>
  </div>
  <div class="input-error-message" id="nickname-error">
    <span>Someone has used this name.</span>
    <div class="error-message-arrow"></div>
  </div>
  <input class="basics-submit-button" type="submit" value="Update" />
</form>
{% endblock %}