{% extends "template/account.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block detail %}
<form id="change-nickname-form" method="post" class="change">
  <div class="input-line">
    <label for="nickname-change" class="form-label">Nickname:</label>
    <input type="text" id="nickname-change" value="{{ user.nickname }}" tabindex="1">
    <div class="input-error" id="change-nickname-error">Please enter your nickname.</div>
  </div>
  <div>
      <input class="save_change-button" type="submit" value="Save Change" />
      <div id="save-change-message">Change applied!</div>
  </div>
</form>
{% endblock %}