{% extends "template/account.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block detail %}
<form method="POST" id="change-password-form">
    <div>
        <label>Current Password:</label>
        <input type="password" placeholder="Please enter your current password." tabindex="1"></input>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" placeholder="Please enter your new password." tabindex="2"></input>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" placeholder="Please enter your current password." tabindex="3"></input>
    </div>
    <div>
        <input class="save_change-button" type="submit" value="Save Change" />
    </div>
</form>
{% endblock %}