{% extends "template/account.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block detail %}
<form method="POST" id="change-password-form" class="change">
    <div class="input-line">
        <label for="cur-password">Current Password:</label>
        <input type="password" placeholder="Please enter your current password." tabindex="1" id="cur-password">
        <div class="input-error" id="cur-password-error">Please enter your password.</div>
    </div>
    <div class="input-line">
        <label for="new-password">New Password:</label>
        <input type="password" placeholder="Please enter your new password." tabindex="2" id="new-password">
        <div class="input-error" id="new-password-error">Please enter your password.</div>
    </div>
    <div class="input-line">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" placeholder="Please confirm your password." tabindex="3" id="confirm-password">
        <div class="input-error" id="confirm-password-error">Please enter your password.</div>
    </div>
    <div>
        <input class="save_change-button" type="submit" value="Save Change" />
        <div id="save-change-message">Change applied!</div>
    </div>
</form>
{% endblock %}