{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<script src="/static/jquery.Jcrop.min.js" language="JavaScript" type="text/javascript"></script>
<script src="/static/change_avatar.js" language="JavaScript" type="text/javascript"></script>
<link rel="stylesheet" href="/static/jquery.Jcrop.min.css" type="text/css" />
<link rel="stylesheet" href="/static/change_avatar.css" type="text/css" />
{% endblock %}

{% block detail %}
<div id="avatar-container" class="container">
  <div id="avatar-edit">
    <div id="avatar-crop-canvas">
      <div id="image-upload-hint">Select an image smaller than 50MB. Safe file type: jpg, gif, png. <br><br>Note: Image of othe type or with transparent channel may cause display problem.</div>
    </div>
    <form method="post" id="avatar-upload-form" enctype="multipart/form-data" id="avatar-upload-form" class="container">
      <div id="file-input-line" disabled>
        <input type="file" name="upload-avatar" class="file" id="upload-avatar" />
        <input type="text" placeholder="Select an image" >
        <div class="select-button">Select</div>
        <div class="input-error" id="file-error">Please enter your password.</div>
      </div>
      <input class="save_change-button" type="submit" value="Save Change" />
      <div id="save-change-message">Change applied!</div>
    </form>
  </div>
  <div id="avatar-preview">
    <h3>Preview</h3>
    <div class="preview-block">
      <div id="medium-container" class="preview-container medium" >
        <img id="avatar-preview-medium" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-container medium round" >
        <img id="avatar-preview-medium-round" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-text">128 x 128</div>
    </div>
    <div class="preview-block">
      <div id="small-container" class="preview-container small">
        <img id="avatar-preview-small" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-container small round">
        <img id="avatar-preview-small-round" src="{{ user.avatar_url }}">
      </div>
      <div class="preview-text">35 x 35</div>
    </div>
  </div>
</div>
<div id="crop-canvas-container">
  <canvas id="crop-canvas" width="256" height="256"></canvas>
</div>
{% endblock %}