{% extends "template/account.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('change_info') }}">
    <div class="top-title-dot"></div>
    Information
</a>
{% endblock %}

{% block detail %}
<form id="change-info-form" method="post" class="change">
  <div class="input-line">
    <label for="nickname-change" class="form-label">Nickname:</label>
    <input type="text" id="nickname-change" value="{{ user.nickname }}" tabindex="1" name="nickname">
    <div class="input-error" id="change-nickname-error">Please enter your nickname.</div>
  </div>
  <div class="input-line">
    <label for="self-intro-change" class="form-label">Intro:</label>
    <textarea class="normal" id="self-intro-change" name="intro" tabindex="1" placeholder="Say something to your audience.">{{ user.intro }}</textarea>
    <div class="input-error" id="self-intro-error">Please.</div>
  </div>
  <div>
      <input class="save_change-button" type="submit" value="Save Change" />
      <div id="change-applying"></div>
  </div>
</form>
{% endblock %}