{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/manage_video.css" type="text/css" />
<script src="/static/edit_playlist.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block playlists_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title" href="{{ uri_for('manage_playlist') }}">
    <div class="top-title-dot"></div>
    Playlists
</a>
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    Edit
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <form id="playlist-title-change-form" class="hidden" action="{{ uri_for('edit_playlist_info', playlist_id=playlist.id) }}" method="POST">
        <input id="playlist-type" type="text" class="hidden" name="type" value="{{ playlist.type }}">
        <input id="playlist-title-change" class="normal-input" type="text" name="title" placeholder="Title here." value="{{ playlist.title }}" tabindex="2">
        <textarea id="playlist-intro-change" class="normal-input" type="text" name="intro" placeholder="Optional introduction to your playlist." tabindex="2">{{ playlist.intro }}</textarea>
        <div id="playlist-change-buttons-line">
            <div class="inline-button create-button">Cancel</div>
            <input type="submit" class="inline-button special create-button done" value="Done">
        </div>
    </form>
    <div id="sub-title" class="playlist"><a {% if playlist.url %}href="{{ playlist.url }}"{% endif %} class="sub-title-link normal-link">{{ playlist.title }}</a><div class="edit-title-button"></div></div>
    <div id="action-select">
        <div class="selected">Actions</div>
        <div class="option">
            <a class="option-entry" href="?">Descend</a>
            <a class="option-entry" href="?ascend=1">Ascend</a>
            <div class="option-entry select">Select all</div>
            <div class="option-entry deselect">Deselect all</div>
            <div class="option-entry delete">Remove</div>
        </div>
    </div>
    <div class="inline-button sub" id="add-videos-button">Add videos</div>
</div>
<div class="edit-playlists-container">
</div>
{% endblock %}

{% block popup_window %}
<div class="popup-window-container remove">
    <div class="popup-window-center">
        <div class="popup-window-padding"></div>
        <div class="popup-window-box">
            <div class="ajax-icon warning"></div>
            <div class="delete-confirm-message">Are you sure to remove the following video(s) from the list?</div>
            <div class="delete-target-name">sdf</div>
            <div class="delete-buttons-line">
                <div class="inline-button delete-button">Cancel</div>
                <input class="inline-button special delete-button" type="button" value="Remove">
            </div>
        </div>
    </div>
</div>
<div class="popup-window-container add-to">
    <div class="popup-window-center wide">
        <div class="popup-window-padding"></div>
        <div class="popup-window-box add-search">
            <div class="add-search-title-line">
                <div class="add-search-title">Select videos to add</div>
                <form id="search-video-form" class="sub-search-block none-float" method="POST" action="{{ uri_for('search_video_to_list') }}">
                    <input class="sub-search-input" type="text" name="keywords" placeholder="Keywords or video id" tabindex="1">
                    <input type="submit" class="sub-search-button" value="">
                </form>
            </div>
            <div class="popup-video-container"></div>
            <div class="choose-buttons-line">
                <div class="inline-button add-button">Cancel</div>
                <input class="inline-button special add-button" type="button" value="Add">
            </div>
        </div>
    </div>
</div>
{% endblock %}
