{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/manage_video.css" type="text/css" />
{% endblock %}

{% block overview_active %}{% endblock %}
{% block favorites_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('favorites') }}">
    <div class="top-title-dot"></div>
    Favorites
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line" class="container">
  <div id="sub-title">{{ favorites_counter }}/{{ favorites_limit }} Video{% if favorites_counter > 0 %}s{% endif %}</div>
  <div id="action-select">
      <div class="selected">Actions</div>
      <div class="option">
          <div class="option-entry select">Select all</div>
          <div class="option-entry deselect">Deselect all</div>
          <div class="option-entry delete">Remove</div>
      </div>
  </div>
</div>
<div class="favortite-video-container">
  {% if total_pages == 0 %}
  <div class="content-entry none">No videos found.</div>
  {% endif %}
  {% for video in videos %}
  <div class="content-entry {{ video.id_num }}">
    <a class="video-img" href="{{ video.url }}" target="_blank">
        <img class="video-img" src="{{ video.thumbnail_url }}">
    </a>
    <div class="video-info">
        <div>
            <div class="video-category">{{ video.category }}</div>
            <div class="video-category-arrow"></div>
            <div class="video-category">{{ video.subcategory }}</div>
            <div class="video-time">{{ video.created }}</div>
        </div>
        <div>
            <a href="{{ video.url }}" class="video-title favored" target="_blank">{{ video.title }}</a>
        </div>
        <div class="video-statistic favored">
            <div class="video-statistic-entry">Views: <span class="commas_number">{{ video.hits }}</span></div>
            <div class="video-statistic-entry">Favors: <span class="commas_number">{{ video.favors }}</span></div>
            <div class="video-statistic-entry">Comments: <span class="commas_number">{{ video.comment_counter }}</span></div>
            <div class="video-statistic-entry">Bullets: <span class="commas_number">{{ video.bullets }}</span></div>
        </div>
        <div class="favored-time">
            <label>Favored at: </label>
            {{ video.favored_time }}
        </div>
    </div>
    <div class="single-checkbox" data-id="{{ video.id_num }}" data-title="{{ video.title }}"></div>
  </div>
  {% endfor %}
</div>
{% if total_pages != 0 %}
<div class="pagination-line">
  {% if cur_page > 1 %}
    <a class="page-change" href="{{ uri_for('favorites') }}?page=1"><<</a>
    <a class="page-change" href="{{ uri_for('favorites') }}?page={{ cur_page - 1 }}"><</a>
  {% endif %}
  {% for p in pages %}
    <a class="page-num {% if p == cur_page %}active{% endif %}" href="{{ uri_for('favorites') }}?page={{ p }}">{{ p }}</a>
  {% endfor %}
  {% if cur_page < total_pages %}
    <a class="page-change" href="{{ uri_for('favorites') }}?page={{ cur_page + 1 }}">></a>
    <a class="page-change" href="{{ uri_for('favorites') }}?page={{ total_pages }}">>></a>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block popup_window %}
<div class="popup-window-container remove">
    <div class="popup-window-center">
        <div class="popup-window-padding"></div>
        <div class="popup-window-box">
            <div class="ajax-icon warning"></div>
            <div class="delete-confirm-message">Are you sure to remove the following video(s) from your favorites?</div>
            <div class="delete-target-name">ffffd</div>
            <div class="delete-buttons-line container">
                <input class="inline-button special delete-button" type="button" value="Remove">
                <div class="inline-button delete-button">Cancel</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
