{% extends "template/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<h2>Find password by email</h2>
{% if error %}
  <p>{{ error }}</p>
{% endif %}
<form id="identifyform" action="{{ uri_for('forgot_password') }}" method="post">
  <label for="email-or-nickname" class="form-label">Email or Nickname:</label>
  <input type="text" class="inputtext" id="email-or-nickname" name="email-or-nickname" tabindex="1" placeholder="Enter your email or nickname"></input>
  <input class="forgot-password-button" type="submit" value="Send email" />
</form>
{% endblock %}