{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/signin_up.css" rel="stylesheet" type="text/css">
<script src="/static/forgot_password_reset.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="signin_up-container">
    <div id="signin_up-header">Password reset</div>
    <form id="resetpasswordform" method="post">
        <div class="input-line">
            <label for="new-password" class="form-label">New password:</label>
            <div class="input-error" id="new-password-error">Email address invalid.</div>
            <input type="password" class="normal-input inputpassword" name="new_password" id="new-password" tabindex="1" placeholder="Please enter your new password.">
        </div>
        <div class="input-line">
            <label for="confirm-password" class="form-label">Re-enter new password:</label>
            <div class="input-error" id="confirm-password-error">Email address invalid.</div>
            <input type="password" class="normal-input inputpassword" id="confirm-password" tabindex="1" placeholder="Please confirm your password.">
        </div>
        <div>
            <input class="signin_up-button" type="submit" value="Reset" />
        </div>
    </form>
</div>
{% endblock %}