{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/history.css" type="text/css" />
<script src="/static/history.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="block-title-line">
    <div class="block-title-head"></div>
    <div class="category-title">History</div>
    {% if type == 'comment' %}
    <a class="search-scope" href="?type=view">Views</a>
    <a class="search-scope active" href="?type=comment">Comments</a>
    <a class="search-scope" href="?type=danmaku">Danmaku</a>
    {% elif type == 'danmaku' %}
    <a class="search-scope" href="?type=view">Views</a>
    <a class="search-scope" href="?type=comment">Comments</a>
    <a class="search-scope active" href="?type=danmaku">Danmaku</a>
    {% else %}
    <a class="search-scope active" href="?type=view">Views</a>
    <a class="search-scope" href="?type=comment">Comments</a>
    <a class="search-scope" href="?type=danmaku">Danmaku</a>
    {% endif %}
</div>
<div class="history-container">
</div>
{% endblock %}
