{% extends "template/history.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block scope %}
<a class="search-scope" href="{{ uri_for('history') }}">Views</a>
<a class="search-scope active">Comments</a>
{% endblock %}

{% block history_entry %}
{% for comment in comments %}
<div class="content-entry">
    <a href="{{ user.space_url }}" target="_blank">
      <img class="user-img" src="{{ user.avatar_url_small }}">
    </a>
    <div class="message-info">
        <div class="info-line">
            <a href="{{ user.space_url }}" target="_blank" class="blue-link user-name">{{ user.nickname }}</a>
            <label class="message-time">{{ comment.created }}</label>
        </div>
        <div class="info-line">
            <label class="info-label">Post a {% if comment.type == "danmaku" %}danmaku{% elif comment.type == "comment" %}comment{% else %}reply{% endif %} in </label>
            <a class="message-title" href="{{ comment.video.url }}" target="_blank">{{ comment.video.title }}</a>
        </div>
        <div class="info-line">
            <div class="comment-content">{% autoescape False %}{{ comment.content }}{% endautoescape %}</div>
        </div>
        <div class="info-line">
          <a href="{{ comment.video.url }}?{% if comment.type == "comment" %}comment={{ comment.floorth }}{% elif comment.type == "inner_comment" %}comment={{ comment.floorth }}&reply={{ comment.inner_floorth }}{% else %}index={{ comment.clip_index }}&timestamp={{ comment.timestamp }}{% endif %}" class="blue-link" target="_blank">[Check it out]</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block pagination %}
{% if total_pages != 0 %}
<div class="pagination-line">
  {% if cur_page > 1 %}
    <a class="page-change" href="{{ uri_for('history_comment') }}?page=1"><<</a>
    <a class="page-change" href="{{ uri_for('history_comment') }}?page={{ cur_page - 1 }}"><</a>
  {% endif %}
  {% for p in pages %}
    <a class="page-num {% if p == cur_page %}active{% endif %}" href="{{ uri_for('history_comment') }}?page={{ p }}">{{ p }}</a>
  {% endfor %}
  {% if cur_page < total_pages %}
    <a class="page-change" href="{{ uri_for('history_comment') }}?page={{ cur_page + 1 }}">></a>
    <a class="page-change" href="{{ uri_for('history_comment') }}?page={{ total_pages }}">>></a>
  {% endif %}
</div>
{% endif %}
{% endblock %}