{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/history.css" type="text/css" />
{% endblock %}

{% block body %}
<div class="quick-title-line">
    <div class="quick-title-head"></div>
    <div class="quick-title">Watch History</div>
</div>
{% if videos|count == 0 %}
<div class="no-history">
  No watch history found.
</div>
{% endif %}
{% for video in videos %}
<div class="video-entry">
  <a class="video-img" href="{{ video.url }}" target="_blank">
    <img src="{{ video.thumbnail_url }}">
  </a>
  <div class="video-info">
    <div class="video-title">
      <a href="{{ video.url }}" class="video-title" target="_blank">{{ video.title }}</a>
    </div>
    <div class="uper-line">
      <label>by</label>
      <a href="" target="_blank">Markiplier</a>
    </div>
    <div class="video-statistic">
      <div class="video-statistic-entry">Views: {{ video.hits }}</div>
      <div class="video-statistic-entry">Favors: {{ video.favors }}</div>
      <div class="video-statistic-entry">Damaku: {{ video.danmaku_counter }}</div>
      <div class="video-statistic-entry">Comments: {{ video.comment_counter }}</div>
    </div>
    <div class="last-viewed">Last watched: {{ video.last_viewed_time }}</div>
  </div>
</div>
{% endfor %}
<div class="pagination-line">
  <div class="page-change"><</div>
  <div class="page-num">1</div>
  <div class="page-num active">2</div>
  <div class="page-num">3</div>
  <div class="page-change">></div>
</div>
{% endblock %}