{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/index.css" type="text/css" />
<script src="/static/videolist.js" language="JavaScript" type="text/javascript"></script>
<script src="/static/index.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="ranking-and-topic container">
    <div class="site-ranking-block container">
        <div id="ranking-slides">
            <div id="slide-container">
                {% for video in top_ten_videos[:5]%}
                <a class="slide">
                    <img src="{{ video.thumbnail_url }}" onclick="location.href='{{ video.url }}'">
                </a>
                {% endfor %}
            </div>
            <div class="slide-bottom container">
                <a class="slide-title">{{ top_ten_videos[4].title }}</a>
                <a class="slide-title">{{ top_ten_videos[3].title }}</a>
                <a class="slide-title">{{ top_ten_videos[2].title }}</a>
                <a class="slide-title">{{ top_ten_videos[1].title }}</a>
                <a class="slide-title active">{{ top_ten_videos[0].title }}</a>
                <div class="slide-dot"></div>
                <div class="slide-dot"></div>
                <div class="slide-dot"></div>
                <div class="slide-dot"></div>
                <div class="slide-dot active"></div>
            </div>
        </div>
        {% for video in top_ten_videos[5:] %}
        <a class="next-top-videos" href="{{ video.url }}">
            <div class="hover-cover">
                <div class="cover-title">{{ video.title }}</div>
                <div class="cover-uploader">Uper: {{ video.uploader.nickname }}</div>
                <div class="cover-hits">Views: {{ video.hits }}</div>
            </div>
            <img src="{{ video.thumbnail_url }}">
        </a>
        {% endfor %}
    </div>
</div>

<div class="sub-category-block container random">
    <div class="category-title-line container">
        <div class="category-title-head"></div>
        <div class="category-title random">What to Watch</div>
        <div class="more-video fresh">Refresh</div>
    </div>
    <a class="video-preview random">
        <div class="video-preview-thumbnail">
            <img src="">
            <!-- <div class="preview-time">23:20</div> -->
        </div>
        <div class="video-preview-statistic">
            <div class="video-preview-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="video-preview-hits">121,121,121</div>
            <div class="video-preview-danmaku-num">232,323</div>
        </div>
        <div class="video-preview-popup">
            <div class="popup-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="popup-statistic-line">
                <div class="popup-statistic-entry views">12323</div>
                <div class="popup-statistic-entry favorites">12323</div>
                <div class="popup-statistic-entry danmaku">12323</div>
                <div class="popup-statistic-entry bullets">12323</div>
            </div>
            <div class="popup-intro">
                <div class="popup-thumbnail">
                    <img src="">
                </div>
                <div class="popup-descript">
                    WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)Wdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                </div>
            </div>
            <div class="popup-upload-info">
                <div class="popup-uploader">UPer: OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</div>
                <div class="popup-upload-time">2015-01-18 19:20</div>
            </div>
        </div>
    </a>
    <a class="video-preview random">
        <div class="video-preview-thumbnail">
            <img src="">
            <!-- <div class="preview-time">23:20</div> -->
        </div>
        <div class="video-preview-statistic">
            <div class="video-preview-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="video-preview-hits">121,121,121</div>
            <div class="video-preview-danmaku-num">232,323</div>
        </div>
        <div class="video-preview-popup">
            <div class="popup-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="popup-statistic-line">
                <div class="popup-statistic-entry views">12323</div>
                <div class="popup-statistic-entry favorites">12323</div>
                <div class="popup-statistic-entry danmaku">12323</div>
                <div class="popup-statistic-entry bullets">12323</div>
            </div>
            <div class="popup-intro">
                <div class="popup-thumbnail">
                    <img src="">
                </div>
                <div class="popup-descript">
                    WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)Wdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                </div>
            </div>
            <div class="popup-upload-info">
                <div class="popup-uploader">UPer: OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</div>
                <div class="popup-upload-time">2015-01-18 19:20</div>
            </div>
        </div>
    </a>
    <a class="video-preview random">
        <div class="video-preview-thumbnail">
            <img src="">
            <!-- <div class="preview-time">23:20</div> -->
        </div>
        <div class="video-preview-statistic">
            <div class="video-preview-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="video-preview-hits">121,121,121</div>
            <div class="video-preview-danmaku-num">232,323</div>
        </div>
        <div class="video-preview-popup">
            <div class="popup-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="popup-statistic-line">
                <div class="popup-statistic-entry views">12323</div>
                <div class="popup-statistic-entry favorites">12323</div>
                <div class="popup-statistic-entry danmaku">12323</div>
                <div class="popup-statistic-entry bullets">12323</div>
            </div>
            <div class="popup-intro">
                <div class="popup-thumbnail">
                    <img src="">
                </div>
                <div class="popup-descript">
                    WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)Wdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                </div>
            </div>
            <div class="popup-upload-info">
                <div class="popup-uploader">UPer: OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</div>
                <div class="popup-upload-time">2015-01-18 19:20</div>
            </div>
        </div>
    </a>
    <a class="video-preview random">
        <div class="video-preview-thumbnail">
            <img src="">
            <!-- <div class="preview-time">23:20</div> -->
        </div>
        <div class="video-preview-statistic">
            <div class="video-preview-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="video-preview-hits">121,121,121</div>
            <div class="video-preview-danmaku-num">232,323</div>
        </div>
        <div class="video-preview-popup">
            <div class="popup-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="popup-statistic-line">
                <div class="popup-statistic-entry views">12323</div>
                <div class="popup-statistic-entry favorites">12323</div>
                <div class="popup-statistic-entry danmaku">12323</div>
                <div class="popup-statistic-entry bullets">12323</div>
            </div>
            <div class="popup-intro">
                <div class="popup-thumbnail">
                    <img src="">
                </div>
                <div class="popup-descript">
                    WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)Wdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                </div>
            </div>
            <div class="popup-upload-info">
                <div class="popup-uploader">UPer: OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</div>
                <div class="popup-upload-time">2015-01-18 19:20</div>
            </div>
        </div>
    </a>
    <a class="video-preview random">
        <div class="video-preview-thumbnail">
            <img src="">
            <!-- <div class="preview-time">23:20</div> -->
        </div>
        <div class="video-preview-statistic">
            <div class="video-preview-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="video-preview-hits">121,121,121</div>
            <div class="video-preview-danmaku-num">232,323</div>
        </div>
        <div class="video-preview-popup">
            <div class="popup-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="popup-statistic-line">
                <div class="popup-statistic-entry views">12323</div>
                <div class="popup-statistic-entry favorites">12323</div>
                <div class="popup-statistic-entry danmaku">12323</div>
                <div class="popup-statistic-entry bullets">12323</div>
            </div>
            <div class="popup-intro">
                <div class="popup-thumbnail">
                    <img src="">
                </div>
                <div class="popup-descript">
                    WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)Wdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                </div>
            </div>
            <div class="popup-upload-info">
                <div class="popup-uploader">UPer: OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</div>
                <div class="popup-upload-time">2015-01-18 19:20</div>
            </div>
        </div>
    </a>
</div>
{% for cat in category %}
<div class="sub-category-block container category" data-category="{{ cat }}">
    <div class="sub-category-dynamic-list">
        <div class="category-title-line container">
            <div class="category-title-head"></div>
            <div class="category-title" onclick="location.href='{{ uri_for(cat) }}'">{{ cat }}</div>
            <div class="more-video" onclick="location.href='{{ uri_for(cat) }}'">More</div>
        </div>
        <div class="video-preview-container container">
        </div>
        <div class="video-pagination-line">
        </div>
    </div>
    <div class="sub-category-side-line">
        <div class="side-title-line">
            <div class="side-title">Ranking</div>
        </div>
        <div class="ranking-video-container">
        </div>
        <div class="video-pagination-line">
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}