{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/index.css" rel="stylesheet" type="text/css">
<script src="/static/index.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="player"></div>
{% endblock %}
<form action="{{ uri_for('danmaku') }}" method="post">
  <input class="text" name="content" type="text"/>
  <input type="submit" value="Post" class="button">
</form>
<form action="{{ uri_for('video') }}" method="post">
  <input class="text" name="raw_url" type="text"/>
  <input class="text" name="description" type="text"/>
  <input type="submit" value="Submit" class="button">
</form>
{% endblock %}