{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/player.css" rel="stylesheet" type="text/css">
<script src="/static/index.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="player-container" class="container">
	<div id="player-controller">
		<div id="player"></div>
		<div id="controller" class="container">
			<div id="full-screen" class="off"></div>
			<div id="wide-screen" class="off"></div>
			<div id="loop-switch" class="on"></div>
			<div id="danmaku-switch" class="on"></div>
			<div id="volume-switch" class="on"></div>
			<div id="progress-number"></div>
			<div id="play-pause-button" class="play"></div>
			<div id="progress-bar-background"></div>
			<div id="progress-bar-buffered"></div>
			<div id="progress-bar-played"></div>
			<div id="progress-pointer"></div>
		</div>
		<div id="shooter"></div>
	</div>
	<div id="danmaku-pool"></div>
	</ul>
</div>
{% endblock %}