{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/manage_video.css" type="text/css" />
<script src="/static/manage_playlist.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block playlists_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('manage_playlist') }}">
    <div class="top-title-dot"></div>
    Playlists
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <div id="sub-title"><span class="commas_number">{{ user.playlists_created }}</span> Playlist<span class="plural">{% if user.playlists_created > 1 %}s{% endif %}</span></div>
    <form class="sub-search-block" method="get" action="">
        <input class="sub-search-input" type="text" name="keywords" placeholder="Search Playlists" value="{{ list_keywords }}" tabindex="2">
        <input type="submit" class="sub-search-button" value="">
    </form>
    <div id="action-select">
        <div class="selected">Actions</div>
        <div class="option">
            <div class="option-entry select">Select all</div>
            <div class="option-entry deselect">Deselect all</div>
            <div class="option-entry delete">Delete</div>
        </div>
    </div>
    <form id="playlist-create-button-box" action="{{ uri_for('create_playlist') }}" method="POST">
        <div id="playlist-create-button" class="inline-button sub">New Playlist</div>
        <div id="playlist-create-dropdown" class="hidden">
            <div class="playlist-title-label">Playlist type:</div>
            <div id="playlist-type-input" class="list-select">
                <div class="list-selection down hidden">
                    <div class="list-option medium">Primary</div>
                    <div class="list-option medium">Custom</div>
                </div>
                <div class="list-selected medium auto"></div>
                <input name="type" type="text" class="hidden">
            </div>
            <div class="playlist-title-label">Playlist title:</div>
            <input id="playlist-title-input" class="normal-input" type="text" name="title" placeholder="Title here." tabindex="1"/>
            <div class="playlist-title-label">Playlist intro:</div>
            <textarea id="playlist-intro-input" class="normal-input" type="text" name="intro" placeholder="Optional introduction to your playlist." tabindex="1"></textarea>
            <div id="playlist-create-buttons-line">
                <div class="inline-button create-button">Cancel</div>
                <input type="submit" class="inline-button special create-button" value="Create">
            </div>
        </div>
    </form>
</div>
<div class="manage-playlists-container">
    {% for playlist in playlists %}
    <div class="content-entry {{ playlist.id }}">
        <a class="video-img" {% if playlist.url %}href="{{ playlist.url }}"{% endif %} target="_blank">
            <img class="video-img" src="{{ playlist.thumbnail_url }}">
            <div class="video-num-box">
                <div class="video-num">{{ playlist.videos_num }}</div>
                <div class="video-num">Video{% if playlist.videos_num > 1 %}s{% endif %}</div>
            </div>
        </a>
        <div class="list-info">
            <div class="video-title">
                <a class="video-title normal-link" {% if playlist.url %}href="{{ playlist.url }}"{% endif %} target="_blank">{{ playlist.title }}</a>
            </div>
            <div class="list-intro">{{ playlist.intro }}</div>
            <div class="list-edit">
                <a class="blue-link edit-entry" href="{{ uri_for('edit_playlist', playlist_id=playlist.id) }}">[Edit Playlist]</a>
            </div>
        </div>
        <div class="single-checkbox" data-id="{{ playlist.id }}" data-title="{{ playlist.title }}"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block popup_window %}
<div class="popup-window-container remove">
    <div class="popup-window-center">
        <div class="popup-window-padding"></div>
        <div class="popup-window-box">
            <div class="ajax-icon warning"></div>
            <div class="delete-confirm-message">Are you sure to delete the following playlist(s)?</div>
            <div class="delete-target-name">sdf</div>
            <div class="delete-buttons-line">
                <div class="inline-button delete-button">Cancel</div>
                <input class="inline-button special delete-button" value="Delete" type="button">
            </div>
        </div>
    </div>
</div>
{% endblock %}
