{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/manage_video.css" type="text/css" />
<script src="/static/js/manage_danmaku.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block videos_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title" href="{{ uri_for('manage_video') }}">
    <div class="top-title-dot"></div>
    Videos
</a>
<a class="top-title" href="{{ uri_for('manage_danmaku', video_id=id) }}">
    <div class="top-title-dot"></div>
    Parts
</a>
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    Danmaku
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <a id="sub-title" class="normal-link" href="{{ video_url }}" target="_blank">{{ title }}</a>
</div>
<div class="danmaku-clip-list">
    <div class="actions-line">
        <a class="clip-title-label normal-link" href="{{ video_url }}?index={{ clip_index + 1 }}" target="_blank">
            {% if clip_title %}
                {{ clip_index + 1 }}. {{ clip_title }}
            {% else %}
                Part {{ clip_index + 1 }}
            {% endif %}
        </a>
        <div class="list-select pool">
            <div class="list-selection down hidden">
                {% if danmaku_num %}<div class="list-option medium" data-type="danmaku">Normal danmaku pool</div>{% endif %}
                {% if advanced_danmaku_num %}<div class="list-option medium" data-type="advanced">Advanced danmaku pool</div>{% endif %}
                {% if subtitles_num %}<div class="list-option medium" data-type="subtitles">Subtitles pool</div>{% endif %}
                {% if code_danmaku_num %}<div class="list-option medium" data-type="code">Code danmaku pool</div>{% endif %}
            </div>
            <div class="list-selected auto medium">No pool available</div>
        </div>
        <div class="danmaku-num-label"></div>
        <div class="inline-button actions delete disabled">Delete</div>
        <div class="inline-button actions confirm disabled hidden">Confirm</div>
    </div>
    <div class="pools-block">
        <div class="pool-detail-list none">No danmaku loaded.</div>
    </div>
</div>
<input type="text" class="hidden danmaku-list normal" value="{{ danmaku_list }}">
<input type="text" class="hidden danmaku-list advanced" value="{{ advanced_danmaku_list }}">
<input type="text" class="hidden danmaku-list subtitles" value="{{ subtitles_list }}">
<input type="text" class="hidden danmaku-list code" value="{{ code_danmaku_list }}">
{% endblock %}