{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/manage_video.css" type="text/css" />
{% endblock %}

{% block videos_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title" href="{{ uri_for('manage_video') }}">
    <div class="top-title-dot"></div>
    Videos
</a>
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    Parts
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <a id="sub-title" class="normal-link" href="{{ video_url }}" target="_blank">{{ title }}</a>
</div>
<div class="danmaku-clip-list">
    <div class="danmaku-table-line label-line">
        <div class="table-label subtitle">Parts</div>
        <div class="table-label">Danmaku</div>
        <div class="table-label">Advanced</div>
        <div class="table-label">Subtitles</div>
        <div class="table-label">Code</div>
    </div>
    {% for clip in clips %}
    <div class="danmaku-table-line line">
        <div class="table-label subtitle">
            <a class="normal-link" href="{{ video_url }}?index={{ loop.index }}" target="_blank">
            {% if clip.title %}
                {{ loop.index }}. {{ clip.title }}
            {% else %}
                Part {{ loop.index }}
            {% endif %}
            </a>
        </div>
        <div class="table-label">{{ clip.danmaku_num }}</div>
        <div class="table-label">{{ clip.advanced_danmaku_num }}</div>
        <div class="table-label">{{ clip.subtitles_num }}</div>
        <div class="table-label">{{ clip.code_num }}</div>
        <a class="table-label action blue-link" href="{{ uri_for('manage_danmaku_detail', video_id=id, clip_id=clip.id) }}">[Check]</a>
    </div>
    {% endfor %}
</div>
{% endblock %}