{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/mentioned.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block at_me_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    @Me
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <div id="sub-title"><span class="commas_number">{{ new_mentions }}</span> New mention{% if new_mentions > 1 %}s{% endif %}</div>
</div>
<div class="messages-container">
</div>
{% endblock %}