{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/message_compose.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block topTitle %}
<a class="top-title" href="{{ uri_for('message') }}">
    <div class="top-title-dot"></div>
    Messages
</a>
<a class="top-title active" href="{{ uri_for('compose') }}">
    <div class="top-title-dot"></div>
    Compose
</a>
{% endblock %}

{% block detail %}
<form id="new-topic-form" class="message-block change" method="POST">
    <div class="input-line">
        <label class="message-label">To:</label>
        <input name="receiver" class="normal-input" type="text" placeholder="Who do you want to talk with?">
    </div>
    <div class="input-line">
        <label class="message-label">Subject:</label>
        <input name="subject" class="normal-input" type="text" placeholder="Make it concise">
    </div>
    <div class="input-line">
        <label class="message-label">Content:</label>
        <div id="send-message-block">
            <textarea name="content" class="normal-input" id="send-message" placeholder="No longer than 1000 characters."></textarea>
            <div class="container">
                <div class="emoticons-select"></div>
                <div class="inline-button special send">Send</div>
            </div>
        </div>
    </div>
</form>
{% endblock %}