{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/message.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block topTitle %}
<a class="top-title" href="{{ uri_for('message') }}">
    <div class="top-title-dot"></div>
    Messages
</a>
<a class="top-title active" href="{{ uri_for('compose') }}">
    <div class="top-title-dot"></div>
    Compose
</a>
{% endblock %}

{% block detail %}
<form class="message-block change" method="POST">
    <div class="input-line">
        <label>To:</label>
        <input type="text" placeholder="Who do you want to talk with?">
    </div>
    <div class="input-line">
        <label>Subject:</label>
        <input type="text" placeholder="Make it concise">
    </div>
    <div class="input-line">
        <label>Content:</label>
        <div id="send-message-block">
            <textarea id="send-message" placeholder="No longer than 1000 characters."></textarea>
            <div class="container">
                <div class="emoticons-select">
                    <div class="emoticons-menu container">
                        <div class="emoticons-option">(⌒▽⌒)</div>
                        <div class="emoticons-option">（￣▽￣）</div>
                        <div class="emoticons-option">(=・ω・=)</div>
                        <div class="emoticons-option">(｀・ω・´)</div>
                        <div class="emoticons-option">(〜￣△￣)〜</div>
                        <div class="emoticons-option">(･∀･)</div>
                        <div class="emoticons-option">(°∀°)ﾉ</div>
                        <div class="emoticons-option">(￣3￣)</div>
                        <div class="emoticons-option">╮(￣▽￣)╭</div>
                        <div class="emoticons-option">( ´_ゝ｀)</div>
                        <div class="emoticons-option">←_←</div>
                        <div class="emoticons-option">→_→</div>
                        <div class="emoticons-option">(&lt;_&lt;)</div>
                        <div class="emoticons-option">(&gt;_&gt;)</div>
                        <div class="emoticons-option">(;¬_¬)</div>
                        <div class="emoticons-option">("▔□▔)/</div>
                        <div class="emoticons-option">(ﾟДﾟ≡ﾟдﾟ)!?</div>
                        <div class="emoticons-option">Σ(ﾟдﾟ;)</div>
                        <div class="emoticons-option">Σ( ￣□￣||)</div>
                        <div class="emoticons-option">(´；ω；`)</div>
                        <div class="emoticons-option">（/TДT)/</div>
                        <div class="emoticons-option">(^・ω・^ )</div>
                        <div class="emoticons-option">(｡･ω･｡)</div>
                        <div class="emoticons-option">(●￣(ｴ)￣●)</div>
                        <div class="emoticons-option">ε=ε=(ノ≧∇≦)ノ</div>
                        <div class="emoticons-option">(´･_･`)</div>
                        <div class="emoticons-option">(-_-#)</div>
                        <div class="emoticons-option">（￣へ￣）</div>
                        <div class="emoticons-option">(￣ε(#￣) Σ</div>
                        <div class="emoticons-option">ヽ(`Д´)ﾉ</div>
                        <div class="emoticons-option">(╯°口°)╯(┴—┴</div>
                        <div class="emoticons-option">（#-_-)┯━┯</div>
                        <div class="emoticons-option">_(:3」∠)_</div>
                        <div class="emoticons-option">T_T</div>
                        <div class="emoticons-option">OTL</div>
                    </div>
                    <div class="emoticons-label">Emoticons</div>
                </div>
                <div class="send-button">Send</div>
            </div>
        </div>
    </div>
</form>
{% endblock %}