{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/message.js" language="JavaScript" type="text/javascript"></script>
<script src="/static/message_detail.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block detail %}
<div id="sub-title-line" class="container">
  <div id="sub-title">{{ subject }}</div>
  <div class="inline-button sub" onclick="location.href='{{ uri_for('message') }}'">Back</div>
</div>
<div id="message-block">
    <div id="message-contain-body">
        {% for message in messages %}
        <div class="message-detail-entry container">
            {% if message.is_sender_user %}
                <div class="message-date receive">{{ message.sent_time }}</div>
                <a class="user-img receive"><img src="{{ user.avatar_url }}"></a>
                <div class="message-content receive">{{ message.content }}</div>
            {% else %}
                <div class="message-date send">{{ message.sent_time }}</div>
                <a class="user-img send" href="{{ partner.space_url }}" target="_blank"><img src="{{ partner.avatar_url }}"></a>
                <div class="message-content send">{{ message.content }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<form id="reply-form" class="reply-block change" method="POST">
    <img id="self-img" src="{{ user.avatar_url }}">
    <div id="send-message-block">
        <textarea id="send-message" name="content" placeholder="No longer than 1000 characters."></textarea>
        <div class="container">
            <div class="emoticons-select">
                <div class="emoticons-menu container">
                    <div class="emoticons-option">(⌒▽⌒)</div>
                    <div class="emoticons-option">（￣▽￣）</div>
                    <div class="emoticons-option">(=・ω・=)</div>
                    <div class="emoticons-option">(｀・ω・´)</div>
                    <div class="emoticons-option">(〜￣△￣)〜</div>
                    <div class="emoticons-option">(･∀･)</div>
                    <div class="emoticons-option">(°∀°)ﾉ</div>
                    <div class="emoticons-option">(￣3￣)</div>
                    <div class="emoticons-option">╮(￣▽￣)╭</div>
                    <div class="emoticons-option">( ´_ゝ｀)</div>
                    <div class="emoticons-option">←_←</div>
                    <div class="emoticons-option">→_→</div>
                    <div class="emoticons-option">(&lt;_&lt;)</div>
                    <div class="emoticons-option">(&gt;_&gt;)</div>
                    <div class="emoticons-option">(;¬_¬)</div>
                    <div class="emoticons-option">("▔□▔)/</div>
                    <div class="emoticons-option">(ﾟДﾟ≡ﾟдﾟ)!?</div>
                    <div class="emoticons-option">Σ(ﾟдﾟ;)</div>
                    <div class="emoticons-option">Σ( ￣□￣||)</div>
                    <div class="emoticons-option">(´；ω；`)</div>
                    <div class="emoticons-option">（/TДT)/</div>
                    <div class="emoticons-option">(^・ω・^ )</div>
                    <div class="emoticons-option">(｡･ω･｡)</div>
                    <div class="emoticons-option">(●￣(ｴ)￣●)</div>
                    <div class="emoticons-option">ε=ε=(ノ≧∇≦)ノ</div>
                    <div class="emoticons-option">(´･_･`)</div>
                    <div class="emoticons-option">(-_-#)</div>
                    <div class="emoticons-option">（￣へ￣）</div>
                    <div class="emoticons-option">(￣ε(#￣) Σ</div>
                    <div class="emoticons-option">ヽ(`Д´)ﾉ</div>
                    <div class="emoticons-option">(╯°口°)╯(┴—┴</div>
                    <div class="emoticons-option">（#-_-)┯━┯</div>
                    <div class="emoticons-option">_(:3」∠)_</div>
                    <div class="emoticons-option">T_T</div>
                    <div class="emoticons-option">OTL</div>
                </div>
                <div class="emoticons-label">Emoticons</div>
            </div>
            <div class="send-button">Send</div>
        </div>
    </div>
</form>
{% endblock %}