{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/message.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('message') }}">
    <div class="top-title-dot"></div>
    Messages
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line" class="container">
  <div id="sub-title">{{ user.new_messages }} New Messages</div>
  <a class="inline-button sub" href="{{ uri_for('compose') }}">Compose</a>
</div>
<div class="message-container container">
</div>
<div class="pagination-line">
</div>

{% endblock %}

{% block popup_window %}
<div class="popup-window-container">
    <div class="popup-window-center">
        <div class="popup-window-padding"></div>
        <div class="popup-window-box">
            <div class="ajax-icon warning"></div>
            <div class="delete-confirm-message">Are you sure you want to delete the message?</div>
            <div class="delete-buttons-line container">
                <div class="inline-button delete-button delete">Delete</div>
                <div class="inline-button delete-button">Cancel</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}