{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/message_compose.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block overview_active %}{% endblock %}
{% block messages_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title" href="{{ uri_for('message') }}">
    <div class="top-title-dot"></div>
    Messages
</a>
<a class="top-title active" href="{{ uri_for('compose') }}">
    <div class="top-title-dot"></div>
    Compose
</a>
{% endblock %}

{% block detail %}
<form id="new-topic-form" class="message-block change" method="POST">
    <div class="input-line">
        <label class="message-label">To:</label>
        <input name="receiver" class="normal-input" type="text" tabindex="1">
        <div class="input-error">Error.</div>
    </div>
    <div class="input-line">
        <label class="message-label">Subject:</label>
        <input name="subject" class="normal-input" type="text" tabindex="1">
        <div class="input-error">Error.</div>
    </div>
    <div class="input-line">
        <label class="message-label">Content:</label>
        <div id="send-message-block">
            <textarea name="content" class="normal-input" id="send-message" tabindex="1"></textarea>
            <div class="input-error">Error.</div>
            <div class="container">
                <div class="emoticons-select"></div>
                <input type="submit" class="inline-button special send" value="Send" id="submit-message-button">
            </div>
        </div>
    </div>
</form>
{% endblock %}