{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    function count_down() {
        var sec = parseInt($('#remain-seconds').text());
        sec -= 1;
        $('#remain-seconds').text(sec);
        if (sec === 0) {
            window.location.replace('/');
        } else {
            setTimeout(count_down, 1000);
        }
    }
    setTimeout(count_down, 1000);
});
</script>
{% endblock %}

{% block body %}
<div id="notice-block-container">
    <div id="notice-block">
        <div>
            <div class="ajax-icon {{ type }}"></div>
            <div id="notice-content">{{ notice }}</div>
        </div>
        <div id="notice-redirect-line">
            <a class="blue-link" href="{{ uri_for('home') }}"> Redirecting to Home in <span id="remain-seconds">3</span> seconds...</a>
        </div>
    </div>
</div>
{% endblock %}