{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/notifications.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block overview_active %}{% endblock %}
{% block notifications_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('notifications') }}">
    <div class="top-title-dot"></div>
    Notifications
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line" class="container">
    <div id="sub-title"><span class="commas_number">{{ new_notifications }}</span> New notifcation{% if new_notifications > 1 %}s{% endif %}</div>
    <div id="action-select">
        <div class="selected">Actions</div>
        <div class="option">
            <div class="option-entry select">Select all</div>
            <div class="option-entry deselect">Deselect all</div>
            <div class="option-entry delete">Delete</div>
        </div>
    </div>
</div>
<div  class="messages-container">
    {% if total_pages == 0 %}
    <div class="content-entry none">No notifications found.</div>
    {% endif %}
    {% for notification in entries %}
    <div class="content-entry{% if not notification.read %} unread{% endif %} {{ notification.id }}">
        <div class="notification-type {{ notification.type }}"></div>
        <div class="message-info">
            <div class="info-line">
                <a class="message-title notification-title" data-id="{{ notification.id }}">{{ notification.title }}</a>
            </div>
            <div class="info-line">
                <label>{{ notification.created }}</label>
            </div>
            <div class="notification-detail">{{ notification.content }}</div>
        </div>
        <div class="single-checkbox" data-id="{{ notification.id }}" data-title="{{ notification.title }}"></div>
    </div>
    {% endfor %}
</div>
{% if total_pages != 0 %}
<div class="pagination-line">
  {% if cur_page > 1 %}
    <a class="page-change" href="{{ uri_for('notifications') }}?page=1"><<</a>
    <a class="page-change" href="{{ uri_for('notifications') }}?page={{ cur_page - 1 }}"><</a>
  {% endif %}
  {% for p in pages %}
    <a class="page-num {% if p == cur_page %}active{% endif %}" href="{{ uri_for('notifications') }}?page={{ p }}">{{ p }}</a>
  {% endfor %}
  {% if cur_page < total_pages %}
    <a class="page-change" href="{{ uri_for('notifications') }}?page={{ cur_page + 1 }}">></a>
    <a class="page-change" href="{{ uri_for('notifications') }}?page={{ total_pages }}">>></a>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block popup_window %}
<div class="popup-window-container remove">
    <div class="popup-window-center">
        <div class="popup-window-padding"></div>
        <div class="popup-window-box">
            <div class="ajax-icon warning"></div>
            <div class="delete-confirm-message">Are you sure to delete the following notification(s)?</div>
            <div class="delete-target-name">sdf</div>
            <div class="delete-buttons-line container">
                <input class="inline-button special delete-button" type="button" value="Delete">
                <div class="inline-button delete-button">Cancel</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}