{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/message.css" type="text/css" />
<script src="/static/notifications.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block overview_active %}{% endblock %}
{% block notifications_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('notifications') }}">
    <div class="top-title-dot"></div>
    Notifications
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line" class="container">
    <div id="sub-title"><span class="commas_number">{{ new_notifications }}</span> New notifcation{% if new_notifications > 1 %}s{% endif %}</div>
    <div id="action-select">
        <div class="selected">Actions</div>
        <div class="option">
            <div class="option-entry unread-only">Unread only</div>
            <div class="option-entry show-all">Show all</div>
            <div class="option-entry select">Select all</div>
            <div class="option-entry deselect">Deselect all</div>
            <div class="option-entry delete">Delete</div>
        </div>
    </div>
</div>
<div  class="messages-container">
    <!-- <div class="message-entry none">
        No notifications found.
    </div>
    <div class="message-entry unread">
        <div class="notification-type info"></div>
        <div class="message-info">
            <div class="info-line">
                <a class="message-title notification-title">How's everthing going?How's everthing going?How's everth?</a>
            </div>
            <div class="info-line">
                <label>2013-03-12 09:23</label>
            </div>
            <div class="notification-detail">
            sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf
            </div>
        </div>
        <div class="message-select-checkbox" data-id="{{ video.id_num }}" data-title="{{ video.title }}"></div>
    </div>
    <div class="message-entry">
        <div class="notification-type warning"></div>
        <div class="message-info">
            <div class="info-line">
                <a class="message-title notification-title">How's everthing going?How's everthing going?How's everth?</a>
            </div>
            <div class="info-line">
                <label>2013-03-12 09:23</label>
            </div>
            <div class="notification-detail">
            sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf
            </div>
        </div>
        <div class="message-select-checkbox" data-id="{{ video.id_num }}" data-title="{{ video.title }}"></div>
    </div> -->
</div>
{% endblock %}
