{% extends "template/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<h2>Password Reset</h2>
{% if hint %}
<p>{{ hint }}</p>
{% endif %}
<form id="resetpasswordform" action="" method="post">
{% if not has_token %}
  <div>
    <label for="old-password" class="form-label" id="password-label">Old password:</label>
    <input type="password" class="inputpassword" id="old-password" name="old-password" tabindex="1"></input>
  </div>
{% endif %}
  <div>
    <label for="new-password" class="form-label" id="password-label">New password:</label>
    <input type="password" class="inputpassword" id="new-password" name="new-password" tabindex="1"></input>
  </div>
  <div>
    <label for="confirm-password" class="form-label" id="password-label">Re-enter new password:</label>
    <input type="password" class="inputpassword" id="confirm-password" name="confirm-password" tabindex="1"></input>
  </div>
  <input class="reset-password-button" type="submit" value="Reset" />
</form>
{% endblock %}