{% extends "template/search.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block search_result %}
<div class="video-entry">
    <div class="video-img-uper">
        <a class="video-img" href="{{ video.url }}">
            <img class="video-img" src="{{ video.thumbnail_url }}">
        </a>
        <a class="video-uploader">UPer: Markipier</a>
    </div>
    <div class="video-info">
        <a href="{{ video.url }}" class="video-title">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</a>
        <div class="playlist-description">
            WHY!? WHY DID YOU HAVE TO D
        </div>
        <div class="playlist-episode">
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. [AMV]What the fuck</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
            <div class="episode-entry">12. 舰队COLLECTION</div>
        </div>
    </div>
</div>
{% endblock %}