{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/search.css" type="text/css" />
<script src="/static/js/search_uper.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block search_url %}
action="{{ uri_for('search_uper') }}"
{% endblock %}

{% block body %}
<div class="search-scope-line">
    <a class="search-scope" href="{{ uri_for('search') }}?keywords={{ keywords }}">Videos</a>
    <a class="search-scope" href="{{ uri_for('search_playlist') }}?keywords={{ keywords }}">Playlists</a>
    <a class="search-scope active">UPers</a>
</div>

<div class="search-scope-line container">
    <div class="search-result-num">Found <span class="commas_number">0</span> uper<span class="plural"></span>.</div>
</div>
<div class="result-container">
</div>
{% endblock %}