{% extends "template/search.html" %}

{% block search_url %}
action="{{ uri_for('search_playlist') }}"
{% endblock %}

{% block search_scope %}
<div class="search-scope-line">
    <a class="search-scope" href="{{ uri_for('search') }}?keywords={{ keywords }}">Videos</a>
    <a class="search-scope active">Playlists</a>
    <a class="search-scope" href="{{ uri_for('search_uper') }}?keywords={{ keywords }}">UPers</a>
</div>
{% endblock %}

{% block search_subtitle_line %}
<div class="search-result-num">Found <span class="commas_number">{{ total_found }}</span> playlists.</div>
{% endblock %}

{% block search_result %}
{% for playlist in playlists %}
<div class="content-entry">
    <div class="video-img-uper">
        <a class="video-img" {% if playlist.url %}href="{{ playlist.url }}"{% endif %} target="_blank">
            <img class="video-img" src="{{ playlist.thumbnail_url }}">
            <div class="video-num-box">
                <div class="video-num">{{ playlist.videos_num }}</div>
                <div class="video-num">Video{% if playlist.videos_num > 1 %}s{% endif %}</div>
            </div>
        </a>
        <div class="uper-line">
            <label>UPer: </label>
            <a href="{{ playlist.creator.space_url }}" target="_blank" class="video-uploader blue-link">{{ playlist.creator.nickname }}</a>
        </div>
    </div>
    <div class="video-info">
        <a {% if playlist.url %}href="{{ playlist.url }}"{% endif %} class="video-title" target="_blank">{{ playlist.title }}</a>
        <div class="playlist-description">{{ playlist.intro }}</div>
        <div class="playlist-episode">
            {% for video in playlist.videos %}
            <a class="inline-button episode-entry" href="{{ video.url }}">{{ video.index }}. {{ video.title }}</a>
            {% endfor %}
            {% if playlist.videos_num > 9 %}
            <a class="inline-button episode-entry" href="{{ playlist.url }}"> More...</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}