{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/search.css" type="text/css" />
{% endblock %}

{% block body %}
<div class="search-scope-line">
    <a class="search-scope active">Videos</a>
    <a class="search-scope">Playlists</a>
    <a class="search-scope">UPers</a>
</div>
<div class="search-scope-line">
    <a class="search-scope {% if not cur_category %}active{% endif %}" {% if cur_category %}href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}"{% endif %}>All</a>
    {% for key in category %}
        <a class="search-scope {% if key == cur_category %}active{% endif %}" {% if key != cur_category %}href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}&category={{ key }}"{% endif %}>{{ key }}</a>
    {% endfor %}
</div>
{% if cur_category %}
<div class="search-scope-line">
    <a class="search-scope {% if not cur_subcategory %}active{% endif %}" {% if cur_subcategory %}href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}&category={{ cur_category }}"{% endif %}>All</a>
    {% for val in subcategory[cur_category] %}
        <a class="search-scope {% if val == cur_subcategory %}active{% endif %}" {% if val != cur_subcategory %}href="/search?keywords={{ keywords }}&order={{ order }}&category={{ cur_category }}&subcategory={{ val }}"{% endif %}>{{ val }}</a>
    {% endfor %}
</div>
{% endif %}

<div class="search-scope-line container">
    <div class="search-result-num">Found <label class="commas_number">{{ total_found }}</label> videos.</div>
    <div id="view-method-block">
        <label id="view-method-label">Sorted by:</label>
        <div id="view-method">
            {% if order == "created" %}
            <div class="selected">Newest</div>
            {% elif order == "hits" %}
            <div class="selected">Most viewed</div>
            {% elif order == "favors" %}
            <div class="selected">Most favored</div>
            {% endif %}
            <div class="option">
                <a class="option-entry" href="{{ uri_for('search') }}?order=created&category={{ cur_category }}&subcategory={{ cur_subcategory }}&keywords={{ keywords }}">Newest</a>
                <a class="option-entry" href="{{ uri_for('search') }}?order=hits&category={{ cur_category }}&subcategory={{ cur_subcategory }}&keywords={{ keywords }}">Most viewed</a>
                <a class="option-entry" href="{{ uri_for('search') }}?order=favors&category={{ cur_category }}&subcategory={{ cur_subcategory }}&keywords={{ keywords }}">Most favored</a>
            </div>
        </div>
    </div>
</div>
{% if total_pages == 0 %}
<div class="video-entry no-result">
    No result found. Please try other keywords.
</div>
{% else %}
    {% block search_result %}
    {% for video in videos %}
    <div class="video-entry">
        <div class="video-img-uper">
            <a class="video-img" target="_blank" href="{{ video.url }}">
                <img class="video-img" src="{{ video.thumbnail_url }}">
            </a>
            <div class="uper-line">
                <label>UPer: </label>
                <a href="{{ video.uploader.space_url }}" target="_blank" class="video-uploader">{{ video.uploader.nickname }}</a>
            </div>
        </div>
        <div class="video-info">
            <div>
                <div class="video-category">Anime</div>
                <div class="video-category-arrow"></div>
                <div class="video-category">Continuing Anime</div>
                <div class="video-time">{{ video.created }}</div>
            </div>
            <a href="{{ video.url }}" class="video-title">{{ video.title }}</a>
            <div class="video-statistic">
                <div class="video-statistic-entry">Views: <label class="commas_number">{{ video.hits }}</label></div>
                <div class="video-statistic-entry">Favors: <label class="commas_number">{{ video.favors }}</label></div>
                <div class="video-statistic-entry">Comments: <label class="commas_number">{{ video.comment_counter }}</label></div>
                <div class="video-statistic-entry">Bullets: <label class="commas_number">{{ video.bullets }}</label></div>
            </div>
            <div class="video-description">
                {{ video.description }}
            </div>
            <div class="video-tags">
                {% for tag in video.tags %}
                <div class="tag-entry">{{ tag }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
    <div class="search-pagination-line">
        {% if cur_page > 1%}
            <a class="page-change" href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}&category={{ cur_category }}&subcategory={{ cur_subcategory }}&page=1"><<</a>
            <a class="page-change" href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}&category={{ cur_category }}&subcategory={{ cur_subcategory }}&page={{ cur_page - 1 }}"><</a>
        {% endif %}
        {% for p in pages %}
            <a class="page-num {% if p == cur_page %}active{% endif %}" href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}&category={{ cur_category }}&subcategory={{ cur_subcategory }}&page={{ p }}">{{ p }}</a>
        {% endfor %}
        {% if cur_page < total_pages %}
            <a class="page-change" href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}&category={{ cur_category }}&subcategory={{ cur_subcategory }}&page={{ cur_page + 1 }}">></a>
            <a class="page-change" href="{{ uri_for('search') }}?keywords={{ keywords }}&order={{ order }}&category={{ cur_category }}&subcategory={{ cur_subcategory }}&page={{ total_pages }}">>></a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
