{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/signin_up.css" rel="stylesheet" type="text/css">
<script src="/static/signup.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="signin_up-container">
    <div id="signin_up-header">Sign up</div>
    <form id="signupform" method="post">
        <div class="input-line">
            <label for="email" class="form-label">Email:</label>
            <div class="input-error" id="email-error">Email address invalid.</div>
            <input type="text" class="inputtext" id="email" name="email" tabindex="1" placeholder="Enter your email">
        </div>
        <div class="input-line">
            <label for="nickname" class="form-label">Nickname:</label>
            <div class="input-error" id="nickname-error">Email address invalid.</div>
            <input type="text" class="inputtext" id="nickname" name="nickname" tabindex="2" placeholder="Your nickname can be changed later">
        </div>
        <div class="input-line">
            <label for="password" class="form-label">Password:</label>
            <div class="input-error" id="password-error">Email address invalid.</div>
            <input type="password" class="inputpassword" id="password" name="password" tabindex="3" placeholder="New password">
        </div>
        <input class="signin_up-button" type="submit" value="Sign up"/>
        <a class="blue-link signin_up-link" href="{{ uri_for('signin') }}">Already have an account?</a>
    </form>
</div>
{% endblock %}