{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/signin_up.css" rel="stylesheet" type="text/css">
<script src="/static/signin.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="signin-container">
    <div id="signin-header">Sign in</div>
    <form id="signinform" action="{{ uri_for('signin') }}" method="post">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="inputtext" id="email" name="email" tabindex="1" value="{{ email_value }}" placeholder="Enter your email"></input>
        <div class="password-label-row">
            <label for="password" class="form-label" id="password-label">Password:</label>
            <a class="signin_up-link" id="forgot-password" href="#">Forgot password?</a>
        </div>
        <input type="password" class="inputpassword" id="password" name="password" tabindex="2" placeholder="Enter your password"></input>
        <label for="remember" class="check-label">
            <input type="checkbox" class="checkbox" id="remember" name="remember" value="1" tabindex="3" {% if remember %} checked="0" {% endif %}>
            <span>Remember me</span>
        </label>
        <input class="signin_up-button" type="submit" value="Sign in" />
        <span class="other-option">or</span>
        <a class="signin_up-link" href="{{ uri_for('signup') }}">Sign up for DanTube</a>
    </form>
</div>
{% endblock %}