{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/signin_up.css" rel="stylesheet" type="text/css">
<script src="/static/signin.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="signin_up-container">
    <div id="signin_up-header">Sign in</div>
    <form id="signinform" method="post">
        <div class="input-line">
            <div class="password-label-row">
                <label for="email" class="form-label" id="email-label">Email:</label>
                <a class="blue-link signin_up-link" id="send-veri">Send verification</a>
            </div>
            <input type="text" class="inputtext normal-input" id="email" name="email" tabindex="1" value="{{ email_value }}" placeholder="Enter your email">
        </div>
        <div class="input-line">
            <div class="password-label-row">
                <label for="password" class="form-label" id="password-label">Password:</label>
                <a class="blue-link signin_up-link" id="forgot-password" href="{{ uri_for('forgot_password') }}">Forgot password?</a>
            </div>
            <input type="password" class="inputpassword normal-input" id="password" name="password" tabindex="1" placeholder="Enter your password">
        </div>
        <label class="check-label">
            <div class="pseudo-checkbox checked"></div>
            <input type="checkbox" class="hidden" id="remember" name="remember" checked="checked">
            <span>Remember me</span>
        </label>
        <div>
            <input class="signin_up-button" type="submit" value="Sign in" />
            <span class="other-option">or</span>
            <a class="blue-link signin_up-link" href="{{ uri_for('signup') }}">Sign up for DanTube</a>
        </div>
    </form>
</div>
{% endblock %}