{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/signin.css" rel="stylesheet" type="text/css">
<script src="/static/signin.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="signin-container">
    <div id="signin-header">
        <h2>Sign in</h2>
    </div>
    <div id="signin-form-container">
        <form id="signinform" action="{{ uri_for('signin') }}" method="post">
            <div id="signin-form">
                <div class="form-error">
                    {% if form_error %}
                        <p>{{ form_error }}</p>
                    {% endif %}
                </div>
                <div class="form-body">
                    <div class="form-row">
                        <label for="username" class="form-label">Username</label>
                        {% if username_value %}
                            <input type="text" class="inputtext" id="username" name="username" tabindex="1" value="{{ username_value }}"></input>
                        {% else %}
                            <input type="text" class="inputtext" id="username" name="username" tabindex="1"></input>
                        {% endif %}
                    </div>
                    <div class="form-row">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="inputpassword" id="password" name="password" tabindex="1"></input>
                    </div>
                    <div class="remember-row">
                        <div>
                            {% if remember %}
                                <input type="checkbox" class="inputcheckbox" id="remember" name="remember" value="1" checked="0">
                            {% else %}
                                <input type="checkbox" class="inputcheckbox" id="remember" name="remember" value="1">
                            {% endif %}
                            <label for="remember" class="input-label">Remember me</label>
                        </div>
                    </div>
                    <div id="buttons">
                        <div id="signin-button">
                            <input class="button" type="submit" value="Sign in" tabindex="1" />
                        </div>
                        <div id="signup-link">
                            or
                            <strong>
                                <a href="{{ uri_for('signup') }}">Sign up for DanTube</a>
                            </strong>
                        </div>
                    </div>
                    <div id="password-reset">
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}