{% extends "template/base.html" %}

{% block page_title %}
{% if host.spacename %}{{ host.spacename }}{% else %}{{ host.nickname }}'s Space{% endif %}
{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/space.js" language="JavaScript" type="text/javascript"></script>
{% if host.space_css %}
<link rel="stylesheet" href="{{ uri_for('space_css', resource=host.space_css) }}" type="text/css" />
{% else %}
<link rel="stylesheet" href="/static/space.css" type="text/css" />
{% endif %}
{% endblock %}

{% block navigation %}
<div id="space-navigation-background">
  <div id="space-navigation" class="container">
    <div id="space-title">{% if host.spacename %}{{ host.spacename }}{% else %}{{ host.nickname }}'s Space{% endif %}</div>
    <div id="navi-link-line">
      <a class="space-navi-link {% block videos_active %}active{% endblock %}" href="{{ uri_for('space', user_id=host.id) }}">Videos</a>
      <a class="space-navi-link {% block playlists_active %}{% endblock %}" href="{{ uri_for('space_playlist', user_id=host.id) }}">Playlists</a>
      <a class="space-navi-link {% block board_active %}{% endblock %}" href="{{ uri_for('space_discuss', user_id=host.id) }}">Discussion</a>
      <a class="space-navi-link back" href="{{ uri_for('home') }}">Back</a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
{% block left_body %}
<div id="video-list">
  {% if total_pages == 0 %}
    <div class="content-entry none">
        No videos found.
    </div>
  {% endif %}
  {% for video in videos %}
    <div class="content-entry">
      <a class="video-img" href="{{ video.url }}" target="_blank">
        <img class="video-img" src="{{ video.thumbnail_url }}">
      </a>
      <div class="video-info">
        <div class="category-and-time">
          <div class="video-category">{{ video.category }}</div>
          <div class="video-category-arrow"></div>
          <div class="video-category">{{ video.subcategory }}</div>
          <div class="video-time">{{ video.created }}</div>
        </div>
        <div class="video-title">
          <a class="video-title" href="{{ video.url }}" target="_blank">{{ video.title }}</a>
        </div>
        <div class="video-intro">{{ video.description }}</div>
      </div>
    </div>
  {% endfor %}
  {% if total_pages != 0 %}
  <div class="pagination-line">
    {% if cur_page > 1 %}
      <a class="page-change" href="?page=1"><<</a>
      <a class="page-change" href="?page={{ cur_page - 1 }}"><</a>
    {% endif %}
    {% for p in pages %}
      <a class="page-num {% if p == cur_page %}active{% endif %}" href="?page={{ p }}">{{ p }}</a>
    {% endfor %}
    {% if cur_page < total_pages %}
      <a class="page-change" href="?page={{ cur_page + 1 }}">></a>
      <a class="page-change" href="?page={{ total_pages }}">>></a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}

<div id="uper-info-box">
  <img id="uper-img" src="{{ host.avatar_url }}">
  <div class="uper-buttons-line">
    <a class="inline-button uper" href="{{ uri_for('message_compose') }}?to={{ host.nickname }}">Send Message</a>
    <div class="inline-button uper subscribe-button {% if host.subscribed %}unsubscribe{% endif %}" data-id="{{ host.id }}"><span class="subscribe-icon"></span><span class="subscribe-text">{% if host.subscribed %}Subscribed{% else %}Subscribe{% endif %}</span></div>
  </div>
  <div id="uper-intro">{% if host.intro %}{{ host.intro }}{% else %}This UPer is too lazy to speak.{% endif %}</div>
  <div id="uper-statistic">
    <div class="uper-statistic-entry">
      <label class="uper-statistic-label">Views:</label>
      <div class="uper-statistic-content"><span class="commas_number">{{ host.videos_watched }}</span></div>
    </div>
    <div class="uper-statistic-entry">
      <label class="uper-statistic-label">Videos:</label>
      <div class="uper-statistic-content"><span class="commas_number">{{ host.videos_submitted }}</span></div>
    </div>
    <div class="uper-statistic-entry">
      <label class="uper-statistic-label">Subscribers:</label>
      <div class="uper-statistic-content"><span class="commas_number">{{ host.subscribers_counter }}</span></div>
    </div>
  </div>
  <div id="recent-visiter-box">
    <div id="visiter-line">Recent visiters</div>
    <div id="recent-visiter-list" class="container">
      {% for visitor in host.visitors %}
      <a class="visiter-img" href="{{ visitor.space_url }}" target="_blank">
        <img class="visiter-img" src="{{ visitor.avatar_url_small }}" title="{{ visitor.nickname }}">
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}