{% extends "template/base.html" %}

{% block page_title %}
{% if host.spacename %}{{ host.spacename }}{% else %}{{ host.nickname }}'s Space{% endif %}
{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/space.js" language="JavaScript" type="text/javascript"></script>
<script type="text/javascript">
  $('#subscribe-button').click(function(e) {
    var url = document.URL;
    $.ajax({
      type: "POST",
      url: url + '/subscribe',
      success: function(result) {
        if(!result.error) {
          alert('success');
        } else {
          console.log(result.message);                      
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(xhr.status);
        console.log(thrownError);
      }
    });
  })
</script>
{% if host.space_css %}
<link rel="stylesheet" href="{{ uri_for('space_css', resource=host.space_css) }}" type="text/css" />
{% else %}
<link rel="stylesheet" href="/static/space.css" type="text/css" />
{% endif %}
{% endblock %}

{% block navigation %}
<div id="space-navigation-background">
  <div id="space-navigation" class="container">
    <div id="space-title">{% if host.spacename %}{{ host.spacename }}{% else %}{{ host.nickname }}'s Space{% endif %}</div>
    <div id="navi-link-line">
      <a class="space-navi-link {% block videos_active %}active{% endblock %}" href="{{ uri_for('space', user_id=host.id) }}">Videos</a>
      <a class="space-navi-link {% block playlists_active %}{% endblock %}" href="{{ uri_for('space_playlist', user_id=host.id) }}">Playlists</a>
      <a class="space-navi-link {% block board_active %}{% endblock %}" href="{{ uri_for('space_board', user_id=host.id) }}">Board</a>
      <a class="space-navi-link back" href="{{ uri_for('home') }}">Back</a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
{% block left_body %}
<div id="video-list">
  {% if total_pages == 0 %}
    <div class="video-entry none">
        No videos found.
    </div>
  {% endif %}
  {% for video in videos %}
    <div class="video-entry">
      <a class="video-img" href="{{ video.url }}" target="_blank">
        <img class="video-img" src="{{ video.thumbnail_url }}">
      </a>
      <div class="video-info">
        <div class="category-and-time">
          <div class="video-category">{{ video.category }}</div>
          <div class="video-category-arrow"></div>
          <div class="video-category">{{ video.subcategory }}</div>
          <div class="video-time">{{ video.created }}</div>
        </div>
        <div class="video-title">
          <a class="video-title" href="{{ video.url }}" target="_blank">{{ video.title }}</a>
        </div>
        <div class="video-intro">{{ video.description }}</div>
      </div>
    </div>
  {% endfor %}
  {% if total_pages != 0 %}
  <div class="pagination-line">
    {% if cur_page > 1 %}
      <a class="page-change" href="?page=1"><<</a>
      <a class="page-change" href="?page={{ cur_page - 1 }}"><</a>
    {% endif %}
    {% for p in pages %}
      <a class="page-num {% if p == cur_page %}active{% endif %}" href="?page={{ p }}">{{ p }}</a>
    {% endfor %}
    {% if cur_page < total_pages %}
      <a class="page-change" href="?page={{ cur_page + 1 }}">></a>
      <a class="page-change" href="?page={{ total_pages }}">>></a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}

<div id="uper-info-box">
  <img id="uper-img" src="{{ host.avatar_url }}">
  <div class="uper-buttons-line">
    <a class="inline-button uper" href="">Send Message</a>
    <div class="inline-button uper">Subscribe</div>
  </div>
  <div id="uper-intro">{% if host.intro %}{{ host.intro }}{% else %}This UPer is too lazy to speak.{% endif %}</div>
  <div id="uper-statistic">
    <div class="uper-statistic-entry">
      <label class="uper-statistic-label">Videos:</label>
      <div class="uper-statistic-content">{{ host.videos_submitted }}</div>
    </div>
    <div class="uper-statistic-entry">
      <label class="uper-statistic-label">Views:</label>
      <div class="uper-statistic-content">{{ host.videos_watched }}</div>
    </div>
    <div class="uper-statistic-entry">
      <label class="uper-statistic-label">Subscribers:</label>
      <div class="uper-statistic-content">{{ host.subscribers_counter }}</div>
    </div>
  </div>
  <div id="recent-visiter-box">
    <div id="visiter-line">Recent visiters</div>
    <div id="recent-visiter-list" class="container">
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
      <a class="visiter-img" href="" target="_blank">
        <img class="visiter-img" src="sdf" title="sdfsdf">
      </a>
    </div>
  </div>
</div>
{% endblock %}