{% extends "template/space.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block videos_active %}{% endblock %}
{% block playlists_active %}{% endblock %}
{% block board_active %}active{% endblock %}

{% block left_body %}
<div id="message-box">
    <div class="message-entry">
        <a class="user-img" href="">
            <img class="user-img" src="">
        </a>
        <div class="message-info">
            <div class="user-info">
                <a class="user-name" href="" target="_blank">OOOOOOOOOO</a>
                <div class="message-time">2013-10-23 23:10</div>
            </div>
            <div class="message-content">sdfsdsdf</div>
        </div>
    </div>
    <div class="message-entry">
        <a class="user-img" href="">
            <img class="user-img" src="">
        </a>
        <div class="message-info">
            <div class="user-info">
                <a class="user-name" href="" target="_blank">sdf</a>
                <div class="message-time">2013-10-23 23:10</div>
            </div>
            <div class="message-content">sdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdfsdfsdsdf</div>
        </div>
    </div>
    <div class="pagination-line">
        <div class="page-num active">1</div>
    </div>
    <div id="write-message-box">
        <img id="self-img" src="">
        <form id="write-message">
            <textarea id="write-text" class="normal-input" placeholder=""></textarea>
            <div id="post-buttons-line" class="container">
                <div class="emoticons-select"></div>
                <input class="inline-button special write" type="submit" value="Post" />
            </div>
        </form>
    </div>
</div>
{% endblock %}