{% extends "template/space.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block videos_active %}{% endblock %}
{% block playlists_active %}active{% endblock %}
{% block board_active %}{% endblock %}

{% block left_body %}
<div id="playlist-list">
    {% if total_pages == 0 %}
    <div class="content-entry none">
        No playlists found.
    </div>
    {% endif %}
    {% for playlist in playlists %}
    <div class="content-entry {{ playlist.id }}">
        <a class="video-img" {% if playlist.url %}href="{{ playlist.url }}"{% endif %} target="_blank">
            <img class="video-img" src="{{ playlist.thumbnail_url }}">
            <div class="video-num-box">
                <div class="video-num">{{ playlist.videos_num }}</div>
                <div class="video-num">Video{% if playlist.videos_num > 1 %}s{% endif %}</div>
            </div>
        </a>
        <div class="video-info">
            <a {% if playlist.url %}href="{{ playlist.url }}"{% endif %} class="video-title playlist" target="_blank">{{ playlist.title }}</a>
            <div class="video-intro">{{ playlist.intro }}</div>
        </div>
    </div>
    {% endfor %}
    {% if total_pages != 0 %}
    <div class="pagination-line">
      {% if cur_page > 1 %}
        <a class="page-change" href="?page=1"><<</a>
        <a class="page-change" href="?page={{ cur_page - 1 }}"><</a>
      {% endif %}
      {% for p in pages %}
        <a class="page-num {% if p == cur_page %}active{% endif %}" href="?page={{ p }}">{{ p }}</a>
      {% endfor %}
      {% if cur_page < total_pages %}
        <a class="page-change" href="?page={{ cur_page + 1 }}">></a>
        <a class="page-change" href="?page={{ total_pages }}">>></a>
      {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}