{% extends "template/space.html" %}

{% block videos_active %}{% endblock %}
{% block upers_active %}active{% endblock %}

{% block left_body %}
{% if total_pages == 0 %}
<div class="content-entry none">
    No upers found.
</div>
{% endif %}
{% for uper in users %}
<div class="content-entry uper">
    <a class="uper-img" href="{{ uper.space_url }}">
        <img class="uper-img" src="{{ uper.avatar_url_small }}">
    </a>
    <div class="uper-info">
        <a class="uploader blue-link" href="{{ uper.space_url }}">{{ uper.nickname }}</a>
        <div class="uper-detail-line">
            <div class="uper-detail-info">Views: <span class="commas_number">{{ uper.videos_watched }}</span></div>
            <div class="uper-detail-info">Videos: <span class="commas_number">{{ uper.videos_submitted }}</span></div>
            <div class="uper-detail-info">Subscribers: <span class="commas_number">{{ uper.subscribers_counter }}</span></div>
        </div>
        <div class="uper-buttons">
            <a class="inline-button" href="{{ uri_for('message_compose') }}?to={{ uper.nickname }}">Send Message</a>
            <div class="inline-button subscribe-button {% if uper.subscribed %}unsubscribe{% endif %}" data-id="{{ uper.id }}"><span class="subscribe-icon"></span><span class="subscribe-text">{% if uper.subscribed %}Subscribed{% else %}Subscribe{% endif %}</span></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}