{% extends "template/space.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block videos_active %}{% endblock %}
{% block playlists_active %}active{% endblock %}
{% block board_active %}{% endblock %}

{% block left_body %}
<div id="playlist-list">
    <div class="video-entry">
        <a class="video-img" href="" target="_blank">
            <img class="video-img" src="">
            <div class="video-num-box">
                <div class="video-num">232</div>
                <div class="video-num">Videos</div>
            </div>
        </a>
        <div class="video-info">
            <a href="{{ video.url }}" class="video-title playlist" target="_blank">WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</a>
            <div class="video-intro">WHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO DWHY!? WHY DID YOU HAVE TO D</div>
            <div class="playlist-episode">
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. [AMV]What the fuck</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">1. WHY!? WHY DID YOU HAVE TO DO THAT!? | Exoptable Money (Prequel to Presentable Liberty)</div>
                <div class="episode-entry">12. 舰队COLLECTION</div>
            </div>
        </div>
    </div>
    <div class="pagination-line">
        <div class="page-num active">1</div>
    </div>
</div>
{% endblock %}