{% extends "template/index.html" %}

{% block video_columns %}
<div class="video-column">
    <div class="block-title-line">
        <div class="block-title-head"></div>
        <a class="category-title normal-link" href="{{ uri_for(category_name) }}">{{ category_name }}</a>
        <span class="category-middle"></span>
        <a class="category-title normal-link" href="{{ uri_for(category_name + '-' + subcategory_name) }}">{{ subcategory_name }}</a>
        <div class="refresh-button">
            <span class="refresh-icon"></span>
            <span class="refresh-text">Refresh</span>
        </div>
    </div>
    <div class="horizontal-page-roll left hidden">
        <div class="horizontal-page-padding"></div>
        <span class="horizontal-page-arrow left"></span>
    </div>
    <div class="horizontal-page-roll right">
        <div class="horizontal-page-padding"></div>
        <span class="horizontal-page-arrow right"></span>
    </div>
    <div class="horizontal-page-roll-canvas">
        <div class="video-slide-container" data-lines="3" data-order="Activity" data-category="{{ category_name }}" data-subcategory="{{ subcategory_name }}">
            <div class="video-list-line">
            </div>
        </div>
    </div>
</div>

<div class="video-column">
    <div class="block-title-line">
        <div class="block-title-head"></div>
        <a class="category-title">Newest Uploaded</a>
        <div class="refresh-button">
            <span class="refresh-icon"></span>
            <span class="refresh-text">Refresh</span>
        </div>
    </div>
    <div class="horizontal-page-roll left hidden">
        <div class="horizontal-page-padding"></div>
        <span class="horizontal-page-arrow left"></span>
    </div>
    <div class="horizontal-page-roll right">
        <div class="horizontal-page-padding"></div>
        <span class="horizontal-page-arrow right"></span>
    </div>
    <div class="horizontal-page-roll-canvas">
        <div class="video-slide-container" data-lines="3" data-order="Newest" data-category="{{ category_name }}" data-subcategory="{{ subcategory_name }}">
            <div class="video-list-line">
            </div>
        </div>
    </div>
</div>
{% endblock %}
