{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
var video_subcategories = {};
{% for key in category %}
  video_subcategories['{{ key }}'] = [{% for val in subcategory[key] %}'{{ val }}', {% endfor %}];
{% endfor %}
</script>
<script src="/static/submit.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block overview_active %}{% endblock %}
{% block submission_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    Submit
</a>
{% endblock %}

{% block detail %}
<form class="change" id="video-submission-form" method="post" enctype="multipart/form-data" action="{{ uri_for('submit_post') }}">
    <div class="input-line">
        <label for="video-total-title" class="form-label">Title:</label>
        <input type="text" id="video-total-title" class="normal-input" name="total-title" tabindex="1" placeholder="A title for all the parts.">
        <div class="input-error" id="video-title-error">Please.</div>
    </div>
    <div class="input-line">
        <label class="form-label">Thumbnail:</label>
        <label class="explain">(Optional. Animated image not supported)</label>
        <div id="thumbnail-preview">
            <input type="file" name="thumbnail" id="thumbnail-input">
            <div id="thumbnail-hint">Click to select.<br>Image will be resized to 512 x 288 (16:9).</div>
        </div>
        <div class="input-error" id="thumbnail-error">Please.</div>
    </div>
    <div class="input-line">
        <label class="form-label">Category:</label>
        <div class="list-select">
            <div class="list-selection down hidden">
                {% for key in category %}
                <div class="list-option category">{{ key }}</div>
                {% endfor %}
            </div>
            <div class="list-selected"></div>
            <input name="category" type="text" class="hidden">
        </div>
        <div class="list-select">
            <div class="list-selection down subcategory hidden">
                {% for val in subcategory[category[0]] %}
                <div class="list-option subcategory">{{ val }}</div>
                {% endfor %}
            </div>
            <div class="list-selected"></div>
            <input name="subcategory" type="text" class="hidden">
        </div>
    </div>
    <div class="input-line">
        <label for="video-description" class="form-label">Introduction:</label>
        <textarea class="normal normal-input" id="video-description" class="normal-input" name="description" tabindex="1" placeholder="A default introduction if no sub-intruduction specified."></textarea>
        <div class="input-error" id="video-description-error">Please.</div>
    </div>
    <div class="input-line">
        <label class="form-label">Type:</label>
        <div class="option-button type select" id="original-option">Original</div>
        <div class="option-button type" id="republish-option">Republish</div>
        <input type="text" name="video-type-option" value="original" class="hidden" id="video-type-option">
    </div>
    <div class="input-line">
        <label for="video-tags" class="form-label">Tags:</label>
        <input type="text" id="video-tags" class="normal-input" name="tags" tabindex="1" placeholder="e.g., flying pig, the binding of isaac, sonic">
        <div class="input-error" id="video-tags-error">Please.</div>
        <div class="check-label-line">
            <label class="form-label"></label>
            <label class="check-label">
                <div class="pseudo-checkbox checked"></div>
                <input type="checkbox" class="checkbox hidden" id="allow-add" name="allow-add" tabindex="1" checked>
                <span class="checklabel">Allow others to add tags.</span>
            </label>
        </div>
    </div>

    <div id="video-part-content">
        <div id="table-label-line">
            <div class="table-label title">Sub-title</div>
            <div class="table-label intro">Sub-intro</div>
            <div class="table-label source">Video Source</div>
            <div class="table-label url">Video URL</div>
        </div>
        <div class="video-part-line">
            <div class="video-part-drag-wrapper" ondragstart="return false;" ondrop="return false;">
                <div class="video-part-error">Title too long.</div>
                <input type="text" class="title-input normal-input" placeholder="Optional title" name="sub-title[]" tabindex="1">
                <div class="video-part-error">Title too long.</div>
                <textarea class="intro-input normal-input" placeholder="Optional sub-introduction" name="sub-intro[]" tabindex="1"></textarea>
                <div class="list-select">
                    <div class="list-selection down source hidden">
                        <div class="list-option source">YouTube</div>
                    </div>
                    <div class="list-selected source"></div>
                    <input name="source[]" type="text" class="hidden">
                </div>
                <div class="video-part-error">Title too long.</div>
                <input type="text" class="url-input normal-input" name="video-url[]" placeholder="e.g., youtube.com/watch?v=8NNTvx5eoXE" tabindex="1">
                <div class="video-part-delete" title="Remove"></div>
                <input class="hidden" type="text" name="index[]" value="-1">
            </div>
        </div>
        <div id="add-more-link">
            <label class="order-hint">*Drag to sort</label>
            <a class="blue-link add-more">Add more</a>
            <div class="input-error add-more" id="video-tags-error">Please.</div>
        </div>
    </div>

    <div>
        <input class="save_change-button" type="submit" value="Submit Video" />
        <div id="change-applying"></div>
    </div>
</form>
{% endblock %}