{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
var video_subcategories = {};
{% for key in category %}
  video_subcategories['{{ key }}'] = [{% for val in subcategory[key] %}'{{ val }}', {% endfor %}];
{% endfor %}
</script>
<script src="/static/submit.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('submit') }}">
    <div class="top-title-dot"></div>
    Submit
</a>
{% endblock %}

{% block detail %}
<div id="submit-container">
  <form class="change" id="video-submission-form" method="post" enctype="multipart/form-data">
      <div class="input-line">
        <label for="video-title">Title:</label>
        <input type="text" id="video-title" name="title" tabindex="1" placeholder="No longer than 100 characters.">
        <div class="input-error" id="video-title-error">Please.</div>
      </div>
      <div class="input-line">
        <label >Thumbnail:</label>
        <label class="explain">(Optional, animated image not supported)</label>
        <div id="thumbnail-preview">
          <input type="file" name="thumbnail" id="thumbnail-input">
          <div id="thumbnail-hint">Click to select.<br>Image will be resized to 512 x 288 (16:9).</div>
        </div>
        <div class="input-error" id="thumbnail-error">Please.</div>
      </div>
      <div class="input-line">
        <label>Category:</label>
        <select name="category"  id="select-category">
          {% for key in category %}
            <option value="{{ key }}">{{ key }}</option>
          {% endfor %}
        </select>
        <select name="subcategory" id="select-subcategory">
          {% for val in subcategory[category[0]] %}
            <option value="{{ val }}">{{ val }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-line">
        <label for="video-description" class="form-label">Description:</label>
        <textarea class="inputtextarea" id="video-description" name="description" tabindex="1" placeholder="No longer than 2000 characters."></textarea>
        <div class="input-error" id="video-description-error">Please.</div>
      </div>
      <div class="input-line">
        <label>Type:</label>
        <div class="option-button type select" id="self-made-option">Self-made</div>
        <div class="option-button type" id="republish-option">Republish</div>
        <input type="text" name="video-type-option" value="self-made" class="hidden" id="video-type-option">
      </div>
      <div class="input-line">
        <label for="video-tags">Tags:</label>
        <input type="text"  id="video-tags" name="tags" tabindex="1" placeholder="e.g., flying pig, the binding of isaac, sonic.">
        <div class="input-error" id="video-tags-error">Please.</div>
      </div>
      <div class="input-line">
        <label for="video-url">Video URL:</label>
        <label for="video-url" class="explain">(Only support youtube source for now.)</label>
        <input type="text" id="video-url" name="video-url" tabindex="1" placeholder="e,g., https://www.youtube.com/watch?v=8NNTvx5eoXE">
        <div class="input-error" id="video-url-error">Please.</div>
      </div>
      <div class="input-line">
        <label>Playlist:</label>
        <div class="option-button playlist select" id="no-playlist-option">No Playlist</div>
        <div class="option-button playlist" id="add-to-playlist-option">Add to Playlist</div>
        <div class="option-button playlist" id="new-playlist-option">New Playlist</div>
        <input type="text" name="playlist-option" value="no-playlist" class="hidden" id="playlist-option">
      </div>
      <div class="input-line hide" id="new-playlist-input">
        <label for="new-playlist-title">New Playlist Title:</label>
        <input type="text" id="new-playlist-title" name="new-playlist-title" tabindex="1" placeholder="No longer than 100 characters.">
      </div>
      <div class="input-line hide" id="add-to-playlist-input">
        <label for="select-playlist">Select Playlist:</label>
        <input type="text" id="select-playlist" name="select-playlist" tabindex="1" placeholder="Click to search and select a playlist.">
      </div>
      <div>
        <input class="save_change-button" type="submit" value="Submit Video" />
        <div id="change-applying"></div>
    </div>
  </form>
</div>
{% endblock %}