{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link href="/static/subscriptions.css" rel="stylesheet" type="text/css">
<script src="/static/subscriptions.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block overview_active %}{% endblock %}
{% block manage_subscription_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="{{ uri_for('subscribed_users') }}">
    <div class="top-title-dot"></div>
    UPers
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line" class="container">
    <div id="sub-title">26 UPers</div>
    <form class="sub-search-block">
        <input class="sub-search-input" type="text" placeholder="Search UPers">
        <input type="submit" class="sub-search-button" value="">
    </form>
</div>
<div id="subs-user-list" class="container">
  {% if subscribed_users|count == 0 %}
  <div class="no-subscription">
    You haven't subscribed to anyone.
  </div>
  {% endif %}
  {% for subs_user in subscribed_users %}
  <div class="subscription-user-box">
    <a class="user-img" href="{{ subs_user.space_url}}" target="_blank">
        <img src="{{ subs_user.avatar_url }}" title="{{ subs_user.nickname }}">
    </a>
    <div class="user-details">
      <div><a class="user-nickname" href="{{ subs_user.space_url}}" target="_blank" title="{{ subs_user.nickname }}">{{ subs_user.nickname }}</a></div>
      <a class="inline-button send-message">Send Message</a>
      <div class="inline-button unsubscribe-button" uid="{{ subs_user.id }}">Unsubscribe</div>
    </div>
  </div>
  {% endfor %}
</div>
{% if subscribed_users|count != 0 %}
<div class="pagination-line">
    <div class="page-change hide"><</div>
    <div class="page-num active">1</div>
    <div class="page-num hide">2</div>
    <div class="page-num hide">3</div>
    <div class="page-change hide">></div>
</div>
{% endif %}
{% endblock %}