{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/subscriptions.css" rel="stylesheet" type="text/css">
<script src="/static/js/subscriptions.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="subscription-block">
    <div class="block-title-line">
        <div class="block-title-head"></div>
        <div class="category-title">Subscriptions</div>
        <a class="search-scope {% if kind != 'comments' %}active{% endif %}" href="?type=uploads">Uploads</a>
        <a class="search-scope {% if kind == 'comments' %}active{% endif %}" href="?type=comments">Comments</a>
    </div>
    <div class="activity-container">
    </div>
</div>
<div id="subscription-upers">
    <div class="block-title-line">
        <div class="block-title-head"></div>
        <div class="category-title">UPers</div>
    </div>
    <div class="uper-page-container">
        <div class="upers-block" data-offset="0">
        </div>
    </div>
    <div class="pagination-arrows">
        <div class="uper-page-arrow up hidden"><span class="uper-page-arrow-image"></span></div>
        <div class="uper-page-arrow down hidden"><span class="uper-page-arrow-image"></span></div>
    </div>
</div>
{% endblock %}