{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/subscriptions.css" rel="stylesheet" type="text/css">
<script src="/static/js/subscribed.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block manage_subscription_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    UPers
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <div id="sub-title"><span class="commas_number">{{ user.subscription_counter }}</span> UPer{% if user.subscription_counter > 1 %}s{% endif %}</div>
</div>
<div id="subs-user-list">
</div>
{% endblock %}