{% extends "template/account.html" %}
{% block head %}
{{ super() }}
<link href="/static/subscriptions.css" rel="stylesheet" type="text/css">
<script src="/static/subscriptions.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block overview_active %}{% endblock %}
{% block subscriptions_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    Subscriptions
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <a class="search-scope active" href="?">All Activity</a>
    <a class="search-scope" href="?uploads=1">Uploads Only</a>
</div>
<div class="activity-container">
    <!-- <div class="activity-entry none">
        No activity found.
    </div> -->
    <!-- <div class="activity-entry">
        <a class="uploader-img" href="">
            <img class="uploader-img" src="">
        </a>
        <div class="activity-detail">
            <div class="activity-title">
                <label>Uploaded</label>
                <a href="" class="activity-title" target="_blank">WHY? ExportableWHY? ExportableWHY? ExportableWHY? Exportable</a>
            </div>
            <div class="uploader-name">
                <label>by</label>
                <a href="" class="uploader-name blue-link" target="_blank">Markiplier</a>
                <div class="activity-time">2013-10-23 23:10</div>
            </div>
            <div class="activity-intro">WHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? Exportable</div>
            <a class="video-img" href="" target="_blank">
                <img class="video-img" src="">
            </a>
        </div>
    </div>
    <div class="activity-entry">
        <a class="uploader-img" href="" target="_blank">
            <img class="uploader-img" src="">
        </a>
        <div class="activity-detail">
            <div class="activity-title">
                <label>Commented on</label>
                <a href="" class="activity-title" target="_blank">WHY? ExportableWHY? ExportableWHY? ExportableWHY? Exportable</a>
            </div>
            <div class="uploader-name">
                <label>by</label>
                <a href="" class="uploader-name">Markiplier</a>
                <div class="activity-time">2013-10-23 23:10</div>
            </div>
            <div class="activity-intro">WHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? ExportableWHY? Exportable
            </div>
            <a class="comment-check" href="">[Check it out]</a>
        </div>
    </div> -->
</div>
{% endblock %}