{% extends "template/account_base.html" %}
{% block head %}
{{ super() }}
<link href="/static/subscriptions.css" rel="stylesheet" type="text/css">
<script src="/static/subscriptions.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block subscriptions_active %}active{% endblock %}

{% block topTitle %}
<a class="top-title active" href="">
    <div class="top-title-dot"></div>
    Subscriptions
</a>
{% endblock %}

{% block detail %}
<div id="sub-title-line">
    <a class="search-scope {% if kind != 'comments' %}active{% endif %}" href="?type=uploads">Uploads</a>
    <a class="search-scope {% if kind == 'comments' %}active{% endif %}" href="?type=comments">Comments</a>
</div>
<div class="activity-container">
</div>
{% endblock %}