{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/signin_up.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function(){
        window.location.replace('/'); 
    }, 3000);
});
</script>
{% endblock %}

{% block body %}
<div id="signin_up-container">
    <div id="signin_up-header">Account activate</div>
    <form method="post">
        <div id="signup-message" {% if error %} class="fail" {% else %} class="success" {% endif %}>{{ message }}</div>
    </form>
</div>
{% endblock %}