{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/colpick.css" type="text/css"/>
<script src="/static/colpick.js" type="text/javascript"></script>
<script src="/static/ZeroClipboard.min.js" type="text/javascript"></script>
<link href="/static/video.css" rel="stylesheet" type="text/css">
<link href="/static/player.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '360',
      width: '100%',
      videoId: '{{ video.cur_vid }}',
      playerVars: {
        autoplay: 0,
        controls: 0,
        showinfo: 0,
        modestbranding: 1,
        enablejsapi: 1,
        rel: 0,
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange,
      }
    });
  }
</script>
<script src="/static/video.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="video-info-container" class="container">
  <div id="video-info">
    <div id="video-title">{{ video.title }}</div>
    <div id="video-sub-title-line" class="container">
      <a class="category-link" href="/">Home</a>
      <div class="category-arrow"></div>
      <a class="category-link" href="{{ uri_for(video.category) }}">{{ video.category }}</a>
      <div class="category-arrow"></div>
      <a class="category-link cur-subcategory" href="{{ uri_for([video.category, video.subcategory]|join('-')) }}">{{ video.subcategory }}</a>
      <div class="video-date">{{ video.created }}</div>
      <div class="video-statistic" title="views"><span class="statistic-icon views"></span><span class="commas_number">{{ video.hits }}</span></div>
      <div class="video-statistic" title="favors"><span class="statistic-icon favorites"></span><span class="commas_number">{{ video.favors }}</span></div>
      <div class="video-statistic" title="comments"><span class="statistic-icon comment"></span><span class="commas_number">{{ video.comment_counter }}</span></div>
      <div class="video-statistic" title="bullets"><span class="statistic-icon bullets"></span><span class="commas_number">{{ video.bullets }}</span></div>
      <div class="right" id="report-video">
        <div id="report-button" style="cursor:pointer">
          <span>Report</span>
        </div>
        <div id="report-box" class="popup-box">
          <form class="change" id="report-submission-form" method="post" action="{{ uri_for('report') }}">
            <input type="hidden" name="vid" id="video-id" value="{{ video.id }}">
            <div class="input-line">
              <label for="report-issue" class="form-label">Why do you want to report this video?</label>
              <select name="issue"  id="report-issue" class="form-input">
                {% for key in report_issues %}
                  <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-line">
                <label for="report-details" class="form-label">Details(optional):</label>
                <textarea id="report-details" class="form-input" name="details" tabindex="1" placeholder="Optional details" maxlength="2000"></textarea>
            </div>
            <div class="container">
              <input id="submit-report" class="inline-button special post" type="submit" value="Report" />
            </div>
          </form>
          <div id="report-dismiss" class="popup-dismiss"></div>
        </div>
      </div>
    </div>
    <div id="video-parts-container" class="container">
      {% if video.clip_titles|length > 1 %}
        {% for i in video.clip_range %}
          <a class="inline-button episode-link {% if i+1 == video.cur_index %}active{% endif %} {% if i < video.clip_range_min or i > video.clip_range_max %}hidden{% endif %}" href="{{ video.url }}?index={{ i+1 }}">
          {% if video.clip_titles[i] %}
            {{ i+1 }}. {{ video.clip_titles[i] }}
          {% else %}
            Part {{ i+1 }}
          {% endif %}
          </a>
        {% endfor %}
      {% endif %}
      {% if video.clip_titles|length > 3 %}
        <div class="inline-button more-episode" title="Expand">...</div>
        <div class="inline-button less-episode hidden" title="Collapse"><<</div>
      {% endif %}
    </div>
  </div>
  <div id="uploader-info-box">
    <a href="{{ uploader.space_url}}" target="_blank">
      <img id="uploader-img" src="{{ uploader.avatar_url_small }}">
    </a>
    <div id="uploader-info">
      <div id="uploader-link-line">
        <div id="uploader-link">
          <a class="blue-link" href="{{ uploader.space_url}}" target="_blank">{{ uploader.nickname }}</a>
        </div>
        <div class="inline-button subscribe-button {% if uploader.subscribed %}unsubscribe{% endif %}" data-id="{{ uploader.id }}"><span class="subscribe-icon"></span><span class="subscribe-text">{% if uploader.subscribed %}Subscribed{% else %}Subscribe{% endif %}</span></div>
      </div>
      <div id="uploader-intro">{{ uploader.intro }}</div>
    </div>
  </div>
</div>
<div id="player-container" class="container">
  <div id="player-controller">
    <div class="player-background">
      <div class="player-vertical-padding"></div>
      <div id="player-canvas">
        <div id="player"></div>
        <div id="switch-count-down" class="hidden">
          <span id="switch-count-span">Switch to the next part in 5 seconds.</span>
          <span id="switch-cancel">Cancel</span>
        </div>
      </div>
    </div>
    <div id="controller-background">
      <div id="controller" class="container">
        <div class="screen-size">
          <div id="page-wide" class="player-button off">
            <div class="button-tip off">Page-wide screen</div>
            <div class="button-tip on">Restore</div>
          </div>
          <div id="wide-screen" class="player-button off">
            <div class="button-tip off">Wide screen</div>
            <div class="button-tip on">Default view</div>
          </div>
          <div id="full-screen" class="player-button off">
            <div class="button-tip off">Fullscreen</div>
            <div class="button-tip on">Exit fullscreen</div>
          </div>
        </div>
        <div id="settings-controller" class="player-button on">
          <div class="button-tip on">Settings</div>
          <div id="settings-switch"></div>
          <div id="player-quick-settings">
            <div class="player-setting-line">
              <label class="player-setting-label">Speed</label>
              <div class="list-selection hidden">
                <div class="list-option speed">0.25</div>
                <div class="list-option speed">0.5</div>
                <div class="list-option speed active">1.0</div>
                <div class="list-option speed">1.25</div>
                <div class="list-option speed">1.5</div>
                <div class="list-option speed">2.0</div>
              </div>
              <div class="list-selected">1.0</div>
            </div>
            <div class="player-setting-line">
              <label class="player-setting-label">Quality</label>
              <div class="list-selection quality hidden">
                <div class="list-option quality">1080p</div>
                <div class="list-option quality">720p</div>
                <div class="list-option quality">480p</div>
                <div class="list-option quality">360p</div>
                <div class="list-option quality">240p</div>
                <div class="list-option quality active">Auto</div>
              </div>
              <div class="list-selected quality">Auto</div>
            </div>
            <div class="player-setting-line">
              <label class="player-setting-label">Auto switch</label>
              <div class="checkbox-selection off" id="auto-switch">
                <div class="checkbox-option off">Off</div>
                <div class="checkbox-option on">On</div>
              </div>
            </div>
            <div class="player-setting-line">
              <label class="player-setting-label">Loop</label>
              <div class="checkbox-selection off" id="loop-switch">
                <div class="checkbox-option off">Off</div>
                <div class="checkbox-option on">On</div>
              </div>
            </div>
          </div>
        </div>
        <div id="danmaku-controller" class="player-button on">
          <div class="button-tip on">Danmaku on</div>
          <div class="button-tip off">Danmaku off</div>
          <div id="danmaku-switch"></div>
          <div id="quick-block-box">
            <div class="opacity-title">Danmaku opacity</div>
            <div id="opacity-indicator" ondragstart="return false;" ondrop="return false;" onselectstart="return false;">
              <div id="opacity-pointer" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
              <div id="opacity-line" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
            </div>
            <label class="quick-block check-label">
              <div class="pseudo-checkbox checked"></div>
              <input type="checkbox" id="show-top-checkbox" class="checkbox hidden" checked="checked"/>
              <span>Show top danmaku</span>
            </label>
            <label class="quick-block check-label">
              <div class="pseudo-checkbox checked"></div>
              <input type="checkbox" id="show-bottom-checkbox" class="checkbox hidden" checked="checked"/>
              <span>Show bottom danmaku</span>
            </label>
            <label class="quick-block check-label">
              <div class="pseudo-checkbox checked"></div>
              <input type="checkbox" id="show-colored-checkbox" class="checkbox hidden" checked="checked"/>
              <span>Show colored danmaku</span>
            </label>
          </div>
        </div>
        <div id="volume-controller" class="player-button on">
          <div class="button-tip on">Volume on</div>
          <div class="button-tip off">Volume off</div>
          <div id="volume-switch"></div>
          <div id="volume-background">
            <div id="volume-bar"></div>
            <div id="volume-magnitude"></div>
            <div id="volume-pointer"></div>
            <div id="volume-tip">--</div>
          </div>
        </div>
        <div id="progress-number">--/--</div>
        <div id="play-pause-button" class="play"></div>
        <div id="progress-bar" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        <div id="progress-bar-background" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        <div id="progress-bar-buffered" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        <div id="progress-bar-played" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        <div id="progress-pointer" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        <div id="progress-tip">--:--</div>
      </div>
      <form id="shooter">
        <div id="danmaku-type-box" class="hidden">
          <div class="type-select-title">Font size</div>
          <div>
            <div class="danmaku-size-option small" title="12">A</div>
            <div class="danmaku-size-option medium" title="16">A</div>
            <div class="danmaku-size-option large active" title="20">A</div>
            <input id="danmaku-size-input" type="text" value="20" class="hidden">
          </div>
          <div class="type-select-title">Danmaku type</div>
          <div>
            <div class="danmaku-type-option top"><div class="danmaku-type-img top"></div><div class="danmaku-type-text">Top</div></div>
            <div class="danmaku-type-option bottom"><div class="danmaku-type-img bottom"></div><div class="danmaku-type-text">Bottom</div></div>
            <div class="danmaku-type-option normal active"><div class="danmaku-type-img normal"></div><div class="danmaku-type-text">Right to left</div></div>
            <input id="danmaku-type-input" type="text" value="RightToLeft" class="hidden">
          </div>
          <div>
            <label class="danmaku-share check-label">
              <div class="pseudo-checkbox"></div>
              <input type="checkbox" class="checkbox hidden" id="allow-post-danmaku" name="allow-post-danmaku">
              <span>Share with subscribers.</span>
            </label>
          </div>
        </div>
        <div class="danmaku-setting" id="danmaku-type-setting">
          <div id="danmaku-type-tip">Danmaku options</div>
        </div>
        <div class="danmaku-setting" id="danmaku-color-setting">
          <div id="danmaku-color-tip">Danmaku color</div>
        </div>
        <input id="danmaku-color-input" type="text" value="ffffff" class="hidden">
        <div id="danmaku-input-container">
          <input id="danmaku-reply-input" type="text" class="hidden">
          <div class="input-layon-block hidden" title="Replying">
            <div class="layon-close"></div>
          </div>
          <input id="danmaku-input" type="text" placeholder="{% if not user.is_auth %}Please sign in{% endif %}" name="content">
        </div>
        <input id="fire-button" type="submit" value="Fire!" title="Burning Love!">
      </form>
    </div>
  </div>
  <div id="danmaku-pool">
    <div class="player-full-setting player hidden">
      <div class="player-setting-title-line">
        <div class="player-setting-go-back"></div>
        <div class="player-setting-content-title">Player Settings</div>
      </div>
      <div class="settings-hint">*All settings are stored in cookies. </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full number">Move speed</label>
        <label class="number-adjusted">12</label>
        <div class="number-adjust-bar speed" ondragstart="return false;" ondrop="return false;" onselectstart="return false;">
          <div class="number-adjust-pointer" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
          <div class="number-adjust-line" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        </div>
        <label class="setting-reset-button blue-link number">Reset</label>
      </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full number">Longevity (of the top and bottom)</label>
        <label class="number-adjusted">12</label>
        <div class="number-adjust-bar time" ondragstart="return false;" ondrop="return false;" onselectstart="return false;">
          <div class="number-adjust-pointer" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
          <div class="number-adjust-line" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        </div>
        <label class="setting-reset-button blue-link number">Reset</label>
      </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full number">Maximum number of danmaku</label>
        <label class="number-adjusted">12</label>
        <div class="number-adjust-bar danmaku-num" ondragstart="return false;" ondrop="return false;" onselectstart="return false;">
          <div class="number-adjust-pointer" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
          <div class="number-adjust-line" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        </div>
        <label class="setting-reset-button blue-link number">Reset</label>
      </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full number">Text scale</label>
        <label class="number-adjusted">12</label>
        <div class="number-adjust-bar scale" ondragstart="return false;" ondrop="return false;" onselectstart="return false;">
          <div class="number-adjust-pointer" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
          <div class="number-adjust-line" ondragstart="return false;" ondrop="return false;" onselectstart="return false;"></div>
        </div>
        <label class="setting-reset-button blue-link number">Reset</label>
      </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full">Text outline</label>
        <div class="checkbox-selection text-outline on">
          <div class="checkbox-option off">Off</div>
          <div class="checkbox-option on">On</div>
        </div>
      </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full">Text font</label>
        <div class="list-selection font hidden">
          <div class="list-option font">Georgia</div>
          <div class="list-option font">Palatino Linotype</div>
          <div class="list-option font">Book Antiqua</div>
          <div class="list-option font active">Times New Roman</div>
          <div class="list-option font">Aria</div>
          <div class="list-option font">Helvetica</div>
          <div class="list-option font">Arial Black</div>
          <div class="list-option font">Impact</div>
          <div class="list-option font">Lucida Sans Unicode</div>
          <div class="list-option font">Tahoma</div>
          <div class="list-option font">Verdana</div>
          <div class="list-option font">Courier New</div>
          <div class="list-option font">Lucida Console</div>
        </div>
        <div class="list-selected font">Times New Roman</div>
        <label class="setting-reset-button blue-link font">Reset</label>
      </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full">Full buffering</label>
        <div class="checkbox-selection off">
          <div class="checkbox-option off">Off</div>
          <div class="checkbox-option on">On</div>
        </div>
      </div>
      <div class="player-setting-line full">
        <label class="player-setting-label full">Subtitles/CC</label>
        <div class="list-selection subtitle hidden">
          <div class="list-option subtitle active">Off</div>
          <div class="list-option subtitle">English</div>
          <div class="list-option subtitle">中文</div>
        </div>
        <div class="list-selected subtitle">Off</div>
      </div>
    </div>
    <div class="player-full-setting block hidden">
      <div class="player-setting-title-line">
        <div class="player-setting-go-back"></div>
        <div class="player-setting-content-title">Block Settings</div>
      </div>
      <div class="player-setting-line full"><label>Add blocking rules</label><a class="help-link" title="How to use blocking rules?"></a></div>
      <form id="add-rule-form" class="player-setting-line full">
        <div class="list-selection block hidden">
          <div class="list-option block active">Keywords</div>
          <div class="list-option block">RegExp</div>
          <div class="list-option block">User</div>
        </div>
        <div class="list-selected block">Keywords</div>
        <input type="text" class="normal-input block-condition-input">
        <input type="submit" class="inline-button special add-block" value="Add">
      </form>
      <div class="block-list-title-line">
        <div class="block-title rule-type">Type</div>
        <div class="block-title rule-content">Content</div>
        <div class="block-title rule-status">Status</div>
      </div>
      <div class="block-list"></div>
    </div>
    <div class="player-full-setting special hidden">
      <div class="player-setting-title-line">
        <div class="player-setting-go-back"></div>
        <div class="player-setting-content-title">Special Danmaku</div>
      </div>
      <div class="danmaku-full-settings">
        <div class="danmaku-pool-setting tab advanced selected">Advanced</div>
        <div class="danmaku-pool-setting tab subtitle unselected">Subtitles</div>
        <div class="danmaku-pool-setting tab code unselected">Code</div>
      </div>
      <form class="special-danmaku-setting advanced">
        <div class="player-setting-line full">
          <label class="advanced-danmaku-label">Birth position</label>
          <div class="advanced-danmaku-input-box">
            <label>X:</label>
            <input class="advanced-danmaku-input number-input" type="text" value="0">
            <div class="number-input-arrow up"></div>
            <div class="number-input-arrow down"></div>
          </div>
          <div class="advanced-danmaku-input-box">
            <label>Y:</label>
            <input class="advanced-danmaku-input number-input" type="text" value="0">
            <div class="number-input-arrow up"></div>
            <div class="number-input-arrow down"></div>
          </div>
          <label class="percentage-check check-label">
            <div class="pseudo-checkbox checked"></div>
            <input type="checkbox" class="checkbox hidden" name="birth-position-percentage" tabindex="1" checked="checked">
            <span class="checklabel">As percentage</span>
          </label>
        </div>
        <div class="player-setting-line full">
          <label class="advanced-danmaku-label">Death position</label>
          <div class="advanced-danmaku-input-box">
            <label>X:</label>
            <input class="advanced-danmaku-input number-input" type="text" value="0">
            <div class="number-input-arrow up"></div>
            <div class="number-input-arrow down"></div>
          </div>
          <div class="advanced-danmaku-input-box">
            <label>Y:</label>
            <input class="advanced-danmaku-input number-input" type="text" value="0">
            <div class="number-input-arrow up"></div>
            <div class="number-input-arrow down"></div>
          </div>
          <label class="percentage-check check-label">
            <div class="pseudo-checkbox checked"></div>
            <input type="checkbox" class="checkbox hidden" name="death-position-percentage" tabindex="1" checked="checked">
            <span class="checklabel">As percentage</span>
          </label>
        </div>
        <div class="player-setting-line full">
          <label class="advanced-danmaku-label long">Longevity (sec)</label>
          <div class="advanced-danmaku-input-box">
            <input class="advanced-danmaku-input long number-input" type="text" value="0">
            <div class="number-input-arrow up"></div>
            <div class="number-input-arrow down"></div>
          </div>
        </div>
        <div class="player-setting-line full">
          <label class="advanced-danmaku-label long">Start time (sec)</label>
          <div class="advanced-danmaku-input-box">
            <input class="advanced-danmaku-input long number-input" type="text" value="0">
            <div class="number-input-arrow up"></div>
            <div class="number-input-arrow down"></div>
          </div>
          <label class="percentage-check check-label">
            <div class="pseudo-checkbox checked"></div>
            <input type="checkbox" class="checkbox hidden" name="current-timestamp" tabindex="1" checked="checked">
            <span class="checklabel">Use current timestamp</span>
          </label>
        </div>
        <div class="player-setting-line full"><label>CSS customization</label><a class="help-link" title="Reference for advanced danmaku."></a></div>
        <div class="player-setting-line full"><textarea class="css-customize-input normal-input" name="danmaku-css" placeholder="e.g., color: rgb(255,255,255);"></textarea></div>
        <div class="player-setting-line full container">
          <input class="inline-button special special-danmaku-button" type="submit" value="Send">
          <input class="inline-button special-danmaku-button" type="button" value="Preview">
        </div>
      </form>
      <form class="special-danmaku-setting subtitle hidden">
        <div class="player-setting-line full">
          <label>Language & description</label>
          <input class="subtitle-danmaku-input normal-input" type="text" placeholder="e.g., English (by John Peter)">
        </div>
        <div class="player-setting-line full">
          <label>Copy all your subtitles/captions here.<a class="help-link" title="Subtitle format."></a></label>
        </div>
        <div class="player-setting-line full">
          <textarea class="subtitle-content-input normal-input" name="subtitle-content" placeholder="e.g., [10:23.08] This is a subtitle."></textarea>
        </div>
        <div class="player-setting-line full container">
          <input class="inline-button special special-danmaku-button" type="submit" value="Send">
        </div>
      </form>
      <form class="special-danmaku-setting code hidden">
        <div class="player-setting-line full">
          <label>Output</label>
          <label class="blue-link code-area-button">Copy</label>
          <label class="blue-link code-area-button">Clear</label>
        </div>
        <div class="player-setting-line full">
          <textarea class="code-danmaku-output normal-input" readonly="readonly"></textarea>
        </div>
        <div class="player-setting-line full">
          <label>Script</label>
          <a class="help-link" title="Script reference."></a>
          <label class="blue-link code-area-button">Copy</label>
          <label class="blue-link code-area-button">Clear</label>
        </div>
        <div class="player-setting-line full">
          <textarea class="code-danmaku-content-input normal-input" name="subtitle-content"></textarea>
        </div>
        <div class="player-setting-line full container">
          <input type="submit" class="inline-button special special-danmaku-button" value="Send">
          <input type="button" class="inline-button special-danmaku-button" value="Preview">
        </div>
      </form>
    </div>
    <div class="player-full-setting check-all-sent hidden">
      <div class="player-setting-title-line">
        <div class="player-setting-go-back"></div>
        <div class="player-setting-content-title">All danmaku sent by him/her</div>
      </div>
      <div id="danmaku-list-all"></div>
    </div>
    <div class="danmaku-pool-info">
      <div class="video-source-icon"></div>
      <div class="danmaku-info-box-left">
        <span class="special-number">Currently watching:</span>
        <span class="special-number commas_number">1</span>
      </div>
      <div class="dammaku-info-box-right">
        <div class="danmaku-pool-info-box">
          <span class="info-title">Best rank:</span>
          <span class="commas_number">123</span>
        </div>
        <div class="danmaku-pool-info-box">
          <span class="info-title">Total danmaku:</span>
          <span id="total-danmaku-span">...</span>
        </div>
      </div>
    </div>
    <div class="video-full-settings">
      <div class="danmaku-pool-setting player">Player Settings</div>
      <div class="danmaku-pool-setting block">Block Settings</div>
      <div class="danmaku-pool-setting special">Special Danmaku</div>
    </div>
    <div class="danmaku-orders">
      <div class="danmaku-order-title" id="time">Time</div>
      <div class="danmaku-order-title" id="content">Content</div>
      <div class="danmaku-order-title" id="date">Date</div>
    </div>
    <div id="danmaku-list"></div>
  </div>
  <div class="danmaku-menu hidden">
    <div class="right-click-entry" id="danmaku-reply">Reply to the sender</div>
    <div class="right-click-entry" id="danmaku-locate-it">Locate the danmaku</div>
    <div class="right-click-entry" id="danmaku-block-sender">Block the sender</div>
    <div class="right-click-separate-line"></div>
    <div class="right-click-entry">Report abuse</div>
  </div>
  <div class="danmaku-pool-menu hidden">
    <div class="right-click-entry" id="danmaku-pool-copy-content">Copy content</div>
    <div class="right-click-entry" id="danmaku-pool-check-all-sent">Check all his/her danmaku</div>
    <div class="right-click-entry" id="danmaku-pool-block-sender">Block the sender</div>
    <div class="right-click-separate-line"></div>
    <div class="right-click-entry">Report abuse</div>
  </div>
</div>
<div id="left-info-box">
  <div id="video-detail-info-block">
    <div id="video-tags-line">
      {% for tag in video.tags %}
      <a href="{{ uri_for('search') }}?keywords={{ tag }}" target="_blank" class="tags-link">{{ tag }}</a>
      {% endfor %}
      {% if video.allow_tag_add %}
      <form id="add-new-tag-form">
        <div class="add-new-tag-button" title="Add a new tag"></div>
        <input class="add-new-tag-input normal-input" type="text" name="new-tag">
      </form>
      {% endif %}
    </div>
    <div id="video-intro-box">{% if video.cur_subintro %}{{ video.cur_subintro }}{% else %}{{ video.description }}{% endif %}</div>
    <div id="video-intro-display-button" class="display-button intro"><span class="intro-display-text">SHOW MORE</span><span class="display-arrow"></span></div>
    <div class="container">
      <div class="operation-button" title="Like this!" id="like-this"><span class="operation-icon like"></span><span class="commas_number">{{ video.likes }}</span></div>
      <div class="operation-button" title="Strongly recommend!"><span class="operation-icon bullets"></span><span class="commas_number">{{ video.bullets }}</span></div>
      <div class="operation-button" title="It's my favorite!" id="add-to-favorite"><span class="operation-icon favors"></span><span class="commas_number">{{ video.favors }}</span></div>
    </div>
  </div>
  <div id="comments-block-title">Comments <span class="commas_number">{{ video.comment_counter }}</span></div>
  <form id="user-comment-form">
    <img class="comment-img" src="{% if user.is_auth %}{{ user.avatar_url_small }}{% else %}/static/emoticons_img/default_avatar1.png{% endif %}">
    <div class="write-comment-block">
      <textarea class="normal-input" name="content" id="comment-textarea" placeholder="{% if user.is_auth %}Share what you think{% else %}Please sign in{% endif %}"></textarea>
      <div class="container">
        <div class="emoticons-select"></div>
        <label class="check-label">
            <div class="pseudo-checkbox checked"></div>
            <input type="checkbox" class="checkbox hidden" name="allow-post-comment" tabindex="1" checked="checked">
            <span class="checklabel">Share with subscribers.</span>
        </label>
        <input class="inline-button special post" value="Post" type="submit">
      </div>
    </div>
  </form>
  <form id="user-reply-form" class="hidden">
    <img class="comment-img" src="{% if user.is_auth %}{{ user.avatar_url_small }}{% else %}/static/emoticons_img/default_avatar1.png{% endif %}">
    <div class="write-comment-block">
      <input type="text" class="hidden" id="comment-id-input" name="comment_id" value="">
      <textarea class="normal-input" name="content" id="reply-textarea" placeholder="{% if user.is_auth %}Share what you think{% else %}Please sign in{% endif %}"></textarea>
      <div class="container">
        <div class="emoticons-select"></div>
        <label class="check-label">
            <div class="pseudo-checkbox checked"></div>
            <input type="checkbox" class="checkbox hidden" name="allow-post-reply" tabindex="1" checked="checked">
            <span class="checklabel">Share with subscribers.</span>
        </label>
        <input class="inline-button special post" value="Post" type="submit">
      </div>
    </div>
  </form>
  <div id="comments-list-container">
  </div>
  <div class="pagination-line all"></div>
</div>
<div id="right-info-box">
  {% if playlist %}
  <div id="right-video-list">
    <div id="list-title">{{ playlist.title }}</div>
    {% if playlist.intro %}
    <div id="list-intro">{{ playlist.intro }}</div>
    <div id="list-intro-display-button" class="display-button intro"><span class="intro-display-text">SHOW MORE</span><span class="display-arrow"></span></div>
    {% endif %}
    <div id="list-scroll-bar">
      {% for list_video in playlist.videos %}
      <a class="list-entry {% if loop.index == playlist.cur_index+1 %}active{% endif %}" {% if loop.index != playlist.cur_index+1 %}href="{{ list_video.url }}"{% endif %}>
        <div class="list-entry-index {% if loop.index == playlist.cur_index+1 %}active{% endif %}">{{ loop.index }}</div>
        <img class="list-video-img" src="{{ list_video.thumbnail_url }}">
        <div class="list-entry-info">
          <div class="list-video-title">{{ list_video.title }}</div>
          <div>
            <div class="list-video-statistic hits"><span class="statistic-icon views"></span><span class="commas_number">{{ list_video.hits }}</span></div>
            <div class="list-video-statistic comments"><span class="statistic-icon comment"></span><span class="commas_number">{{ list_video.comment_counter }}</span></div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
