#account-profile-img {
    display: inline-block;
    vertical-align: top;
    margin: 20px 25px;
    text-align: center;
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 128px;
    -webkit-border-radius: 128px;
    -moz-border-radius: 128px;
    overflow: hidden;
}

#account-change-avatar {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 128px;
    background-color: rgba(0,0,0,0.5);
    font-size: 14px;
    color: white;
    text-align: center;
}

#account-profile-img:hover #account-change-avatar {
    display: inline-block;
}

#account-detail {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    word-wrap: break-word;
    width: 400px;
}

.detail-entry {
    padding: 2px 0;
    color: rgb(100,100,100);
}

#account-email {
    font-size: 18px;
    font-weight: bold;
}

#verified-icon {
    display: inline-block;
    margin-left: 7px;
    height: 17px;
    width: 17px;
    vertical-align: middle;
    background-position: 0 -364px;
    background-image: url("/static/img/basic_icons.png");
}

#account-joint-time {
    font-size: 14px;
    color: rgb(150,150,150);
    padding: 1px 0;
}

#account-space-divide {
    padding: 0 5px;
    color: rgb(200,200,200);
}

#account-nickname {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
}

#account-intro {
    color: rgb(150,150,150);
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
}

#resend-email-link {
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
    font-size: 15px;
    margin-left: 7px;
}

#resend-email-link.send {
    color: rgb(100,100,100);
    cursor: default;
}

#mine-statistic {
    float: right;
    margin-top: 20px;
    width: 100px;
}

#mine-statistic a {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    color: rgb(100,100,100);
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.statistic-tip {
    position: absolute;
    display: none;
    font-weight: normal;
    font-size: 14px;
    background-color: rgb(74,173,255);
    color: white;
    padding: 5px 8px;
    margin-left: 9px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: -3px;
}

.statistic-tip:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 8px;
    left: -4px;
    border-right: 5px solid rgb(74,173,255);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: block;
}

#mine-statistic a:hover .statistic-tip {
    display: inline-block;
    -webkit-animation: left_to_right_show .15s; /* Chrome, Safari, Opera */
    animation: left_to_right_show .15s;
}

.mine-statistic-icon {
    width: 24px;
    height: 24px;
    background-image: url("/static/img/basic_icons.png");
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
}

.mine-statistic-icon.bullets {
    background-position: 0 -559px;
}

.mine-statistic-icon.favorites {
    background-position: 0 -585px;
}

.mine-statistic-icon.subscriptions {
    background-position: 0 -611px;
}

#account-statistic {
    border-top: 1px solid rgb(230,230,230);
    padding-bottom: 20px;
    font-size: 0;
}

div.statistic-entry {
    width: 50%;
    display: inline-block;
    margin: 20px 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    color: rgb(100,100,100);
    font-size: 16px;
}

div.statistic-entry span {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

div.statistic-entry span {
    color: rgb(255,138,34);
}

label.statistic-icon {
    background-image: url("/static/img/basic_icons.png");
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

label.statistic-icon.submission {
    background-position: 0 -477px;
}

label.statistic-icon.watched {
    background-position: 0 -451px;
}

label.statistic-icon.favored {
    background-position: 0 -424px;
}

label.statistic-icon.subscribed {
    background-position: 0 -504px;
}

label.statistic-icon.visited {
    background-position: 0 -531px;
}

form.change {
    padding: 20px 25px;
}

form.change div.input-line {
    padding-bottom: 20px;
    position: relative;
    white-space: nowrap;
}

#video-part-content {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0;
}

#table-label-line {
    color: rgb(100,100,100);
    border-top: 1px solid rgb(200,200,200);
    border-bottom: 1px solid rgb(200,200,200);
    padding: 8px 5px;
    font-size: 0;
}

.table-label {
    display: inline-block;
    font-size: 14px;
}

.table-label.title {
    width: 122px;
    margin-right: 12px;
}

.table-label.intro {
    width: 192px;
    margin-right: 12px;
}

.table-label.source {
    width: 90px;
    margin-right: 12px;
}

.table-label.url {
    width: 222px;
}

.video-part-line {
    border-bottom: 1px solid rgb(200,200,200);
}

.video-part-drag-wrapper {
    cursor: move;
    padding: 10px 5px;
    font-size: 0;
    position: relative;
    white-space: nowrap;
}

.video-part-line.stealth .video-part-drag-wrapper {
    visibility: hidden;
}

.video-part-drag-wrapper.float {
    position: fixed;
    pointer-events: none;
}

.video-part-delete {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 7px;
    top: 19px;
    background-position: 0 -1029px;
    background-image: url("/static/img/basic_icons.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.video-part-line:hover .video-part-delete {
    display: inline-block;
}

.video-part-delete:hover {
    background-position: -20px -1029px;
}

.video-part-delete:active {
    background-position: 0 -1048px;
}

form.change label.form-label {
    color: rgb(100,100,100);
    width: 135px;
    display: inline-block;
    margin-right: 15px;
}

form.change input[type=password], form.change input[type=text], form.change select, form.change textarea {
    width: 300px;
    vertical-align: middle;
}

form.change .list-select {
    width: 155px;
    margin-right: 20px;
}

form.change input.title-input {
    width: 110px;
    margin-right: 12px;  
}

form.change .list-select.source {
    width: 90px;
    margin-right: 12px;
}

form.change .list-select.feedback {
    width: 250px;
}

form.change input.url-input {
    width: 215px;
}

form.change .tag-block {
    width: 450px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.tag-entry {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 24px;
    font-size: 14px;
    margin-right: 7px;
    padding-left: 8px;
    padding-right: 16px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: rgb(100,100,100);
    margin-bottom: 10px;
}

.remove-tag {
    position: absolute;
    right: 4px;
    top: 9px;
    width: 7px;
    height: 7px;
    background-image: url("/static/img/basic_icons.png");
    background-position: 0 -1365px;
    cursor: pointer;
}

.remove-tag:hover {
    background-position: -25px -1365px;
}

.add-new-tag {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    white-space: nowrap;
}

#new-tag-input {
    width: 80px;
}

.add-new-tag-button {
    height: 16px;
    width: 16px;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: inline-block;
    border: 1px solid rgb(200,200,200);
    cursor: pointer;
    background-image: url("/static/img/basic_icons.png");
    background-position: 5px -873px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}

.add-new-tag-button:hover {
    box-shadow: 0 0 2px rgb(81,203,238);
    border: 1px solid rgb(81,203,238);
    background-position: -17px -873px;
}

.add-new-tag-button.error {
    box-shadow: 0 0 2px rgb(232,0,0);
    border: 1px solid rgb(232,0,0);
    background-position: -17px -891px;
}

.add-new-tag-button:active {
    box-shadow: 0 0 0;
    border: 1px solid rgb(81,203,238);
    background-color: rgb(81,203,238);
    background-position: 5px -891px;
}

#add-more-link {
    position: relative;
}

label.order-hint {
    font-size: 13px;
    color: rgb(150,150,150);
    margin-right: 5px;
    margin-left: 5px;
}

a.add-more {
    display: inline-block;
    margin: 5px;
    margin-right: 0;
    font-size: 14px;
    cursor: pointer;
}

form.change textarea.normal {
    vertical-align: text-top;
    min-height: 80px;
    max-height: 500px;
    min-width:  320px;
    max-width: 500px;
}

form.change textarea.intro-input {
    vertical-align: top;
    resize: none;
    height: 16px;
    width: 182px;
    margin-right: 12px;
    -webkit-transition: height .15s; /* For Safari 3.1 to 6.0 */
    transition: height .15s;
}

form.change textarea.intro-input:focus {
    height: 48px;
}

form.change label.explain {
    position: absolute;
    left: 0;
    font-size: 14px;
    color: rgb(150,150,150);
    width: 135px;
    margin-top: 25px;
    font-weight: normal;
    display: inline-block;
    white-space: normal;
}

form.change label.check-label {
    margin-right: 15px;
}

input.checkbox {
    margin: 0;
    cursor: pointer;
    vertical-align: text-top;
}

form.change div.option-button {
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
    font-family:"Times New Roman",Georgia,Serif;
    font-weight: normal;
    color: rgb(100,100,100);
    display: inline-block;
    margin-right: 10px;
}

form.change div.option-button:hover {
    color: rgb(0,140,255);
    background-color: rgb(240,240,240);
}

form.change div.option-button.select {
    color: white;
    background-color: rgb(85,178,255);
}

form.change div.input-error {
    position: absolute;
    display: none;
    margin-left: 15px;
    background-color: rgb(192,62,62);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    white-space: nowrap;
    font-size: 16px;
}

form.change div.input-error:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: -5px;
    border-right: 6px solid rgb(192,62,62);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

form.change div.input-error.show {
    display: inline-block;
    -webkit-animation: left_to_right_show .25s; /* Chrome, Safari, Opera */
    animation: left_to_right_show .25s;
}

form.change div.video-part-error {
    position: absolute;
    display: none;
    background-color: rgb(192,62,62);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    white-space: nowrap;
    top: -22px;
    font-size: 14px;
}

form.change div.video-part-error:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 95%;
    left: 20px;
    border-top: 6px solid rgb(192,62,62);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

form.change div.video-part-error.show {
    display: inline-block;
    -webkit-animation: down_to_up_show .25s; /* Chrome, Safari, Opera */
    animation: down_to_up_show .25s;
}

#thumbnail-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 0;
    z-index: 1;
}

#thumbnail-preview, #thumbnail-previous-preview {
    background: rgb(240,240,240);
    width: 176px;
    height: 99px;
    display: inline-block;
    vertical-align: text-top;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
}

#thumbnail-previous-preview {
    cursor: default;
}

#thumbnail-spacing {
    width: 8px;
    height: 8px;
    background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
    display: inline-block;
    vertical-align: top;
    margin-top: 46px;
    margin-right: 8px;
}

#thumbnail-hint {
    max-width: 80%;
    font-size: 14px;
    color: rgb(150,150,150);
    margin: auto;
    text-align: center;
    margin-top: 25px;
    pointer-events: none;
    white-space: normal;
}

img.thumbnail-preview-img {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: inline-block;
    top: 0;
    left: 0;
}

input.save_change-button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: rgb(255,255,255);
    cursor: pointer;
    font-family:"Times New Roman",Georgia,Serif;
    color: rgb(100,100,100);
    font-weight: bold;
}

input.save_change-button:hover {
    box-shadow: 0 0 2px rgb(81,203,238);
    border: 1px solid rgb(81,203,238);
    color: rgb(0,150,255);
}

input.save_change-button:active {
    background-color: rgb(81,203,238);
    color: rgb(255,255,255);
}

input.save_change-button:disabled {
    color: rgb(200,200,200);
    box-shadow: 0 0 0;
    background-color: rgb(250,250,250);
    border: 1px solid rgb(200,200,200);
}

#change-applying {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    vertical-align: middle;
    display: inline-block;
}

#space-css-file {
    width: 312px;
    height: 28px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 0;
    z-index: 1;
}
