#body-background {
    padding-top: 20px;
}

#body-container {
    border: 1px solid rgb(200,200,200);
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.block-title-line {
    padding: 10px;
    font-size: 0;
    border-bottom: 1px solid rgb(230,230,230);
}

.content-entry.comment {
    padding: 10px 25px;
}

a.video-img {
    display: inline-block;
    width: 176px;
    height: 99px;
    position: relative;
}

.video-info {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    width: calc(100% - 176px - 15px);
    width: -moz-calc(100% - 176px - 15px); /* Firefox */
    width: -webkit-calc(100% - 176px - 15px); /* Chrome, Safari */
}

.video-info-line {
    margin-bottom: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.video-info-line:last-child {
    margin: 0;
}

.by-label {
    color: rgb(150,150,150);
    margin-right: 2px;
}

.video-statistic-entry {
    display: inline-block;
    margin-right: 10px;
    color: rgb(100,100,100);
}

.video-time {
    color: rgb(100,100,100);
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

.last-viewed {
    color: rgb(100,100,100);
}

.user-img {
    width: 48px;
    height: 48px;
}

.message-info {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    font-size: 14px;
    width: calc(100% - 48px - 15px);
    width: -moz-calc(100% - 48px - 15px); /* Firefox */
    width: -webkit-calc(100% - 48px - 15px); /* Chrome, Safari */
}

.message-title {
    display: inline-block;
    margin-left: 5px;
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.message-time {
    margin-left: 10px;
    color: rgb(150,150,150);
}

.info-label {
    color: rgb(150,150,150);
}

.info-line {
     margin-bottom: 5px;
}

.info-line:last-child {
    margin: 0;
}

.comment-content {
    color: rgb(50,50,50);
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.unlike-button {
    position: absolute;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url("/static/img/basic_icons.png");
    background-position: 0 -1029px;
    right: 18px;
    top: 50%;
    cursor: pointer;
    display: none;
}

.unlike-button:hover {
    background-position: -20px -1029px;
}

.unlike-button:active {
    background-position: 0 -1048px;
}

.content-entry:hover .unlike-button {
    display: inline-block;
}

@media only screen and (min-width: 1550px) {

.message-title {
    max-width: 1100px;
}

}