body {
	margin: 0;
	padding: 0;
	font-family:"Times New Roman",Georgia,Serif;
	background-color: rgb(255,255,255);
}

form {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea, input, select, option {
    font-family:"Times New Roman",Georgia,Serif;
    outline: none;
}

textarea.normal-input, input.normal-input {
    padding: 4px;
    font-size: 14px;
    border: 1px solid rgb(200,200,200);
    box-shadow: inset 0px 1px 3px rgb(220,220,220);
}

textarea.normal-input:focus, input.normal-input:focus {
    border: 1px solid rgb(81,203,238);
}

textarea.normal-input.error, input.normal-input.error {
    border: 1px solid rgb(232,0,0);
}

img {
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

a.blue-link {
    color: rgb(0,140,255);
}

a.blue-link:hover {
    color: rgb(255,177,108);
}

a.blue-link:active {
    color: rgb(0,50,200);
}

.container:after {
    clear: both;
    display: table;
    content: "";
}

.loading {
    background-image: url("/static/img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hidden {
    display: none;
}

#user-bar-background {
	padding-top: 10px;
    padding-bottom: 10px;
    min-width: 1024px;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(50,180,240);
    /*box-shadow: 0px 0 8px rgb(200,200,200);*/
}

#user-bar {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#logo {
	font-size: 40px;
	padding: 0;
	cursor: pointer;
}

#navigation-bar-background {
	/*background-color: rgb(250,250,250);*/
	border-bottom: 1px solid rgb(200,200,200);
	min-width: 1024px;
	width: 100%;
	display: inline-table;
}

#navigation-bar {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

div.right, a.right {
	float: right;
	display: inline-block;
}

div.left, a.left {
	float: left;
	display: inline-block;
}

div.navi, a.navi {
	margin-top: 20px;
	padding: 3px 5px;
	margin-left: 10px;
	cursor: pointer;
	display: inline-block;
}

div.link:hover, a.link:hover {
	color: rgb(0,140,255);
}

#signin-nav-button {
  margin-top: 10px;
  padding: 7px 10px;
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  /*background-color: rgb(250,250,250);*/
  font-family: "Times New Roman",Georgia,Serif;
  font-weight: bold;
  color: rgb(100,100,100);
  width: 90px;
  text-align: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#signup-nav-button {
    margin-top: 15px;
}

#signin-nav-button:hover {
  box-shadow: 0 0 2px rgb(81,203,238);
  border: 1px solid rgb(81,203,238);
  color: rgb(0,140,255);
}

#signin-nav-button:active {
  background-color: rgb(81,203,238);
  color: rgb(255,255,255);
}

#feeling-lucky {
	margin-top: 0;
	font-size: 15px;
}

#feeling-lucky:hover {
	text-shadow:0 0 2px rgb(150,150,150);
	color: rgb(0,0,0);
}

#portrait {
	margin-left: 15px;
	margin-top: 5px;
	margin-right: 15px;
	height: 35px;
}

#portrait-link {
	height: 35px;
	width: 35px;
	display: block;
}

#portrait-img {
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
	box-shadow: 0 0 1px rgb(100,100,100);
	display: inline-block;
}

#user-box {
	position: absolute;
	display: none;
	right: 7px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(200,200,200);
	z-index: 1;
	width: 220px;
	top: 109%;
	box-shadow: 0px 4px 4px rgb(200,200,200);
}

#user-box:before, #user-box:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#user-box:after {
	border-bottom-color: rgb(255, 255, 255);
	border-width: 10px;
	margin-left: -10px;
}

#user-box:before {
	border-bottom-color: rgb(200, 200, 200);
	border-width: 11px;
	margin-left: -11px;
}

#user-box.show {
	display: inline-block;
}

@-webkit-keyframes user_box_hide {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Standard syntax */
@keyframes user_box_hide {
    from {opacity: 1;}
    to {opacity: 0;}
}

#user-box.hide {
	opacity: 0;
	-webkit-animation: user_box_hide .15s; /* Chrome, Safari, Opera */
    animation: user_box_hide .15s;
}

#user-box-nickname {
	width: 100%;
	border-bottom: 1px solid rgb(200,200,200);
	padding: 10px 14px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	font-weight: bold;
	font-size: 14px;
	word-wrap: break-word;
}

#user-message-container {
	padding: 10px;
	padding-bottom: 0;
	border-bottom: 1px solid rgb(200,200,200);
}

#user-at, #user-notification, #user-message {
	white-space: nowrap;
	float: left;
	color: rgb(134,134,134);
	padding-left: 22px;
	margin-right: 18px;
	padding-bottom: 4px;
	margin-bottom: 10px;
	cursor: pointer;
    display: inline-block;
    position: relative;
}

#user-at-new-num, #user-notification-new-num, #user-message-new-num, #user-subscriptions-new-num {
    position: absolute;
    top: -3px;
    left: 98%;
    font-size: 12px;
    padding: 0 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: rgba(246,96,255,0.8);
    color: white;
}

#user-subscriptions {
    position: relative;
}

#user-subscriptions-new-num {
    left: 88%;
}

#user-at {
    background-position: 0 -8px;
	background-image: url("/static/img/basic_icons.png");
	background-repeat: no-repeat;
}

#user-at:hover {
    background-position: 0 -28px;
	background-repeat: no-repeat;
	color: rgb(0,140,255);
}

#user-notification {
	background-position: 0 -48px;
    background-image: url("/static/img/basic_icons.png");
	background-repeat: no-repeat;
}

#user-notification:hover {
	background-position: 0 -68px;
	background-repeat: no-repeat;
	color: rgb(0,140,255);
}

#user-message {
	background-position: 0 -88px;
    background-image: url("/static/img/basic_icons.png");
	background-repeat: no-repeat;
}

#user-message:hover {
	background-position: 0 -108px;
	background-repeat: no-repeat;
	color: rgb(0,140,255);
}

#user-box-bottom-line {
	background-color: rgb(245,245,245);
}

#user-config {
	margin: 6px 10px;
	float: left;
	cursor: pointer;
	display: inline-table;
}

#user-config-icon {
	background-position: 0 -128px;
    background-image: url("/static/img/basic_icons.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

#user-config-text {
	padding: 3px 0;
	color: rgb(100,100,100);
	display: inline-block;
	vertical-align: middle;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes config_hover {
    from {-ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0); }
    to {-ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg); }
}

/* Standard syntax */
@keyframes config_hover {
    from {-ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0); }
    to {-ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg); }
}

#user-config:hover #user-config-icon {
	-webkit-animation: config_hover 2s linear infinite; /* Chrome, Safari, Opera */
    animation: config_hover 2s linear infinite;
}

#logout {
	padding: 5px 5px;
	margin: 5px 16px;
	cursor: pointer;
	float: right;
	font-size: 14px;
	color: rgb(100,100,100);
}

div.navi-category {
	display: inline-block;
	position: relative;
}

a.navi-category-name {
	display: inline-block;
	padding: 10px 11px;
	text-align: center;
	cursor: pointer;
}

#home-link {
	padding: 0;
	text-align: left;
	padding-right: 11px;
	cursor: pointer;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#home-link:hover {
	text-shadow:0 0 2px rgb(150,150,150);
}

#search-form {
    float: right;
    display: inline-table;
}

#search-input {
	margin: 0;
	border: 0;
	border-left: 1px solid rgb(200,200,200);
	border-right: 1px solid rgb(200,200,200);
	padding: 3px;
	font-size: 14px;
	padding-left: 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	display: inline-block;
	width: 155px;
	height: 38px;
	background-color: white;
    vertical-align: middle;
}

#search-button {
	border-width: 0;
	margin: 0;
	display: inline-block;
	position: relative;
    background-position: 8px -204px;
	background-image: url("/static/img/basic_icons.png");
	background-color: rgb(240,240,240);
	width: 38px;
	height: 38px;
	
	background-repeat: no-repeat;
	border-right: 1px solid rgb(200,200,200);
	cursor: pointer;
    vertical-align: middle;
}

#search-button:hover {
	background-position: 8px -234px;
}

#search-button:active {
	background-position: 8px -264px;
	background-color: rgb(0,135,255);
}

div.navi-dragdown-menu {
	display: none;
	position: absolute;
	text-align: left;
	left: 0;
	top: 38px;
	font-size: 14px;
	white-space:nowrap;
	background-color: rgb(255,255,255);
	/*border: 1px solid rgb(200,200,200);*/
	box-shadow: 0px 4px 4px rgb(200,200,200);
	z-index: 1;
}

div.navi-category:hover a.navi-category-name {
	background-color: rgb(255,255,255);
	text-shadow:0 0 2px rgb(150,150,150);
}

div.navi-category:hover div.navi-dragdown-menu {
	display: inline-block;
}

a.navi-subcategory {
	padding: 8px 11px;
	padding-right: 20px;
	cursor: pointer;
	font-weight: bold;
	display: block;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes subcat_right_move {
    from {-ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
        transform: translateX(0);}
    to {-ms-transform: translateX(8px); /* IE 9 */
        -webkit-transform: translateX(8px); /* Chrome, Safari, Opera */
        transform: translateX(8px);}
}

/* Standard syntax */
@keyframes subcat_right_move {
    from {-ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
        transform: translateX(0);}
    to {-ms-transform: translateX(8px); /* IE 9 */
        -webkit-transform: translateX(8px); /* Chrome, Safari, Opera */
        transform: translateX(8px);}
}

a.navi-subcategory:hover {
	-ms-transform: translateX(8px); /* IE 9 */
    -webkit-transform: translateX(8px); /* Chrome, Safari, Opera */
    transform: translateX(8px);
	-webkit-animation: subcat_right_move .2s; /* Chrome, Safari, Opera */
    animation: subcat_right_move .2s;
}

span.category-arrow {
	display: inline-block;
	width: 10px;
	height: 8px;
	background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
	background-repeat: no-repeat;
}

#body-background {
	padding-bottom: 50px;
    background-color: rgb(250,250,250);
    min-height: calc(100vh - 39px - 68px);
    min-height: -moz-calc(100vh - 39px - 68px); /* Firefox */
    min-height: -webkit-calc(100vh - 39px - 68px); /* Chrome, Safari */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

#body-container {
	width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

div.pagination-line {
    font-size: 0;
}

a.page-change {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
}

a.page-num {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height: 16px;
    cursor: pointer;
    min-width: 16px;
}

a.page-change:hover, a.page-num:hover {
    color: rgb(0,140,255);
}

a.page-num.active {
    font-weight: bold;
    background-color: rgb(85,178,255);
    color: white;
}

#view-method div.selected, #action-select div.selected {
    padding: 4px 22px 4px 8px;
    border: 1px solid rgb(200,200,200);
    background-color: white;
    position: relative;
    cursor: default;
}

#view-method div.selected:after, #action-select div.selected:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    right: 6px;
    border: 4px solid transparent;
    border-top: 6px solid rgb(150,150,150);
    margin-top: 6px;
}

#view-method div.option, #action-select div.option {
    position: absolute;
    border: 1px solid rgb(200,200,200);
    margin-top: -1px;
    display: none;
    cursor: pointer;
    min-width: 100px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(230,230,230);
}

#view-method:hover div.option, #action-select:hover div.option {
    display: block;
}

#view-method div.option-entry, #view-method a.option-entry, #action-select div.option-entry {
    padding: 6px 15px 6px 8px;
    display: block;
}

#action-select div.option-entry.delete {
    font-weight: bold;
    border-top: 1px solid rgb(200,200,200);
}

#view-method div.option-entry:hover, #view-method a.option-entry:hover, #action-select div.option-entry:hover {
    background-color: rgb(245,245,245);
}

.inline-button {
    border: 1px solid rgb(200,200,200);
    padding: 4px 8px;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(100,100,100);
    font-weight: bold;
}

.inline-button:hover {
    /*box-shadow: 0 0 2px rgb(81,203,238);*/
    border: 1px solid rgb(81,203,238);
    color: rgb(0,140,255);
}

.inline-button:active {
    background-color: rgb(81,203,238);
    color: rgb(255,255,255);
}

.inline-button:disabled {
    color: rgb(200,200,200);
    /*box-shadow: 0 0 0;*/
    background-color: rgb(250,250,250);
    border: 1px solid rgb(200,200,200);
}

.inline-button.special {
    color: white;
    background-color: rgb(0,140,255);
    border-color: rgb(0,140,255);
}

.inline-button.special:hover {
    background-color: rgb(81,203,238);
    border-color: rgb(81,203,238);
}

.inline-button.special:active {
    box-shadow: inset 0 12px 12px rgba(100,100,100,0.1);
}

.inline-button.special:disabled {
    /*box-shadow: 0 0 0;*/
    background-color: rgb(164,214,255);
    border: 1px solid rgb(164,214,255);
}

div.search-scope, a.search-scope {
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    color: rgb(100,100,100);
    cursor: pointer;
    margin-right: 10px;
}

div.search-scope:hover, a.search-scope:hover {
    color: rgb(0,140,255);
    background-color: rgb(240,240,240);
}

div.search-scope.active, a.search-scope.active {
    color: white;
    background-color: rgb(85,178,255);
}

div.quick-title-line {
  padding: 13px 10px;
  height: 26px;
}

div.quick-title-head {
  margin-top: 2px;
  height: 21px;
  width: 8px;
  background-color: rgb(246,96,255);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  float: left;
  margin-right: 7px;
  display: inline-block;
}

div.quick-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: rgb(100,100,100);
  margin-right: 20px;
  margin-top: 3px;
}

#ajax-message-box {
    position: fixed;
    bottom: 0;
    right: 0;
}

div.ajax-message {
    border: 1px solid rgb(200,200,200);
    background-color: rgb(255,255,255);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    height: 0;
    -webkit-transition: height .3s; /* For Safari 3.1 to 6.0 */
    transition: height .3s;
    overflow: hidden;
    box-shadow: -2px 2px 4px rgb(200,200,200);
}

/*div.ajax-message.success {
    border: 3px solid rgb(97,194,84);
    background-color: rgb(227,255,223);
}

div.ajax-message.error {
    border: 3px solid rgb(222,65,65);
    background-color: rgb(255,240,240);
}*/

div.ajax-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 15px;
    background-image: url("/static/img/basic_icons.png");
}

div.ajax-icon.success {
    background-position: 0 -704px;
}

div.ajax-icon.info {
    background-position: 0 -670px;
}

div.ajax-icon.warning {
    background-position: 0 -739px;
}

div.ajax-icon.error {
    background-position: 0 -636px;
}

div.ajax-content {
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    width: 220px;
    /*font-size: 14px;*/
    color: rgb(100,100,100);
    padding: 20px 20px 20px 0;
}

#notice-block-container {
    padding-top: 120px;
}

#notice-block {
    width: 400px;
    border: 1px solid rgb(200,200,200);
    margin: auto;
    box-shadow: -2px 2px 4px rgb(200,200,200);
    padding: 40px 25px;
    background-color: white;
}

#notice-content {
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    word-wrap: break-word;
    color: rgb(100,100,100);
}

#notice-redirect-line {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid rgb(200,200,200);
}

#notice-redirect {
    color: rgb(0,140,255);
}

#notice-redirect:hover {
    color: rgb(255,177,108);
}

#notice-redirect:active {
    color: rgb(0,50,200);
}

div.emoticons-select {
    margin-top: 15px;
    display: inline-block;
    float: left;
    color: rgb(100,100,100);
    font-size: 14px;
    position: relative;
}

div.emoticons-label {
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid rgb(200,200,200);
    padding: 4px 8px;
    position: relative;
    background-color: white;
}

div.emoticons-menu {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 470px;
    display: none;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom-left-radius: 0;
}

div.emoticons-select.show div.emoticons-menu {
    display: inline-block;
}

div.emoticons-select.show div.emoticons-label {
    border-top: 1px solid rgb(255,255,255);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

div.emoticons-option {
    float: left;
    padding: 5px;
    font-size: 12px;
    height: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}

div.emoticons-option:hover {
    color: rgb(0,140,255);
    background-color: rgb(240,240,240);
}

span.subscribe-icon {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url("/static/img/basic_icons.png");
    margin-right: 4px;
}

.subscribe-button span.subscribe-icon {
    background-position: 0px -875px;
}

.subscribe-button:hover span.subscribe-icon {
    background-position: -22px -875px;
}

.subscribe-button:active span.subscribe-icon {
    background-position: 0 -893px;
}

.unsubscribe {
    color: rgb(150,150,150);
}

.unsubscribe span.subscribe-icon {
    background-position: 0 -910px;
}

.unsubscribe:hover span.subscribe-icon {
    background-position: -22px -910px;
}

.unsubscribe:active span.subscribe-icon {
    background-position: 0 -928px;
}
