div.ranking-and-topic {
    padding-bottom: 20px;
}

#ranking-slides {
    width: 400px;
    height: 225px;
    margin-right: 24px;
    margin-bottom: 27px;
}

#slide-container {
    width: 400%;
}

a.slide {
    width: 25%;
}

div.slide-title {
    width: 290px;
}

a.next-top-videos {
    width: 176px;
    height: 99px;
    margin-right: 24px;
    margin-bottom: 27px;
}

div.cover-title {
    height: 48px;
}

span.category-middle {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-image: url("/static/img/arrow.png");
}
