#avatar-container {
  padding: 40px 40px 20px 50px;
}

#avatar-upload-form {
  margin-top: 20px;
  padding: 0;
  white-space: nowrap;
}

#avatar-edit {
  display: inline-block;
}

#avatar-preview {
  float: right;
  width: 200px;
  text-align: center;
}

#avatar-crop-canvas {
  width: 400px;
  height: 400px;
  background-color: rgb(240,240,240);
  position: relative;
  text-align: center;
}

#avatar-crop-canvas img {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}

#image-upload-hint {
  color: rgb(150,150,150);
  width: 250px;
  display: inline-block;
}

#file-input-line {
  position: relative;
  width: 280px;
  height: 33px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
}

#file-input-line input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0);
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}

#file-input-line input[type=text] {
  display: inline-block;
  width: 200px;
  height: 100%;
  margin-right: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  pointer-events: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.select-button {
    display: inline-block;
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: rgb(255,255,255);
    cursor: pointer;
    font-family:"Times New Roman",Georgia,Serif;
    color: rgb(100,100,100);
    font-weight: bold;
}

.input-error {
  position: absolute;
  display: none;
  bottom: 40px;
  left: 0;
  margin-left: 0;
}

.input-error:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    bottom: -5px;
    left: 50%;
    border-top: 6px solid rgb(192,62,62);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
}

.input-error.show {
    display: inline-block;
    -webkit-animation: down_to_up_show .25s; /* Chrome, Safari, Opera */
    animation: down_to_up_show .25s;
}

#file-input-line:hover .select-button {
  box-shadow: 0 0 2px rgb(81,203,238);
  border: 1px solid rgb(81,203,238);
  color: rgb(0,150,255);
}

#file-input-line:active .select-button {
  background-color: rgb(81,203,238);
  color: rgb(255,255,255);
}

#avatar-preview h3 {
  color: rgb(100,100,100);
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.preview-container {
  overflow: hidden;
}

.preview-container.medium {
  width: 128px;
  height: 128px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.preview-container.round {
  border-radius: 128px;
  -webkit-border-radius: 128px;
  -moz-border-radius: 128px;
}

.preview-text {
  color: rgb(100,100,100);
}

.preview-container.small {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 10px 5px;
}

#avatar-preview-medium, #avatar-preview-medium-round {
  width: 128px;
  height: 128px;
}

#avatar-preview-small, #avatar-preview-small-round {
  width: 64px;
  height: 64px;
}

input.save_change-button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: rgb(255,255,255);
    cursor: pointer;
    font-family:"Times New Roman",Georgia,Serif;
    color: rgb(100,100,100);
    font-weight: bold;
}

input.save_change-button:hover {
    box-shadow: 0 0 2px rgb(81,203,238);
    border: 1px solid rgb(81,203,238);
    color: rgb(0,150,255);
}

input.save_change-button:active {
    background-color: rgb(81,203,238);
    color: rgb(255,255,255);
}

input.save_change-button:disabled {
    color: rgb(200,200,200);
    box-shadow: 0 0 0;
    background-color: rgb(250,250,250);
    border: 1px solid rgb(200,200,200);
}

#change-applying {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    vertical-align: middle;
    display: inline-block;
}
