@-webkit-keyframes opacity_show {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes opacity_show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes delay_opacity_show {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes delay_opacity_show {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

div.ranking-and-topic {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(220,220,220);
}

div.site-ranking-block {
    width: 744px;
    float: left;
}

#ranking-slides {
    width: 478px;
    height: 269px;
    box-shadow: 0 0 1px rgb(100,100,100);
    float: left;
    margin-right: 18px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

#slide-container {
    width: 500%;
    height: 100%;
    display: inline-block;
    position: relative;
    left: 0;
    -webkit-transition: -webkit-transform .3s;  /* For Safari 3.1 to 6.0 */
    transition: transform .3s;
    font-size: 0;
}

a.slide {
    width: 20%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

a.slide img {
    width: 100%;
    height: 100%;
}

div.slide-bottom {
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 8px 5px;
    position: absolute;
    color: white;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.slide-title {
    float: left;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
    font-size: 14px;
    display: none;
}

a.slide-title {
    color: white;
}

a.slide-title:hover {
    text-shadow: 0 0 2px white;
}

div.slide-title.active {
    display: inline-block;
    -webkit-animation: opacity_show .4s; /* Chrome, Safari, Opera */
    animation: opacity_show .4s;
}

div.slide-dot {
    float: right;
    width: 10px;
    height: 10px;
    border-radius: 16px;
    background-color: white;
    margin: 4px 8px 0 3px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    cursor: pointer;
}

div.slide-dot:hover {
    margin: 1px 5px 0 0;
    width: 16px;
    height: 16px;
    border: 3px solid white;
    background-color: rgb(200,200,200);
}

div.slide-dot.active {
    margin: 1px 5px 0 0;
    width: 16px;
    height: 16px;
    border: 3px solid white;
    background-color: rgb(65,199,255);
}

a.next-top-videos {
    width: 230px;
    height: 130px;
    box-shadow: 0 0 1px rgb(100,100,100);
    float: left;
    margin-right: 18px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    display: block;
}

a.next-top-videos img {
    width: 100%;
    height: 100%;
}

div.hover-cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-size: 14px;
}

a.next-top-videos:hover div.hover-cover {
    display: inline-block;
    -webkit-animation: opacity_show .4s; /* Chrome, Safari, Opera */
    animation: opacity_show .4s;
}

div.cover-title {
    word-wrap: break-word;
    height: 64px;
    overflow: hidden;
    margin-bottom: 5px;
}

div.cover-uploader {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.sub-category-block {
    margin-bottom: 40px;
}

div.sub-category-dynamic-list {
    width: 744px;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.sub-category-dynamic-list.wide {
    width: 100%;
}

div.sub-category-side-line {
    width: 280px;
    float: right;
    background-color: rgb(240,240,240);
    padding: 0 10px;
    border-radius: 3px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.category-title-line {
    padding: 10px 0;
    height: 21px;
}

div.side-title-line {
    padding: 10px 0;
    height: 21px;
}

div.category-title-head {
    height: 21px;
    width: 8px;
    background-color: rgb(246,96,255);
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

a.category-title {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: rgb(100,100,100);
    display: inline-block;
}

a.refresh-video {
    float: right;
    margin-right: 20px;
    font-size: 16px;
    margin-top: 3px;
    cursor: pointer;
    color: rgb(100,100,100);
    display: inline-block;
}

a.refresh-video.random {
    margin-right: 40px;
}

a.category-title:hover, a.refresh-video:hover {
    color: rgb(0,140,255);
}

a.category-title.no-link {
    cursor: default;
    color: rgb(100,100,100);
}

div.side-title {
    font-size: 18px;
    font-weight: bold;
    color: rgb(100,100,100);
}

div.video-preview-container, div.ranking-video-container {
    height: 468px;
}

div.single-preview-line {
    height: 156px;
}

a.video-preview {
    float: left;
    margin-right: 10px;
    margin-bottom: 18px;
    width: 176px;
    position: relative;
    cursor: pointer;
    display: block;
}

a.video-preview.wide {
    margin-right: 28px;
}

div.video-preview-thumbnail {
    width: 176px;
    height: 99px;
    display: block;
    position: relative;
}

div.video-preview-thumbnail img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.preview-time {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 5px;
}

div.video-preview-statistic {
    margin-top: 7px;
    height: 32px;
    overflow: hidden;
}

div.video-preview-title {
    overflow: hidden;
    word-wrap: break-word;
    line-height: 130%;
    font-size: 14px;
    width: 100%;
    height: 16px;
    margin-bottom: 2px;
}

@-webkit-keyframes preview_expand {
    from {height: 16px;}
    to {height: 32px;}
}

/* Standard syntax */
@keyframes preview_expand {
    from {height: 16px;}
    to {height: 32px;}
}

a.video-preview:hover div.video-preview-title {
    height: 32px;
    color: rgb(0,140,255);
    -webkit-animation: preview_expand .4s; /* Chrome, Safari, Opera */
    animation: preview_expand .4s;
}

div.video-preview-hits, div.video-preview-comment-num {
    width: 80px;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    color: rgb(150,150,150);
}

div.video-preview-comment-num {
    width: 50px;
}

div.video-preview-popup {
    position: absolute;
    box-shadow: 0 0 1px rgb(100,100,100);
    top: -195px;
    background-color: white;
    width: 370px;
    padding: 15px 18px;
    display: none;
    z-index: 1;
}

a.video-preview:hover div.video-preview-popup {
    display: inline-block;
    -webkit-animation: delay_opacity_show .6s; /* Chrome, Safari, Opera */
    animation: delay_opacity_show .6s;
}

div.popup-title {
    font-size: 14px;
    border-bottom: 1px solid rgb(200,200,200);
    padding: 0 2px 5px 2px;
    min-height: 32px;
    word-wrap: break-word;
}

div.popup-statistic-line {
    font-size: 14px;
    color: rgb(150,150,150);
}

div.popup-statistic-entry {
    width: 20%;
    display: inline-block;
    padding: 7px 2px;
}

span.preview-icon {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    display: inline-block;
    background-image: url("/static/img/basic_icons.png");
}

span.preview-icon.views {
    background-position: 0 -182px;
}

span.preview-icon.favorites {
    background-position: 0 -172px;
}

span.preview-icon.comment {
    background-position: 0 -162px;
}

span.preview-icon.bullets {
    background-position: 0 -152px;
}

div.popup-intro {
    margin-bottom: 6px;
    height: 63px;
}

div.popup-thumbnail {
    width: 112px;
    box-shadow: 0 0 1px rgb(100,100,100);
    display: inline-block;
    height: 100%;
}

div.popup-thumbnail img {
    width: 100%;
    height: 100%;
}

div.popup-descript {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 13px;
    color: rgb(50,50,50);
    width: 248px;
    margin-left: 5px;
}

div.popup-upload-info {
    font-size: 14px;
}

div.popup-uploader {
    padding-left: 2px;
    width: 245px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: text-bottom;
}

div.popup-upload-time {
    text-align: right;
    display: inline-block;
    margin-left: 15px;
    vertical-align: text-bottom;
}

div.pagination-line {
    text-align: center;
    margin-bottom: 10px;
    height: 16px;
}

div.preview-status {
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: rgb(100,100,100);
}

div.preview-status.loading {
    background-image: url("/static/img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

a.ranking-video-entry {
    font-size: 14px;
    margin-bottom: 14px;
    position: relative;
    cursor: pointer;
    display: block;
}

div.ranking-top-video {
    height: 48px;
    margin-bottom: 5px;
}

div.top-video-thumbnail {
    width: 80px;
    height: 45px;
    box-shadow: 0 0 1px rgb(100,100,100);
    display: inline-block;
    vertical-align: text-top;
}

div.top-video-thumbnail img {
    width: 100%;
    height: 100%;
}

div.top-No {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(246,135,253);
}

div.top-video-title {
    display: inline-block;
    width: 170px;
    height: 100%;
    overflow: hidden;
    margin-left: 5px;
    word-wrap: break-word;
    vertical-align: text-top;
}

div.top-video-hits {
    display: inline-block;
    color: rgb(150,150,150);
    width: 120px;
    vertical-align: text-bottom;
}

div.top-video-comment-num {
    display: inline-block;
    color: rgb(150,150,150);
    vertical-align: text-bottom;
    margin-left: 10px;
}

div.ranking-No {
    height: 16px;
    width: 16px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(170,170,170);
    vertical-align: text-bottom;
}

div.ranking-video-title {
    display: inline-block;
    width: 237px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16px;
    vertical-align: text-bottom;
    margin-left: 3px;
}

a.ranking-video-entry:hover div.video-preview-popup{
    display: inline-block;
    -webkit-animation: delay_opacity_show .6s; /* Chrome, Safari, Opera */
    animation: delay_opacity_show .6s;
    right: 0;
}

a.ranking-video-entry:hover div.ranking-video-title, a.ranking-video-entry:hover div.top-video-title {
    color: rgb(0,140,255);
}

div.ranking-and-topic.subpage {
    padding-bottom: 20px;
}

#ranking-slides.subpage {
    width: 400px;
    height: 225px;
    margin-right: 24px;
    margin-bottom: 27px;
}

#slide-container.subpage {
    width: 400%;
}

a.slide.subpage {
    width: 25%;
}

div.slide-title.subpage {
    width: 290px;
}

a.next-top-videos.subpage {
    width: 176px;
    height: 99px;
    margin-right: 24px;
    margin-bottom: 27px;
}

div.hover-cover.subpage {
    padding: 10px;
}

div.cover-title.subpage {
    height: 48px;
    margin-bottom: 0px;
}

span.category-middle {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 6px 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
    float: left;
}
