@-webkit-keyframes opacity_show {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes opacity_show {
    from {opacity: 0;}
    to {opacity: 1;}
}

.ranking-and-topic {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(220,220,220);
    font-size: 0;
    width: 100%;
    position: relative;
}

.horizontal-page-roll-canvas {
    overflow: hidden;
    position: relative;
}

#ranking-slides {
    margin-right: 11px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 403px;
}

#slide-container {
    -webkit-transition: -webkit-transform .3s;  /* For Safari 3.1 to 6.0 */
    transition: transform .3s;
    font-size: 0;
    white-space: nowrap;
}

.slide {
    width: 100%;
    height: 227px;
    display: inline-block;
    cursor: pointer;
}

.slide-bottom {
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 8px 5px;
    position: absolute;
    color: white;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.slide-title {
    float: left;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 290px;
    font-size: 14px;
    display: none;
}

a.slide-title {
    color: white;
}

a.slide-title:hover {
    text-shadow: 0 0 2px white;
}

div.slide-title.active {
    display: inline-block;
    -webkit-animation: opacity_show .4s; /* Chrome, Safari, Opera */
    animation: opacity_show .4s;
}

.slide-dot {
    float: right;
    width: 10px;
    height: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    background-color: white;
    margin: 4px 8px 0 3px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    cursor: pointer;
}

.slide-dot:hover {
    margin: 1px 5px 0 0;
    width: 16px;
    height: 16px;
    border: 3px solid white;
    background-color: rgb(200,200,200);
}

.slide-dot.active {
    margin: 1px 5px 0 0;
    width: 16px;
    height: 16px;
    border: 3px solid white;
    background-color: rgb(65,199,255);
}

.next-top-videos {
    width: 196px;
    height: 110px;
    margin-right: 11px;
    box-shadow: 0 0 1px rgb(100,100,100);
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.hover-cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-size: 14px;
}

.next-top-videos:hover .hover-cover {
    display: inline-block;
    -webkit-animation: opacity_show .4s; /* Chrome, Safari, Opera */
    animation: opacity_show .4s;
}

.cover-title {
    word-wrap: break-word;
    overflow: hidden;
    line-height: 16px;
    height: 48px;
}

.cover-uploader {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.next-top-block {
    display: inline-block;
    position: absolute;
}

.video-list-line {
    margin-bottom: 6px;
    white-space: nowrap;
    height: 147px;
}

.video-list-line.auto {
    height: auto;
}

.line-empty {
    text-align: center;
    font-size: 18px;
    color: rgb(150,150,150);
    padding-top: 50px;
}

.video-list-load {
    height: 100%;
}

.video-list-line:last-child {
    margin-bottom: 0;
}

.video-preview {
    display: inline-block;
    vertical-align: top;
    margin-right: 11px;
    cursor: pointer;
    width: 196px;
}

.video-preview-thumbnail {
    width: 100%;
    height: 110px;
}

.video-preview-statistic {
    margin-top: 5px;
    height: 32px;
    overflow: hidden;
}

.video-preview-title {
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    line-height: 16px;
    font-size: 14px;
    height: 16px;
    margin-bottom: 2px;
}

@-webkit-keyframes preview_expand {
    from {height: 16px;}
    to {height: 32px;}
}

/* Standard syntax */
@keyframes preview_expand {
    from {height: 16px;}
    to {height: 32px;}
}

.video-preview:hover .video-preview-title {
    height: 32px;
    color: rgb(0,140,255);
    -webkit-animation: preview_expand .4s; /* Chrome, Safari, Opera */
    animation: preview_expand .4s;
}

.video-preview-hits, .video-preview-comment-num {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: rgb(150,150,150);
}

.video-preview-comment-num {
    width: 90px;
}

.video-preview-popup {
    position: absolute;
    box-shadow: 0 0 1px rgb(100,100,100);
    background-color: white;
    width: 373px;
    padding: 10px 15px;
    z-index: 1;
    display: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 0;
}

.video-preview-popup.show {
    display: inline-block;
    -webkit-animation: opacity_show .4s; /* Chrome, Safari, Opera */
    animation: opacity_show .4s;
}

.popup-title {
    font-size: 14px;
    border-bottom: 1px solid rgb(200,200,200);
    min-height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.popup-statistic-line {
    margin-bottom: 5px;
}

.popup-statistic-entry {
    font-size: 14px;
    color: rgb(150,150,150);
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.popup-thumbnail {
    width: 112px;
    height: 63px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.popup-descript {
    display: inline-block;
    vertical-align: top;
    height: 63px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 16px;
    color: rgb(50,50,50);
    width: 256px;
    margin-left: 5px;
}

.popup-uploader-info {
    margin-top: 5px;
    color: rgb(50,50,50);
}

.popup-uploader-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.popup-uploader-avatar img {
    height: 100%;
    width: 100%;
}

.popup-uploader {
    padding-left: 5px;
    font-size: 14px;
    line-height: 16px;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.popup-upload-time {
    font-size: 14px;
    line-height: 16px;
    margin-top: 2px;
    float: right;
}

span.preview-icon {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    display: inline-block;
    background-image: url("/static/img/basic_icons.png");
}

span.preview-icon.views {
    background-position: 0 -182px;
}

span.preview-icon.likes {
    background-position: 0 -172px;
}

span.preview-icon.comment {
    background-position: 0 -162px;
}

span.preview-icon.bullets {
    background-position: 0 -152px;
}

.video-column {
    font-size: 0;
    padding-top: 20px;
    position: relative;
}

.video-slide-container {
    -webkit-transition: -webkit-transform .3s;  /* For Safari 3.1 to 6.0 */
    transition: transform .3s;
}

span.category-middle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
}

.refresh-button {
    float: right;
    cursor: pointer;
}

.refresh-icon {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-image: url("/static/img/basic_icons.png");
    background-position: 0 -1105px;
}

.refresh-button:hover .refresh-icon {
    -webkit-animation: hover_rotate 2s linear infinite; /* Chrome, Safari, Opera */
    animation: hover_rotate 2s linear infinite;
}

.refresh-text {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(120,120,120);
}

.refresh-button:hover .refresh-text {
    color: rgb(50,50,50);
}

.horizontal-page-roll {
    top: calc(50% - 35px);
    top: -moz-calc(50% - 35px); /* Firefox */
    top: -webkit-calc(50% - 35px); /* Chrome, Safari */
    height: 70px;
    width: 35px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: background-color .3s; /* For Safari 3.1 to 6.0 */
    transition: background-color .3s;
}

.horizontal-page-roll.left {
    left: -35px;
}

.horizontal-page-roll.right {
    right: -35px;
}

.horizontal-page-padding {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.horizontal-page-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 20px;
    /*background-color: rgb(100,100,100);*/
    background-repeat: no-repeat;
    background-position: 0 -1123px;
    background-image: url("/static/img/basic_icons.png");
}

.horizontal-page-arrow.right {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.horizontal-page-roll:hover {
    background-color: rgba(210,210,210,0.5);
}

.horizontal-page-roll:hover  .horizontal-page-arrow {
    background-position: -18px -1123px;
}
