.video-img {
    width: 176px;
    height: 99px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.video-num-box.small {
    width: 100%;
}

.video-num {
    padding: 3px;
}

.video-info, .list-info {
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    width: 493px;
}

.info-line {
    margin-bottom: 3px;
}

.info-line:last-child {
    margin-bottom: 0;
}

.video-category {
    display: inline-block;
    font-size: 14px;
    border: 1px solid rgb(220,220,220);
    padding: 3px 8px;
    vertical-align: middle;
}

.video-category-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
    margin: 0 5px;
}

.video-time {
    color: rgb(150,150,150);
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

.video-title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
}

.list-intro {
    font-size: 14px;
    color: rgb(150,150,150);
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    height: 64px;
    line-height: 16px;
}

.video-statistic-entry {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

.video-list-belonged {
    margin-right: 4px;
    color: rgb(150,150,150);
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.edit-button {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

.playlist-button {
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
}

#playlist-create-button-box {
    position: relative;
    display: inline-block;
    float: right;
    font-size: 14px;
    /*margin-right: 20px;*/
}

#playlist-create-dropdown {
    position: absolute;
    border: 1px solid rgb(200,200,200);
    left: 0;
    top: 148%;
    background-color: white;
    text-align: left;
    color: black;
    z-index: 1;
    box-shadow: -2px 2px 4px rgb(230,230,230);
    width: 300px;
    padding: 0 15px;
}

#playlist-create-dropdown:before, #playlist-create-dropdown:after {
    bottom: 100%;
    left: 13%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#playlist-create-dropdown:after {
    border-bottom-color: rgb(255, 255, 255);
    border-width: 10px;
    margin-left: -10px;
}

#playlist-create-dropdown:before {
    border-bottom-color: rgb(200, 200, 200);
    border-width: 11px;
    margin-left: -11px;
}

.playlist-title-label {
    padding-top: 10px;
    padding-bottom: 5px;
}

#playlist-title-input, #playlist-intro-input, #playlist-type-input {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

#playlist-intro-input {
    height: 50px;
    resize: vertical;
}

#playlist-create-buttons-line {
    padding: 10px 0;
    text-align: right;
    font-size: 0;
}

.create-button {
    margin: 0;
    margin-left: 10px;
}

#sub-title.playlist {
    max-width: 498px;
}

#playlist-title-change-form {
    display: inline-block;
}

#playlist-title-change {
    width: 490px;
}

#playlist-intro-change {
    margin-top: 10px;
    display: block;
    width: 490px;
    min-height: 60px;
    resize: vertical;
}

#playlist-change-buttons-line {
    text-align: right;
    padding-top: 10px;
}

a.sub-title-link {
    max-width: 474px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 16px;
}

div.edit-title-button {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: 0 -384px;
    background-image: url("/static/img/basic_icons.png");
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

div.edit-title-button:hover {
    background-position: 0 -403px;
}

#action-select {
    margin-left: 15px;
}

.list-No {
    display: inline-block;
    vertical-align: middle;
    color: rgb(100,100,100);
    font-size: 14px;
    width: 32px;
    text-align: center;
}

.video-img.playlist {
    width: 96px;
    height: 54px;
}

.video-info.playlist {
    width: 560px;
}

.content-entry.list {
    padding: 10px;
    padding-left: 0;
}

.list-video-time {
    font-size: 14px;
    color: rgb(100,100,100);
}

.move-to-input {
    position: absolute;
    padding: 2px 4px;
    width: 0;
    margin-top: -3px;
    display: none;
}

.move-to-input.show {
    display: inline-block;
    width: 50px;
    -webkit-animation: left_to_right_show .3s; /* Chrome, Safari, Opera */
    animation: left_to_right_show .3s;
}

.popup-window-box.add-search {
    height: 80%;
    position: relative;
}

.popup-window-center.wide {
    width: 770px;
}

.add-search-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(100,100,100);
    display: inline-block;
}

.add-search-title-line {
    padding-bottom: 15px;
}

.popup-video-container, .popup-playlist-container {
    border-top: 1px solid rgb(200,200,200);
    border-bottom: 1px solid rgb(200,200,200);
    overflow: auto;
    height: calc(100% + 25px - 41px - 60px);
    height: -moz-calc(100% + 25px - 41px - 60px); /* Firefox */
    height: -webkit-calc(100% + 25px - 41px - 60px); /* Chrome, Safari */
}

.content-entry.popup {
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.content-entry.popup.loading {
    padding: 30px 0;
}

.content-entry.popup.none {
    padding: 100px 0;
}

.content-entry.popup.belonged .video-title, .content-entry.popup.belonged .list-video-time {
    color: rgb(175,175,175);
}

.content-entry.popup.selected {
    box-shadow: inset 0 0 8px rgb(180,180,180);
}

img.popup-video-img {
    width: 96px;
    height: 54px;
    box-shadow: 0 0 1px rgb(100,100,100);
}

.video-title.popup {
    word-wrap: break-word;
    white-space: normal;
}

.choose-buttons-line {
    text-align: right;
}

div.add-button, input.add-button {
    margin-top: 10px;
    margin-left: 10px;
}

.danmaku-clip-list {
    padding: 15px 20px 25px 20px;
}

.danmaku-table-line {
    padding: 5px;
    padding-left: 3px;
    border-bottom: 1px solid rgb(200,200,200);
    color: rgb(100,100,100);
    font-size: 0;
}

.danmaku-table-line.label-line {
    font-weight: bold;
}

.table-label {
    width: 100px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    font-size: 14px;
}

.table-label.subtitle {
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
}

.table-label.action {
    width: auto;
}

.pools-block {
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: rgb(100,100,100);
    font-size: 0;
}

.pool-detail-list.none {
    font-size: 18px;
    text-align: center;
    color: rgb(150,150,150);
    padding: 50px;
}

.pool-detail-list.loading {
    padding: 50px;
}

.pool-detail-entry {
    padding: 5px;
}

.pool-detail-entry:nth-child(odd) {
    background-color: rgb(240,240,240);
}

.pool-detail-entry.label-line {
    background-color: rgb(220,220,220);
}

.detail-label {
    font-size: 14px;
    width: 60px;
    display: inline-block;
    vertical-align: top;
    height: 16px;
    overflow: hidden;
    margin-right: 10px;
}

.detail-label.color {
    width: 40px;
}

.detail-label.timestamp {
    width: 70px;
}

.detail-label.content {
    width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-label.content.long {
    width: 380px;
}

.detail-label.content.advanced.pending {
    width: 320px;
}

.detail-label.content.code {
    width: 325px;
}

.detail-label.content.code.expanded {
    width: 380px;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-transition: height .3s; /* For Safari 3.1 to 6.0 */
    transition: height .3s;
}

.detail-label.content.code.pending {
    width: 265px;
}

.detail-label.content.code.expanded.pending {
    width: 320px;
}

.detail-label.expand {
    width: 45px;
    cursor: pointer;
}

.detail-label.confirm {
    width: 50px;
    cursor: pointer;
}

.detail-label.created {
    width: 120px;
}

.color-box {
    width: 14px;
    height: 14px;
    border: 1px solid rgb(200,200,200);
}

.single-checkbox.inline {
    position: static;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.single-checkbox.inline.checked {
    background-position: -1px -193px;
}

.actions-line {
    margin-bottom: 10px;
    font-size: 0;
}

.list-select.pool {
    width: 170px;
}

.clip-title-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    font-size: 16px;
    color: rgb(100,100,100);
    margin-right: 10px;
}

.inline-button.actions {
    font-weight: normal;
    border-radius: 0;
    margin: 0;
    float: right;
    margin-left: 10px;
}

.danmaku-num-label {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    color: rgb(100,100,100);
}

.danmaku-confirm-label {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    color: rgb(100,100,100);
}

.sub-search-block {
    float: right;
    border: 1px solid rgb(200,200,200);
    margin-left: 15px;
}

.sub-search-input {
    padding: 4px;
    display: inline-block;
    border: 0;
    font-size: 14px;
    width: 140px;
    vertical-align: middle;
}

.sub-search-button {
    width: 24px;
    height: 24px;
    background-color: rgb(240,240,240);
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-left: 1px solid rgb(200,200,200);
    background-image: url("/static/img/basic_icons.png");
    background-repeat: no-repeat;
    background-position: 3px -300px;
    cursor: pointer;
}

.sub-search-button:hover{
    background-position: 3px -320px;
}

.sub-search-button:active {
    background-position: 3px -340px;
    background-color: rgb(0,135,255);
}
