div.video-entry {
    display: inline-table;
    padding: 25px;
    border-top: 1px solid rgb(230,230,230);
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.video-entry.none {
    text-align: center;
    padding: 100px 50px;
    font-size: 18px;
    color: rgb(100,100,100);
}

div.video-entry.loading {
    padding: 100px 50px;
    background-image: url("/static/img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: 370px 95px;
}

a.video-img {
    display: inline-block;
    font-size: 0;
}

img.video-img {
    width: 176px;
    height: 99px;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.video-info {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 488px;
    position: relative;
}

div.video-category {
    display: inline-block;
    font-size: 14px;
    border: 1px solid rgb(220,220,220);
    padding: 3px 8px;
}

div.video-category-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-image: url("/static/img/arrow.png");
    margin: 0 5px;
}

div.video-time {
    color: rgb(150,150,150);
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

div.video-title {
    font-size: 0;
}

a.video-title {
    /*font-size: 14px;*/
    /*color: rgb(100,100,100);*/
    /*font-weight: bold;*/
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    font-size: 16px;
}

a.video-title.favored {
    margin-top: 7px;
}

a.video-title:hover {
    color: rgb(0,140,255);
}

div.video-statistic {
    margin-top: 2px;
    font-size: 14px;
}

div.video-statistic.favored {
    margin-top: 7px;
}

div.video-statistic-entry {
    display: inline-block;
    margin-right: 10px;
}

div.video-playlist {
    margin-top: 2px;
    font-size: 14px;
}

div.video-playlist label {
    margin-right: 4px;
    color: rgb(100,100,100);
    max-width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.video-edit {
    margin-top: 2px;
    font-size: 14px;
}

a.edit-entry {
    display: inline-block;
    margin-right: 10px;
    color: rgb(0,140,255);
    cursor: pointer;
}

a.edit-entry:hover {
    color: rgb(255,177,108);
}

a.edit-entry:active {
    color: rgb(0,50,200);
}

div.video-delete {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 50%;
    background-image: url("/static/img/delete.png");
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    display: none;
}

div.video-entry:hover div.video-delete {
    display: inline-block;
}

div.video-delete:hover {
    background-image: url("/static/img/delete-hover.png");
}

div.video-delete:active {
    background-image: url("/static/img/delete-active.png");
}

div.video-pagination-line {
    text-align: center;
    border-top: 1px solid rgb(220,220,220);
}

div.page-change, div.page-num {
    margin: 15px 0;
}

div.favored-time {
    font-size: 14px;
    margin-top: 7px;
}

div.favored-time label {
    color: rgb(150,150,150);
}

div.delete-confirm-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

div.delete-confirm-container.show {
    display: block;
}

div.delete-confirm-center {
    width: 400px;
    height: 100%;
    margin: auto;
    font-size: 0;
}

div.delete-padding {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

div.delete-confirm-box {
    background-color: rgb(255,255,255);
    width: 100%;
    /*height: 200px;*/
    vertical-align: middle;
    display: inline-block;
    padding: 25px;
    border: 1px solid rgb(200,200,200);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.delete-confirm-message {
    width: 290px;
    vertical-align: middle;
    font-size: 18px;
    display: inline-block;
    word-wrap: break-word;
    color: rgb(100,100,100);
    font-weight: bold;
}

div.delete-video-name {
    font-size: 16px;
    margin: 15px;
    word-wrap: break-word;
}

div.delete-buttons-line {
    border-top: 1px solid rgb(200,200,200);
}

div.delete-button {
    float: right;
    margin-right: 0;
    margin-top: 15px;
    margin-left: 15px;
    min-width: 40px;
    text-align: center;
}

div.delete-button.delete {
    background-color: rgb(0,140,255);
    border-color: rgb(0,140,255);
    color: white;
}

div.delete-button.delete:hover {
    background-color: rgb(81,203,238);
    border-color: rgb(81,203,238);
}
