div.content-entry {
    display: inline-table;
    padding: 15px 25px;
    border-top: 1px solid rgb(230,230,230);
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    position: relative;
    font-size: 0;
}

div.content-entry.none {
    text-align: center;
    padding: 100px 50px;
    font-size: 18px;
    color: rgb(150,150,150);
}

div.content-entry.loading {
    padding: 100px 50px;
}

a.video-img {
    display: inline-block;
    position: relative;
}

img.video-img {
    width: 176px;
    height: 99px;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.video-num-box {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    font-size: 14px;
    padding-top: 23px;
    font-weight: bold;
    color: rgb(240,240,240);
    background-color: rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.video-num {
    padding: 3px;
}

div.video-info, div.list-info {
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    width: 493px;
}

div.video-category {
    display: inline-block;
    font-size: 14px;
    border: 1px solid rgb(220,220,220);
    padding: 3px 8px;
    vertical-align: middle;
}

div.video-category-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
    margin: 0 5px;
}

div.video-time {
    color: rgb(150,150,150);
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

div.video-title {
    font-size: 0;
}

a.video-title {
    font-size: 14px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
}

a.video-title.favored {
    margin-top: 7px;
}

div.list-intro {
    font-size: 14px;
    color: rgb(150,150,150);
    margin-top: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    height: 48px;
    line-height: 16px;
}

div.video-statistic {
    margin-top: 3px;
    font-size: 14px;
}

div.video-statistic.favored {
    margin-top: 7px;
    color: rgb(100,100,100);
}

div.video-statistic-entry {
    display: inline-block;
    margin-right: 10px;
}

div.video-playlist {
    margin-top: 3px;
    font-size: 14px;
    font-size: 0;
}

div.video-playlist label {
    margin-right: 4px;
    color: rgb(150,150,150);
    max-width: 430px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
}

div.video-edit {
    margin-top: 2px;
    font-size: 14px;
}

div.list-edit {
    margin-top: 5px;
    font-size: 14px;
}

a.edit-entry {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

div.pagination-line {
    text-align: center;
    border-top: 1px solid rgb(220,220,220);
}

a.page-num {
    margin: 10px 0;
}

div.page-change, a.page-change {
    margin: 15px 5px;
}

div.favored-time {
    font-size: 14px;
    margin-top: 7px;
}

div.favored-time label {
    color: rgb(150,150,150);
}

#playlist-create-button-box {
    position: relative;
    display: inline-block;
    float: right;
    font-size: 14px;
    /*margin-right: 20px;*/
}

#playlist-create-dropdown {
    position: absolute;
    border: 1px solid rgb(200,200,200);
    left: 0;
    top: 148%;
    background-color: white;
    text-align: left;
    color: black;
    z-index: 1;
    box-shadow: 0px 4px 4px rgb(230,230,230);
    display: none;
}

#playlist-create-dropdown.show {
    display: block;
}

#playlist-create-dropdown:before, #playlist-create-dropdown:after {
    bottom: 100%;
    left: 18%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#playlist-create-dropdown:after {
    border-bottom-color: rgb(255, 255, 255);
    border-width: 10px;
    margin-left: -10px;
}

#playlist-create-dropdown:before {
    border-bottom-color: rgb(200, 200, 200);
    border-width: 11px;
    margin-left: -11px;
}

#playlist-title-label {
    padding: 15px 20px 10px 10px;
}

#playlist-title-input, #playlist-intro-input {
    margin: 0 10px;
    padding: 4px;
    width: 300px;
    font-size: 14px;
    border: 1px solid rgb(200,200,200);
    box-shadow: inset 0px 1px 3px rgb(220,220,220);
    resize: vertical;
}

#playlist-title-input:focus, #playlist-intro-input:focus {
    border: 1px solid rgb(81,203,238);
}

#playlist-title-input.error, #playlist-intro-input.error {
    border: 1px solid rgb(232,0,0);
}

#playlist-create-buttons-line {
    padding: 15px 10px 10px 10px;
    text-align: right;
    font-size: 0;
}

div.create-button, input.create-button {
    margin: 0;
    margin-left: 10px;
}

#sub-title.playlist {
    max-width: 498px;
    position: absolute;
}

#playlist-title-change-form {
    display: none;
    float: left;
}

#playlist-title-change-form.show {
    display: inline-block;
}

#playlist-title-change {
    width: 490px;
}

#playlist-intro-change {
    margin-top: 10px;
    display: block;
    width: 490px;
    min-height: 60px;
    resize: vertical;
}

#playlist-change-buttons-line {
    font-size: 0;
    text-align: right;
    padding: 15px 0 0 0;
}

a.sub-title-link {
    max-width: 474px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 16px;
}

div.edit-title-button {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: 0 -384px;
    background-image: url("/static/img/basic_icons.png");
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

div.edit-title-button:hover {
    background-position: 0 -403px;
}

#action-select {
    margin-left: 15px;
}

div.list-No {
    display: inline-block;
    vertical-align: middle;
    color: rgb(100,100,100);
    font-size: 14px;
    margin-right: 10px;
}

a.video-img.playlist {
    vertical-align: middle;
}

img.list-video-img {
    width: 96px;
    height: 54px;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.video-info.playlist {
    width: 560px;
}

a.video-title.list {
    margin-top: 0;
}

div.content-entry.list {
    padding: 10px;
}

div.list-video-time {
    font-size: 14px;
    color: rgb(150,150,150);
    margin-top: 4px;
}

input.move-to-input {
    position: absolute;
    padding: 2px 4px;
    width: 0;
    margin-top: -3px;
    display: none;
}

input.move-to-input.show {
    display: inline-block;
    width: 50px;
    -webkit-animation: left_to_right_show .3s; /* Chrome, Safari, Opera */
    animation: left_to_right_show .3s;
}

div.popup-window-box.add-search {
    height: 80%;
    position: relative;
}

div.popup-window-center.wide {
    width: 770px;
}

div.add-search-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(100,100,100);
    display: inline-block;
    float: left;
}

div.add-search-title-line {
    padding-bottom: 15px;
}

div.popup-video-container {
    border-top: 1px solid rgb(200,200,200);
    overflow: auto;
    height: calc(100% + 25px - 41px - 60px);
    height: -moz-calc(100% + 25px - 41px - 60px); /* Firefox */
    height: -webkit-calc(100% + 25px - 41px - 60px); /* Chrome, Safari */
}

div.content-entry.popup {
    padding: 10px;
    border: 0;
    cursor: pointer;
}

div.content-entry.popup.belonged div.video-title.popup {
    color: rgb(150,150,150);
}

div.content-entry.popup.belonged {
    background-color: rgb(240,240,240);
}

div.content-entry.popup.selected {
    box-shadow: inset 0 0 8px rgb(180,180,180);
}

img.popup-video-img {
    width: 96px;
    height: 54px;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.video-title.popup {
    font-size: 14px;
    word-wrap: break-word;
}

div.add-button, input.add-button {
    float: right;
    margin-top: 10px;
}

.danmaku-clip-list {
    border-top: 1px solid rgb(220,220,220);
    padding: 15px 20px 25px 20px;
}

.danmaku-table-line {
    padding: 5px;
    padding-left: 3px;
    border-bottom: 1px solid rgb(200,200,200);
    color: rgb(100,100,100);
    font-size: 0;
}

.danmaku-table-line.label-line {
    font-weight: bold;
}

.table-label {
    width: 100px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.table-label.subtitle {
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
}

.table-label.action {
    width: auto;
}

.pools-block {
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: rgb(100,100,100);
    font-size: 0;
}

.pool-detail-list.none {
    font-size: 18px;
    text-align: center;
    color: rgb(150,150,150);
    padding: 50px;
}

.pool-detail-list.loading {
    padding: 50px;
}

.pool-detail-entry {
    padding: 5px;
}

.pool-detail-entry:nth-child(odd) {
    background-color: rgb(240,240,240);
}

.pool-detail-entry.label-line {
    background-color: rgb(220,220,220);
}

.detail-label {
    font-size: 14px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    overflow: hidden;
    margin-right: 10px;
}

.detail-label.color {
    width: 40px;
}

.detail-label.timestamp {
    width: 70px;
}

.detail-label.content {
    width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-label.content.advanced, .detail-label.content.subtitles {
    width: 380px;
}

.detail-label.created {
    width: 120px;
}

.color-box {
    width: 14px;
    height: 14px;
    border: 1px solid rgb(200,200,200);
}

.single-checkbox.inline {
    position: static;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.single-checkbox.inline.checked {
    background-position: -1px -193px;
}

.actions-line {
    margin-bottom: 10px;
    font-size: 0;
}

.list-selected, .list-option {
    font-size: 14px;
    line-height: 16px;
}

.list-selected.pool, .list-option.pool {
    width: 150px;
}

.clip-title-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    font-size: 16px;
    color: rgb(100,100,100);
    margin-right: 10px;
}

.inline-button.actions {
    font-weight: normal;
    border-radius: 0;
    margin: 0;
    float: right;
    margin-left: 10px;
}

.danmaku-num-label {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    color: rgb(100,100,100);
}
