div.content-entry {
    border-top: 1px solid rgb(230,230,230);
    padding: 10px 25px;
    width: 100%;
    display: inline-table;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: rgb(245,245,245);
    position: relative;
}

div.content-entry.unread, div.content-entry.mentioned {
    background-color: rgb(255,255,255);
}

div.content-entry.none {
    padding: 100px;
    text-align: center;
    color: rgb(150,150,150);
    font-size: 18px;
    background-color: rgb(255,255,255);
}

div.content-entry.loading {
    padding: 50px;
    background-color: rgb(255,255,255);
}

a.user-img {
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 0;
}

a.user-img img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.message-info {
    display: inline-block;
    margin-left: 10px;
    width: 620px;
    vertical-align: top;
}

div.info-line {
    font-size: 0;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 2px;
}

div.info-line label {
    font-size: 14px;
    color: rgb(150,150,150);
    margin-right: 5px;
}

div.info-line label.time {
    margin-left: 10px;
}

.user-name {
    font-size: 14px;
    cursor: pointer;
}

.message-title {
    display: inline-block;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    vertical-align: bottom;
}

div.content-entry.unread a.message-title {
    font-weight: bold;
    color: rgb(0,0,0);
}

div.comment-content {
    margin-top: 5px;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: rgb(100,100,100);
    max-width: 100%;
}

a.reply-link {
    margin-top: 5px;
    font-size: 14px;
}

div.pagination-line {
    padding: 10px 0;
    border-top: 1px solid rgb(230,230,230);
    text-align: center;
}

#sub-title {
    max-width: 600px;
    word-wrap: break-word;
}

#message-block {
    width: 100%;
    height: 450px;
    border-top: 1px solid rgb(200,200,200);
    position: relative;
}

#message-contain-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 15px 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.message-detail-entry {
    overflow: hidden;
    will-change: height;
    padding: 0 1px 10px 1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

div.message-date {
    font-size: 14px;
    color: rgb(150,150,150);
    padding: 5px 0;
}

div.message-date.send {
    text-align: right;
}

div.message-date.receive {
    text-align: left;
}

a.user-img {
    width: 48px;
    height: 48px;
    display: inline-block;
}

a.user-img img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.message-content {
    margin: 0 15px;
    max-width: 450px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 7px 12px;
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
}

div.message-content.send {
    border: 1px solid rgb(97,194,84);
}

div.message-content.receive {
    border: 1px solid rgb(85,178,255);
}

a.user-img.send, div.message-content.send {
    float: right;
}

a.user-img.receive, div.message-content.receive {
    float: left;
}

div.message-content:before, div.message-content:after {
    border: solid transparent;
    content: "";
    position: absolute;
    pointer-events: none;
}

div.message-content.send:after {
    border-left-color: rgb(255, 255, 255);
    border-width: 6px;
    top: 10px;
    left: 100%;
}

div.message-content.send:before {
    border-left-color: rgb(97,194,84);
    border-width: 7px;
    top: 9px;
    left: 100%;
}

div.message-content.receive:after {
    border-right-color: rgb(255, 255, 255);
    border-width: 6px;
    top: 10px;
    right: 100%;
}

div.message-content.receive:before {
    border-right-color: rgb(85,178,255);
    border-width: 7px;
    top: 9px;
    right: 100%;
}

form.message-block {
    padding: 25px;
    padding-bottom: 0;
}

form.reply-block {
    border-top: 1px solid rgb(200,200,200);
    padding: 25px;
}

#self-img {
    width: 64px;
    height: 64px;
    display: inline-block;
    box-shadow: 0 0 1px rgb(100,100,100);
    margin-right: 15px;
}

#send-message-block {
    display: inline-block;
    vertical-align: top;
}

#reply-message {
    resize: none;
    height: 50px;
    min-height: 50px;
    width: 500px;
}

#send-message {
    resize: vertical;
    height: 100px;
    width: 550px;
}

.inline-button.send {
    float: right;
    margin-top: 15px;
    margin-right: 0;
    min-width: 58px;
    text-align: center;
    padding: 5px 8px;
}

form.change label.message-label {
    width: 65px;
    color: rgb(100,100,100);
    /*font-weight: bold;*/
    display: inline-block;
    margin-right: 15px;
}

div.notification-type {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("/static/img/basic_icons.png");
}

div.notification-type.info {
    background-position: 0 -670px;
}

div.notification-type.warning {
    background-position: 0 -739px;
}

div.notification-detail {
    font-size: 14px;
    color: rgb(100,100,100);
    margin-top: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    overflow: hidden;
    height: 0;
    -webkit-transition: height .3s; /* For Safari 3.1 to 6.0 */
    transition: height .3s;
}

#action-select {
    margin-left: 15px;
}
