#body-background {
    padding-top: 20px;
}

#body-container {
    border: 1px solid rgb(200,200,200);
    border-bottom: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

div.search-scope-line {
    padding: 5px 25px;
    border-bottom: 1px solid rgb(220,220,220);
}

div.search-result-num {
    display: inline-block;
    margin-top: 4px;
    float: left;
    color: rgb(100,100,100);
}

#view-method-block {
    float: right;
}

#view-method, #view-method-label {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

div.content-entry {
    border-bottom: 1px solid rgb(220,220,220);
    display: inline-table;
    width: 100%;
    padding: 10px 40px 10px 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-size: 0;
}

div.content-entry.no-result {
    text-align: center;
    font-size: 18px;
    color: rgb(150,150,150);
    padding: 100px;
    display: block;
}

div.video-img-uper {
    display: inline-block;
    vertical-align: top;
}

a.video-img {
    display: block;
    font-size: 0;
    position: relative;
}

img.video-img {
    width: 192px;
    height: 108px;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.uper-line {
    width: 192px;
    word-wrap: break-word;
    max-height: 64px;
    font-size: 14px;
    overflow: hidden;
    margin-top: 5px;
}

a.video-uploader {
    vertical-align: middle;
}

div.video-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    width: 745px;
}

div.video-category {
    display: inline-block;
    font-size: 14px;
    border: 1px solid rgb(220,220,220);
    padding: 3px 8px;
}

div.video-category-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
    margin: 0 5px;
}

div.video-time {
    color: rgb(150,150,150);
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

a.video-title, a.uploader {
    font-size: 14px;
    /*color: rgb(100,100,100);*/
    /*font-weight: bold;*/
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
}

a.video-title:hover {
    color: rgb(0,140,255);
}

div.video-statistic {
    margin-top: 2px;
    font-size: 14px;
}

div.video-statistic-entry {
    display: inline-block;
    margin-right: 30px;
    color: rgb(100,100,100);
}

div.video-description, div.playlist-description, div.uper-description {
    font-size: 14px;
    width: 100%;
    margin-top: 2px;
    color: rgb(150,150,150);
    height: 48px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}

div.uper-description {
    margin-top: 5px;
}

div.video-tags, div.playlist-episode, div.uper-buttons {
    border-top: 1px solid rgb(220,220,220);
}

a.tag-entry {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px 8px;
    display: inline-block;
    margin: 3px 10px 0 0;
/*    border: 1px solid rgb(220,220,220);*/
    cursor: pointer;
    font-size: 14px;
    color: rgb(100,100,100);
}

a.episode-entry {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    margin-right: 10px;
    padding: 6px;
    font-weight: normal;
}

a.tag-entry:hover {
    background-color: rgb(240,240,240);
    color: rgb(0,140,255);
}

div.search-pagination-line {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(200,200,200);
    font-size: 0;
}

a.uper-img {
    display: inline-block;
    font-size: 0;
}

img.uper-img {
    width: 128px;
    height: 128px;
    box-shadow: 0 0 1px rgb(100,100,100);
}

div.uper-info {
    display: inline-block;
    margin-left: 20px;
    width: 794px;
    vertical-align: top;
}

div.uper-detail-line {
    margin-top: 5px;
    font-size: 14px;
}

div.uper-detail-info {
    display: inline-block;
    margin-right: 20px;
    color: rgb(150,150,150);
}

div.video-num-box {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    font-size: 14px;
    padding-top: 30px;
    font-weight: bold;
    color: rgb(240,240,240);
    background-color: rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.video-num {
    padding: 3px;
}
