#body-background {
    padding-top: 20px;
}

#body-container {
    border: 1px solid rgb(200,200,200);
    border-bottom: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.search-scope-line {
    padding: 5px 25px;
    border-bottom: 1px solid rgb(230,230,230);
    font-size: 0;
}

.search-result-num {
    display: inline-block;
    margin: 4px 0;
    line-height: 18px;
    color: rgb(100,100,100);
    font-size: 16px;
}

.content-entry {
    padding-right: 40px;
}

.video-img-uper {
    display: inline-block;
    vertical-align: top;
    width: 192px;
}

.video-img {
    height: 108px;
    display: block;
    font-size: 0;
    position: relative;
}

.uper-line {
    word-wrap: break-word;
    margin-top: 5px;
}

.uploader-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.uploader-avatar img {
    width: 100%;
    height: 100%;
}

.video-uploader {
    vertical-align: middle;
    line-height: 16px;
    font-size: 14px;
}

.video-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    width: 745px;
}

.info-line {
    margin-bottom: 2px;
}

.info-line:last-child {
    margin-bottom: 0;
}

.video-category {
    display: inline-block;
    font-size: 14px;
    border: 1px solid rgb(220,220,220);
    padding: 3px 8px;
    vertical-align: middle;
}

.video-category-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-position: 0 0;
    background-image: url("/static/img/basic_icons.png");
    margin: 0 5px;
}

.video-time {
    color: rgb(150,150,150);
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

.video-title, .uploader-name {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
}

.video-statistic-entry {
    display: inline-block;
    margin-right: 30px;
    color: rgb(100,100,100);
    font-size: 14px;
}

.video-description, .playlist-description, .uper-description {
    font-size: 14px;
    color: rgb(150,150,150);
    height: 48px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.playlist-description {
    height: 64px;
}

.video-tags, .playlist-episode, .uper-buttons {
    border-top: 1px solid rgb(230,230,230);
}

a.tag-entry {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px 8px;
    display: inline-block;
    margin: 3px 10px 0 0;
/*    border: 1px solid rgb(220,220,220);*/
    cursor: pointer;
    font-size: 14px;
    color: rgb(100,100,100);
}

.tag-entry:hover {
    background-color: rgb(240,240,240);
    color: rgb(0,140,255);
}

a.episode-entry {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    margin-right: 10px;
    padding: 6px;
    font-weight: normal;
}

.upers-button {
    margin-top: 8px;
    margin-right: 10px;
}

.uper-img {
    display: inline-block;
    width: 128px;
    height: 128px;
    font-size: 0;
}

.uper-info {
    display: inline-block;
    margin-left: 20px;
    width: 794px;
    vertical-align: top;
}

.uper-detail-info {
    display: inline-block;
    margin-right: 20px;
    color: rgb(150,150,150);
    font-size: 14px;
}

.video-num-box {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    color: rgb(240,240,240);
    background-color: rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.video-num {
    padding: 3px;
}

.number-scope-form {
    float: right;
}

.number-scope {
    width: 60px;
    margin-left: 10px;
    vertical-align: middle;
}

.number-scope-label {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 7px;
    color: rgb(100,100,100);
}
