#signup-container, #signin-container {
  float: right;
  position: relative;
}

#signup-header, #signin-header {
  color: rgb(100,100,100);
  font-size: 33px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

label.form-label, label.check-label {
  display: block;
  font-size: 18px;
  color: rgb(100,100,100);
  margin-bottom: 5px;
}

input.checkbox {
  margin: 0;
  height: 15px;
  width: 15px;
  position: relative;
  top: 2px;
  cursor: pointer;
  display: inline-block;
}

label.check-label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 130px;
  margin-bottom: 10px;
}

input.inputtext, input.inputpassword {
  display: block;
  width: 380px;
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  padding: 8px 8px;
  outline: none;
  margin-bottom: 10px;
  font-size: 16px;
}

input.inputtext.error, input.inputpassword.error {
  box-shadow: 0 0 2px rgb(232,0,0);
  border: 1px solid rgb(232,0,0);
}

input.inputtext:focus, input.inputpassword:focus {
  box-shadow: 0 0 2px rgb(81,203,238);
  border: 1px solid rgb(81,203,238);
}

input.signin_up-button {
  margin-top: 5px;
  font-size: 18px;
  padding: 7px 20px;
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  background-color: rgb(250,250,250);
  cursor: pointer;
  font-family:"Times New Roman",Georgia,Serif;
  outline: none;
  font-weight: normal;
  color: rgb(50,50,50);
}

input.signin_up-button:hover {
  box-shadow: 0 0 2px rgb(81,203,238);
  border: 1px solid rgb(81,203,238);
  color: rgb(0,150,255);
}

input.signin_up-button:active {
  background-color: rgb(81,203,238);
  color: rgb(255,255,255);
}

a.signin_up-link {
  margin: 0 10px;
  /*margin-left: 10px;*/
  text-decoration: none;
  color: rgb(0,140,255);
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

a.signin_up-link:hover {
  color: rgb(255,177,108);
}

a.signin_up-link:active {
  color: rgb(0,50,200);
}

span.other-option {
  margin-left: 10px;
}

#password-label {
  display: inline-block;
}

#forgot-password {
  font-size: 14px;
  margin-left: 210px;
  margin-right: 0;
}

#signup-success {
  display: none;
  color: rgb(55,205,2);
  margin: 5px 0;
  width: 398px;
  font-size: 18px;
}

#signup-success.show {
  display: block;
}

div.input-error-message {
  position: absolute;
  right: 405px;
  white-space: nowrap;
  display: none;
}

div.input-error-message.show {
  display: inline-table;
}

div.input-error-message span {
  background-color: rgb(192,62,62);
  color: white;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
  top: 5px;
}

div.error-message-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid rgb(192,62,62);
  position: relative;
  top: 8px;
  right: 1px;
}