#signup-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
}

#signup-header {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
  padding: 6px 0 16px;
  border-bottom: 1px solid #aaa;
}

#signup-header h2 {
  margin: 0px;
  font-size: 20px;
  line-height: 20px;
}

#signup-form-container {
  margin: 20px;
}

#signup-form {
  margin: auto;
  width: 300px;
}

.form-row {
  padding: 0 0 8px 0;
}

.form-row label {
  width: 100px;
  float: left;
  display: block;
  cursor: pointer;
}

.form-row input {
  width: 175px;
  border: 1px solid #bbb;
}

#buttons {
  padding: 10px 0 0 100px;
}

#buttons:after {
  clear: both;
  content: ".";
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
}

#signup-button {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  display: block;
}

#signin-link {
  font-size: 11px;
  margin-top: 5px;
  float: left;
  display: block;
}
