#space-navigation {
    border-bottom: 1px solid rgb(200,200,200);
    width: 1024px;
    margin: auto;
}

#space-title {
    font-size: 24px;
    padding: 20px 0 20px 25px;
    display: inline-block;
    float: left;
}

#navi-link-line {
    float: right;
    padding-right: 10px;
}

.space-navi-link {
    margin-top: 29px;
    padding: 10px;
    display: inline-block;
    margin-left: 15px;
    color: rgb(100,100,100);
}

.space-navi-link:hover {
    color: rgb(0,140,255);
    padding-bottom: 6px;
    border-bottom: 4px solid rgb(171,217,255);
}

.space-navi-link.active {
    padding-bottom: 6px;
    border-bottom: 4px solid rgb(85,178,255);
    color: rgb(0,140,255);
}

.space-navi-link.back {
    padding: 10px;
    border-bottom: 0;
    color: rgb(100,100,100);
}

.space-navi-link.back:hover {
    color: rgb(0,140,255);
}

#body-background {
    background-color: white;
}

#space-list-container {
    float: left;
    width: 775px;
}

.content-entry {
    border-bottom: 0;
}

.content-entry:nth-child(even) {
    background-color: rgb(250,250,250);
}

.content-entry.uper {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid rgb(200,200,200);
  margin-top: 20px;
  margin-left: 30px;
  font-size: 0;
}

.content-entry.uper:nth-child(even) {
    background-color: inherit;
}

.video-img {
    width: 176px;
    height: 99px;
    display: inline-block;
    position: relative;
}

.video-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    width: calc(100% - 176px - 15px);
    width: -moz-calc(100% - 176px - 15px); /* Firefox */
    width: -webkit-calc(100% - 176px - 15px); /* Chrome, Safari */
}

.video-time {
    color: rgb(100,100,100);
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}

.video-title {
    word-wrap: break-word;
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
}

.video-intro {
    font-size: 14px;
    color: rgb(150,150,150);
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 16px;
    height: 64px;
    overflow: hidden;
}

.playlist-intro {
    font-size: 14px;
    color: rgb(150,150,150);
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 16px;
    height: 80px;
    overflow: hidden;
}

#uper-info-box {
    float: right;
    width: 238px;
    text-align: center;
    font-size: 0;
}

#uper-img {
    width: 128px;
    height: 128px;
    margin-top: 25px;
}

.inline-button.host {
    font-weight: normal;
    margin: 15px 5px 0 5px;
    width: 90px;
    padding: 5px 4px;
}

.inline-button.uper {
    margin-right: 10px;
}

#uper-intro {
    margin: 10px 10px 0 10px;
    border-top: 1px solid rgb(220,220,220);
    /*border-bottom: 1px solid rgb(220,220,220);*/
    padding: 10px;
    font-size: 14px;
    text-align: left;
    color: rgb(150,150,150);
    word-wrap: break-word;
    white-space: pre-wrap;
}

#uper-statistic {
    margin: 0 10px;
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.uper-statistic-entry {
    margin-bottom: 5px;
}

.uper-statistic-label {
    width: 70px;
    display: inline-block;
    color: rgb(100,100,100);
    margin-right: 2px;
}

.uper-statistic-content {
    display: inline-block;
    font-weight: bold;
    color: rgb(100,100,100);
}

.user-img {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.message-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: calc(100% - 48px - 15px);
    width: -moz-calc(100% - 48px - 15px); /* Firefox */
    width: -webkit-calc(100% - 48px - 15px); /* Chrome, Safari */
    font-size: 14px;
}

a.user-name {
    font-size: 14px;
}

label.floorth {
    font-size: 14px;
    margin-right: 10px;
    color: rgb(150,150,150);
}

div.message-time {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    color: rgb(150,150,150);
}

div.message-content {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(100,100,100);
    white-space: pre-wrap;
    word-wrap: break-word;
}

#write-message-box {
    padding: 10px 25px;
    font-size: 0;
}

#self-img {
    width: 64px;
    height: 64px;
}

#write-message {
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
}

#write-text {
    resize: vertical;
    width: 550px;
    min-height: 80px;
}

.inline-button.write {
    float: right;
    margin-right: 0;
    margin-top: 15px;
    width: 64px;
    text-align: center;
}

#recent-visiter-box {
    margin: 0 10px;
}

#visiter-line {
    text-align: left;
    padding: 5px 0 5px 10px;
    background-color: rgb(250,250,250);
    font-size: 14px;
    color: rgb(100,100,100);
}

a.visiter-img {
    display: inline-block;
    width: 44px;
    height: 44px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.uper-img {
    width: 64px;
    height: 64px;
    display: inline-block;
}

.uper-info {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-left: 10px;
}

.uploader-link {
    font-size: 14px;
}

.uper-detail-info {
    font-size: 14px;
    color: rgb(150,150,150);
    display: inline-block;
}

.info-line {
    margin-bottom: 5px;
}

.info-line:last-child {
    margin-bottom: 0;
}

.video-statistic-entry {
    font-size: 14px;
    color: rgb(100,100,100);
    margin-right: 20px;
    display: inline-block;
}

.content-entry.comment {
    padding: 10px 25px;
}

.info-label {
    color: rgb(150,150,150);
}

.message-title {
    display: inline-block;
    margin-left: 5px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.message-time {
    margin-left: 10px;
    color: rgb(150,150,150);
}

.comment-content {
    color: rgb(50,50,50);
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media only screen and (min-width: 1550px) {

#space-navigation {
    width: 1438px;
}

#space-list-container {
    width: 1189px;
}

.message-title {
    max-width: 870px;
}

}
