#subscription-block {
  border: 1px solid rgb(200,200,200);
  width: 775px;
  margin-top: 20px;
  float: left;
  background-color: white;
}

#subscription-upers {
  float: right;
  width: 156px;
  border: 1px solid rgb(200,200,200);
  margin-top: 20px;
  background-color: white;
  margin-right: 20px;
}

.subscription-user-box {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid rgb(200,200,200);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 26px;
  font-size: 0;
}

.subscription-user-box.loading {
  display: block;
  padding: 30px;
  border: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.subscription-user-box.none {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 100px 0;
  color: rgb(150,150,150);
  border: 0;
}

.user-img {
  width: 64px;
  height: 64px;
  display: inline-block;
  font-size: 0;
}

.user-details {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-left: 10px;
}

.user-nickname {
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  font-size: 14px;
}

.subscriber-number {
  margin-top: 3px;
  font-size: 14px;
  color: rgb(150,150,150);
}

.subscribed {
  margin-top: 5px;
  margin-right: 10px;
}

.subscribe-button {
  width: 90px;
  text-align: center;
}

.content-entry {
  padding: 10px 25px;
}

div.activity-detail {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  width: 621px;
}

div.uploader-name, div.activity-title {
  margin-bottom: 2px;
  word-wrap: break-word;
  font-size: 0;
}

a.uploader-name, a.activity-title {
  font-size: 14px;
  vertical-align: top;
}

div.activity-detail label {
  font-size: 14px;
  color: rgb(150,150,150);
  margin-right: 5px;
  vertical-align: top;
}

div.activity-time {
  display: inline-block;
  font-size: 14px;
  color: rgb(100,100,100);
  margin-left: 10px;
  vertical-align: top;
}

div.activity-intro {
  color: rgb(100,100,100);
  font-size: 14px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

a.comment-check {
  margin-top: 5px;
  display: inline-block;
  font-size: 14px;
}

.video-img {
  width: 176px;
  height: 99px;
  display: block;
  margin-top: 5px;
}

.uper-page-container {
  overflow: hidden;
  max-height: 330px;
}

.upers-block {
  font-size: 0;
  padding-bottom: 15px;
  -webkit-transition: -webkit-transform .3s;  /* For Safari 3.1 to 6.0 */
  transition: transform .3s;
}

.quick-uper {
  margin-left: 20px;
  margin-top: 15px;
  display: inline-block;
}

.quick-uper.none {
  text-align: center;
  font-size: 16px;
  padding: 20px 20px 5px 20px;
  color: rgb(150,150,150);
  display: block;
  margin: 0;
}

.quick-uper.loading {
  padding: 30px;
  padding-bottom: 15px;
  margin: 0;
  display: block;
}

.user-img.quick {
  width: 48px;
  height: 48px;
}

.block-title-line {
  padding: 10px;
  font-size: 0;
  border-bottom: 1px solid rgb(230,230,230);
}

.pagination-arrows {
  font-size: 0;
  text-align: center;
}

.uper-page-arrow {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 5px 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color .3s; /* For Safari 3.1 to 6.0 */
  transition: background-color .3s;
}

.uper-page-arrow-image {
  display: inline-block;
  margin: 5px 12px;
  width: 20px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 0 -1146px;
  background-image: url("/static/img/basic_icons.png");
}

.uper-page-arrow.up .uper-page-arrow-image {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.uper-page-arrow:hover {
  background-color: rgba(210,210,210,0.5);
}

.uper-page-arrow:hover .uper-page-arrow-image {
  background-position: 0 -1162px;
}
